{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<meta name="description" content="Now with a new and improved UI: find courses with friends, view course reactions, and use Advanced Search to find the course that fits all your needs. Alternatively, explore new options with our recommendation engine – helping you find new and exciting courses on the fly. Not sure if the class is worthwhile? Instantly see what your peers think, alongside detailed comments from past course evaluations. Currently supporting course finding software for the Johns Hopkins University (JHU), the University of Toronto (UofT) and the University of Maryland (UMD).">
		<meta name="author" content="Noah Presler, Rohan Das, Felix Zhu, Max Yeo, Eric Calder">

		<!-- Facebook thumbnail info -->
		<meta property="og:title" content="Semester.ly - Course Scheduling Made Easy" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Semesterly" />
		<meta property="og:url" content="http://semester.ly" />
		<meta property="og:image" content="http://i.imgur.com/Eem4KTj.png" />
		<meta property="og:description" content="Now with a new and improved UI: find courses with friends, view course reactions, and use Advanced Search to find the course that fits all your needs. Alternatively, explore new options with our recommendation engine – helping you find new and exciting courses on the fly. Not sure if the class is worthwhile? Instantly see what your peers think, alongside detailed comments from past course evaluations." />
		<meta property="fb:admins" content="535129063" />

		<title>Semester.ly: Course Scheduling, Textbooks, Social & More</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo2.0-310x310.png' %}" />

		<link href="https://fonts.googleapis.com/css?family=Palanquin:500|Roboto:100,300,400" rel="stylesheet" type='text/css'>
		<link rel="stylesheet" href="{% static 'css/global.css'%}">
		<link rel="stylesheet" href="{% static 'css/about.css'%}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		 <!-- Google Analytics script -->
	    <script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	      ga('create', 'UA-68704308-1', 'auto');
	      ga('send', 'pageview');

	    </script>
	</head>
	<body>
		<header class="down">
			<div class="grid cf">
				<img id="semesterly-logo" src="/static/img/logo2.0-32x32.png">
				<h1>Semester.ly</h1>
				<nav>
					<!-- <a href="https://jhu.semester.ly">JHU</a>
					<a href="https://horario-tec.sger.li">ITCR</a> -->
					<!-- <a href="https://umd.semester.ly">UMD</a>
					<a href="https://uoft.semester.ly">UofT</a> -->
				</nav>
			</div>
		</header>
		<div id="page">
			<div class="grid cf">
				<div id="pre">
					<h1>Made by students, for students</h1>
				</div>
				<!-- TODO: Replace image with current team or something more long lasting? -->
				<!-- <div id="hero"></div> -->
				<div id="post">
					<h2>To make college more collaborative and stress-free by creating simple and effective tools which speak the millennial language.</h2>
				</div>
			</div>
			<div id="learn">
				<div class="about">
					<div class="grid cf">
						<div class="pre">
							
							<h2>Meet the team</h2>
						</div>
					</div>
					<div class="grid cf">
						<div class="col-1-1">
							<!-- TODO: fix the CSS for these sub-headers -->
							<h5>Our Current Team</h5>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/sebastiancabrejos.jpg)"></div>
							<h3 class="name">Sebastian Cabrejos</h3>
							<h4>Head | Program Manager | Software Engineer | JHU '22</h4>
							<div>
								<!-- TODO: FIX class tags to display correctly -->
								<a href="https://sebastiancabrejos.com"><i class="fa fa-fw fa-link fa-lg"></i></a>
								<a href="https://github.com/Boccca2014"><i class="fab fa-github fa-lg"></i></a>
								<a href="https://www.linkedin.com/in/sebastian-c2022/"><i class="fab fa-linkedin fa-lg"></i></a>
							</div>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">James Wang</h3>
							<h4>Software Engineer | JHU '23</h4>
							<div class="social">
								<a href="https://github.com/JJamesWWang"><i class="fab fa-github fa-lg"></i></a>
								<a href="https://www.linkedin.com/in/jjameswwang/"><i class="fab fa-linkedin fa-lg"></i></a>
							</div>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Jeanie Fung</h3>
							<h4>Software Engineer | JHU '23</h4>
							<div class="social">
								<a href="https://github.com/jwfung"><i class="fab fa-github fa-lg"></i></a>
								<a href="https://www.linkedin.com/in/jeanie-fung-4281b8161/"><i class="fab fa-linkedin fa-lg"></i></a>
							</div>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Ameya Dehade</h3>
							<h4>Software Engineer | JHU '24</h4>
						</div>
					</div>					
					<div class="grid cf">
						<div class="col-1-1">
							<h5>Our Founders</h5>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/noah.jpg)"></div>
							<h3 class="name">Noah Presler</h3>
							<h4>JHU '17 Alum</h4>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/rohan.jpg)"></div>
							<h3 class="name">Rohan Das</h3>
							<h4>JHU '17 Alum?? check</h4>
						</div>
						<div class="col-1-3 member">
							<div class="circular" style="background-image: url(/static/img/felix.jpg)"></div>
							<h3 class="name">Felix Zhu</h3>
							<h4>JHU '17 Alum?? check</h4>
						</div>
					</div>
					<div class="grid cf">
						<div class="col-1-1">
							<h5>Our Former Team Members</h5>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(https://i.postimg.cc/MZ0F1LV9/mia.png)"></div>
							<h3 class="name">Mia Boloix</h3>
							<h4>Former Program Manager | JHU '21</h4>
							<div>
								<a href="https://github.com/miaboloix"><i class="fab fa-github fa-lg"></i></a>
								<a href="https://www.linkedin.com/in/miaboloix/"><i class="fab fa-linkedin fa-lg"></i></a>
							</div>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/eric.jpg)"></div>
							<h3 class="name">Eric Calder</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/melissa.jpg)"></div>
							<h3 class="name long-name">Melissa Kaufman-Gomez</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/amlan.jpg)"></div>
							<h3 class="name">Amlan Nayak</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/max.jpg)"></div>
							<h3 class="name">Max Yeo</h3>
						</div>
						<div class="col-1-4 member">	
							<div class="circular" style="background-image: url(/static/img/william.jpg)"></div>
							<h3 class="name">William Yao</h3>
						</div>
						<div class="col-1-4 member push-2">
							<div class="circular" style="background-image: url(/static/img/neha.png)"></div>
							<h3 class="name">Neha Onteeru</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Ahmed Kamil</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Michael Miller</h3>
						</div>
						<div class="col-1-4 member">	
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Eddie Wang</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Sho Conte</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Tsukasa Kikuchi</h3>
						</div>
						<div class="col-1-4 member">
							<div class="circular" style="background-image: url(/static/img/blank.jpg)"></div>
							<h3 class="name">Filip Susic</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="grid cf">
				<div class="col-1-1">
					<ul>
						<li><a href="https://www.facebook.com/semesterly/" target="_blank">
							<i class="fa fa-facebook"></i>
							<span>Like us on Facebook</span>
						</a></li>
						<li><a href="mailto:contact@semester.ly">
							<i class="fa fa-at"></i>
							<span>Email us at contact@semester.ly</span>
						</a></li>
						<li><a href="https://semester.ly/termsofservice">
							<i class="fa fa-bookmark"></i>
							<span>Read our Terms of Service</span>
						</a></li>
						<li><a href="https://semester.ly/privacypolicy">
							<i class="fa fa-lock"></i>
							<span>Read our Privacy Policy</span>
						</a></li>
					</ul>
				</div>
				<h6>COPYRIGHT © 2016 SEMESTERLY TECHNOLOGIES, LLC.</h6>
			</div>
		</footer>

		<script src="https://kit.fontawesome.com/54815f8287.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/splash.js'%}"></script>
	</body>
</html>
