.react-alerts {
  bottom: 0;
  margin: 14px;
  position: fixed;
  right: 0;
  top: 14px;
  z-index: 999999;

  .alert {
    align-items: center;
    background-color: $g333;
    border-radius: 2px;
    box-shadow: 0 3px 12px 0 $black-transparent-3;
    color: $gfff;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    margin: 0;
    min-height: 50px;
    width: 300px;

    .content {
      flex: 1;
      text-align: center;
    }

    .icon {
      height: 32px;
      margin-left: -7px;
      width: 32px;
    }

    .message {
      flex: 3;
      padding: 0 -10px 0 0;
      text-transform: uppercase;
    }

    .close {
      background-color: $g444;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
      height: 50px;
      line-height: 50px;
    }

    &.hidden {
      display: none;
    }
  }

  .scale-enter {
    transform: scale(0);

    &.scale-enter-active {
      transform: scale(1);
      transition: transform 250ms cubic-bezier(0, 0, 0.5, 1.5);
    }
  }

  .scale-leave {
    transform: scale(1);

    &.scale-leave-active {
      transform: scale(0);
      transition: transform 250ms ease-in-out;
    }
  }

  .fade-enter {
    opacity: 0.1;

    &.fade-enter-active {
      opacity: 1;
      transition: opacity 250ms ease-out;
    }
  }

  .fade-leave {
    opacity: 1;

    &.fade-leave-active {
      opacity: 0.1;
      transition: opacity 250ms ease-in;
    }
  }

  .alert-extra {
    position: relative;
    text-transform: none;
    top: 12px;
  }

  .friends-in-class-alert-container {
    padding-left: 20px;
    width: 320px;

    .icon {
      display: none;
    }

    .close {
      height: 120px !important;
    }
  }
}

.alert {
  .icon {
    div {
      background-position: 50%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }

    .info-icon {
      background-image: url("../../img/alert/info.png");
    }

    .error-icon {
      background-image: url("../../img/alert/error.png");
    }

    .success-icon {
      background-image: url("../../img/alert/success.png");
    }
  }

  .close {
    &:hover {
      opacity: 0.55;
    }

    .close-light {
      background-image: url("../../img/alert/close-light.png");
      background-position: 50%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }

    .close-dark {
      background-image: url("../../img/alert/close-dark.png");
      background-position: 50%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
  }
}

.general-alert {
  font-size: 12px;
  margin-left: -12px;

  .alert-extra {
    line-height: 1;
  }
}

.general-alert-btn {
  background-color: $confirm-green;
  border: 0;
  border-bottom: 2px solid $confirm-green-darker;
  box-shadow: inset 0 -2px $confirm-green-darker;
  color: $gfff;
  cursor: pointer;
  height: 25px;
  margin-top: 10px;
  padding: 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 2px $black-transparent-25;
  vertical-align: top;
  width: 70%;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
    outline: none;
    top: 1px;
  }

  &:hover {
    background-color: $confirm-green-hover;
  }
}

.change-semester-alert {
  .general-alert-btn {
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
  }
}

.enable-notification-alert {
  h2 {
    font-size: 16px;
    margin: 0;
  }

  .alert-extra {
    font-size: 12px;
    line-height: 12px;
  }

  .decline-notifications {
    &,
    &:link,
    &:active,
    &:visited {
      color: $g999;
      cursor: pointer;
      display: block;
      margin-top: 25px;
      opacity: 0.77;
      transition: opacity 0.3s;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.enable-notifications-alert-icon {
  background: url("/static/img/alert/bell.png") center no-repeat;
  background-size: contain;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.friends-in-class-alert {
  margin: 0 10px;
  width: 230px;

  .general-alert-btn {
    background-color: $facebook;
    border-bottom: 2px solid $facebook-dark;
    box-shadow: inset -3px -2px $facebook-dark;
    font-size: 13px;
    height: 38px;
    margin-right: 2px;
    margin-top: 25px;
    padding-top: 0;

    &:hover {
      background-color: $facebook;
      border-bottom: 2px solid $facebook;
      box-shadow: none;
      margin-right: 0;
      margin-top: 26px;
      padding-top: 1px;
    }
  }

  .master-slot {
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .master-slot-content {
    text-align: left;
    text-transform: none;
    width: 190px;
  }

  .master-slot-actions {
    display: none;
  }
}

.friends-in-class-hide {
  display: none;
}

.friends-in-class-show {
  display: block;
}

.friends-in-class-done {
  color: $confirm-green-alt;
  display: block;
  font-size: 50px;
}

.friends-in-class-fb {
  margin-top: 20px;

  .abnb-btn {
    background: $gfff;
    border: 1px solid;
    border-color: $gc4c4c4;
    border-radius: 4px;
    color: $g484848;
    padding: 10px 40px 10px 13px !important;
    width: 100%;
  }

  .img-icon {
    padding-right: 20px;

    > i {
      font-size: 19px;
    }
  }

  .facebook-text {
    font-size: 13px;
  }
}
