.modal-loader {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
  filter: saturate(3);
  margin-top: 10%;
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;/**/
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
}
.modal-loader::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content:'';
  height:0.1;
  width:0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}
.modal-loader::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content:'';
  height:20px;
  width:20px;
  border-radius: 20px;
  background-color: white;
}
@keyframes loader {
  0% {border-bottom-color:transparent;border-top-color:#114357}
  25% {border-left-color:transparent;border-right-color:#826C75}
  50% {border-top-color:transparent;border-bottom-color:#F29492}
  75% {border-right-color:transparent;border-left-color:#826C75}
  100% {border-bottom-color:transparent;border-top-color:#114357}
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}
