.share-course-link-wrapper {
  @include theme() {
    background-color: t("share-link-wrapper");
    box-shadow: 0 0 12px t("share-link-shadow-1"), 0 0 1px t("share-link-shadow-2");
  }
  border-radius: 2px;
  max-width: 250px;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 20px;
  z-index: 2;
  display: inline-block;
  margin-top: 8px;
  font-size: 12px;
  cursor:default;
  .tip {
    @include theme() {
      border-color: transparent transparent t("share-link-wrapper");
    }
    right: 12px;
    top: -8px;
  }
  .tip-border {
    right: 12px;
    top: -9px;
    @include theme() {
      border-color: transparent transparent t("share-link-wrapper");
    }
  }
  .share-course-link {
    @include theme() {
      color: t("share-link-text");
    }
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    margin-top: 7px;
    max-width: 240px;
    width: auto;
    cursor: text;
    border: 1px solid $g222;
    padding: 0 5px;
  }
  .clipboardBtn {
    text-align: center;
    @include theme() {
      background-color: t("share-link-clipboard");
      color: t("share-link-clipboard-text");
    }
    margin-top: 8px;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  .clipboardSuccess {
    background: grey;
  }
  h5 {
    font-size: 16px;
    color: black;
    font-weight: 700;
    text-align: left;
    margin: 2px 4px 0;
  }
  h6 {
    font-size: 12px;
    color: black;
    text-align: left;
    margin: 10px 4px 0;
  }
}