.tb-image-wrapper {
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 95px;
}

.textbook {
  display: inline-block;
  float: none;
  padding: 5px;
  text-align: center;
  width: 95px;

  h4 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: $g555;
    display: -webkit-box;
    font-size: 11px;
    font-weight: 500;
    height: 25px;
    margin: 0 0 2px;
    overflow: hidden;
    transition: color .3s ease;

    &:hover {
      color: $textbook;
    }
  }

  h2 {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 2px;
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    padding: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
  }

  .required {
    background-color: $textbook;
    color: $gfff;
    font-size: 12px;
    position: relative;
    top: -12px;
    width: 60px;
    z-index: 10;

    &::after {
      border-color: $textbook transparent transparent $textbook;
      border-style: solid;
      border-width: 9px 4px;
      content: " ";
      margin-left: 4px;
      position: absolute;
    }
  }

  .amazon-buy {
    color: $primary-navy;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
  }
}

.textbook-ctn {
  display: inline-block;
}
