	<!-- START OF MAIN CONTENT BLOCK-->
	<!-- START OF HEADER-->
	<table class="table-600" width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center" style="background:#ffffff; text-align:center;">
		<tr>
			<td align="center" valign="top" bgcolor="#ffffff" style="padding: 0; margin: 0;font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 500; color: #00adee;">
				<div class="mbl" style="display:none; width:0px; height: 0px;max-height: 0; width: 0;">
					<img src="http://i.imgur.com/kImvm4q.jpg" border="0" class="mbl" style="display:none; width:0px; height:0px; " alt="Semester.ly Textbooks"/>
				</div>
				<img src="http://i.imgur.com/kImvm4q.jpg" width="600" height="auto" style="display: block;" border="0" class="no-mbl" alt="Semester.ly Textbooks"/>
			</td>
		</tr>
		<tr>
			<td class="body_text" valign="top" align="center" style="font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left; color:#6a6a6a; font-size:16px; line-height:30px; font-weight:400; padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:0px;">
				Hi {{ user.user.first_name }},
			</td>
		</tr>
		<tr>
			<td class="body_text" valign="top" align="center" style="font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left; color:#6a6a6a; font-size:16px; line-height:20px; font-weight:400; padding-left:30px; padding-right:30px; padding-top:5px; padding-bottom:20px;">
				It looks like some of the classes you have on your timetable have been completely filled.  The following classes are currently <span style="font-weight:700;color:#d8b44f;">waitlist only</span>
			</td>
		</tr>
	</table>
	<!-- END OF HEADER-->

	<table class="table-600" width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center" style="background:#ffffff; text-align:center;">
		{% for section in sections %}
			<tr><td class="horiz-row" style="padding-left:30px; padding-right:30px; padding-top:10px; padding-bottom:10px; text-align:left;font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center;">
				{{ section.course.name }} {{ section.meeting_section }}
			</td></tr>
		{% endfor %}
		<tr>
			<td class="horiz-row" style="padding-left:50px; padding-right:50px; padding-top:20px; padding-bottom:10px; text-align:left;font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center;">
				<a href="https://jhu.semester.ly/" style="background-color:#36debb; padding: 7px 15px; border-radius: 5px; margin-top:25px; text-decoration: none;">
					<span style="display:inline-block; vertical-align:middle; color:#fff; font-weight:700; font-size:14px; line-height: 20px; text-decoration: none;">Launch Semester.ly</span>
				</a>
			</td>
		</tr>
		<tr>
			<td class="body_text" valign="top" align="center" style="font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left; color:#6a6a6a; font-size:16px; line-height:20px; font-weight:400; padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:0px;">
				Find some backup classes now with Semester.ly and find a good schedule
			</td>
		</tr>
		<tr>
			<td class="body_text" valign="top" align="center" style="font-family:Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left; color:#6a6a6a; font-size:16px; line-height:20px; font-weight:400; padding-left:30px; padding-right:30px; padding-top:10px; padding-bottom:20px;">
				Good Luck!
			</td>
		</tr>
	</table>
