{% extends "header.html" %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/press.css'%}">
{% endblock %}

{% block body_block %}
    <div id="page">
		<div id="hero">
			<div class="grid cf">	
				<div class="col-1-1 about-text">
					<h1>Press</h1>
				</div>
			</div>
		</div>
		<div id="press">
			<div class="grid row">
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>
				</article>
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>  
				</article>
			</div>
			<div class="grid row">
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>
				</article>
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>  
				</article>
			</div>
			<div class="grid row">
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>
				</article>
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>  
				</article>
			</div>
			<div class="grid row">
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>
				</article>
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>  
				</article>
			</div>
			<div class="grid row">
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>
				</article>
				<article class="col-1-2 article">
					<div class="article-link">
						<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/"><img class="embed-image" src="http://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/semester101916.jpg?itok=2satXP8a"></a>
					</div>

	    			<div class="article-data">
		    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/">JHU loves Semesterly</a>
	    			</div>  

	    			<a href="http://hub.jhu.edu/2016/10/20/semesterly-scheduling-app/" class="article-overlay"></a>  
				</article>
			</div>
			<div class="grid row">
				<a class="col-1-1 learn-more" href="">Learn More</a>
			</div>
		</div>
	</div>
{% endblock %}