{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<meta name="description" content="Now with a new and improved UI: find courses with friends, view course reactions, and use Advanced Search to find the course that fits all your needs. Alternatively, explore new options with our recommendation engine – helping you find new and exciting courses on the fly. Not sure if the class is worthwhile? Instantly see what your peers think, alongside detailed comments from past course evaluations. Currently supporting course finding software for the Johns Hopkins University (JHU).">
		<meta name="author" content="Noah Presler, Rohan Das, Felix Zhu, Max Yeo, Eric Calder">

		<title>Semester.ly: Course Scheduling, Textbooks, Social & More</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo2.0-310x310.png' %}" />

		<!-- Facebook thumbnail info -->
		<meta property="og:title" content="Semester.ly - Course Scheduling Made Easy" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Semesterly" />
		<meta property="og:url" content="http://semester.ly" />
		<meta property="og:image" content="http://i.imgur.com/Eem4KTj.png" />
		<meta property="og:description" content="Now with a new and improved UI: find courses with friends, view course reactions, and use Advanced Search to find the course that fits all your needs. Alternatively, explore new options with our recommendation engine – helping you find new and exciting courses on the fly. Not sure if the class is worthwhile? Instantly see what your peers think, alongside detailed comments from past course evaluations." />
		<meta property="fb:admins" content="535129063" />

		<link href="https://fonts.googleapis.com/css?family=Palanquin:500|Roboto:100,300,400" rel="stylesheet" type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/global.css'%}">
		<link rel="stylesheet" href="{% static 'css/student/profile.css'%}">

	</head>
	<body>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1650567028525136";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<header class="down">
			<div class="grid cf">
				<img id="semesterly-logo" src="/static/img/logo2.0-32x32.png">
				<h1>Semester.ly</h1>
				<nav>
					<div class="desktop-nav">
						<a href="https://jhu.semester.ly">JHU</a>
					</div>
					<div id="schools-dropdown" class="mobile-nav">
						<div class="mobile-nav-label">
							<span>Schools</span>
							<span class="tip-down"></span>
						</div>
						<div class="nav-dropdown">
							<div class="tip-border"></div>
							<div class="tip"></div>
							<div class="nav-dropdown-list">
								<a href="https://jhu.semester.ly">JHU</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<div id="profile-page">
			<div id="profile-banner" style="background-image: url({% static 'img/school_bgs/jhu_bg.jpg'%});">
				<div id="filter"></div>
				<div id="profile-banner-content">
					<h1>{{ name.first_name }} {{ name.last_name }}</h1>
					<h2>{{ major }}, Class of {{ class }}</h2>
				</div>
				<div id="profile-image">
					<div id="profile-image-social" style="background-image: url({{ img_url }});"></div>
				</div>
			</div>
			<div id="profile-body">

				<!-- Bio -->
				<!-- <div class="grid cf">
					<p class="col-1-2 push-4 profile-bio">
						Max is a member of the class of 2017, majoring in Computer Science and minoring in Entrepreneurship & Management. Outside of the classroom, Max is the Publicity Chair for SLAM Hip Hop Dance Group and enjoys paying Water Polo in his free time.
					</p>
				</div> -->

				<!-- Reaction Counter -->
				<div id="reaction-counter">
					<h3><span>{{ total }}</span>Total Reactions</h3>
					<div id="reactions">
						<div class="reaction-mobile-split">
							<div class="reaction">
								<img class="emoji" draggable="false" alt="🔥" src="https://twemoji.maxcdn.com/2/72x72/1f525.png">
								<div class="emoji-count">
									<span>{{ FIRE }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Must Take</span>
								</div>
							</div>
							<div class="reaction">
								<img class="emoji" draggable="false" alt="😍" src="https://twemoji.maxcdn.com/2/72x72/1f60d.png">
								<div class="emoji-count">
									<span>{{ LOVE }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Love It</span>
								</div>
							</div>
							<div class="reaction">
								<img class="emoji" draggable="false" alt="💩" src="https://twemoji.maxcdn.com/2/72x72/1f4a9.png">
								<div class="emoji-count">
									<span>{{ CRAP }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Crap Class</span>
								</div>
							</div>
							<div class="reaction">
								<img class="emoji" draggable="false" alt="😐" src="https://twemoji.maxcdn.com/2/72x72/1f610.png">
								<div class="emoji-count">
									<span>{{ OKAY }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>It's Aight</span>
								</div>
							</div>
						</div>
						<div class="reaction-mobile-split">
							<div class="reaction">
								<img class="emoji" draggable="false" alt="😴" src="https://twemoji.maxcdn.com/2/72x72/1f634.png">
								<div class="emoji-count">
									<span>{{ BORING }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Boring</span>
								</div>
							</div>
							<div class="reaction">
								<img class="emoji" draggable="false" alt="😩" src="https://twemoji.maxcdn.com/2/72x72/1f629.png">
								<div class="emoji-count">
									<span>{{ HARD }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Hard</span>
								</div>
							</div>
							<div class="reaction">
								<img class="emoji" draggable="false" alt="💯" src="https://twemoji.maxcdn.com/2/72x72/1f4af.png">
								<div class="emoji-count">
									<span>{{ EASY }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Easy</span>
								</div>
							</div>
							<div class="reaction">
								<img class="emoji" draggable="false" alt="🤓" src="https://twemoji.maxcdn.com/2/72x72/1f913.png">
								<div class="emoji-count">
									<span>{{ INTERESTING }}</span>
								</div>
								<div class="reaction-dropdown">
									<div class="tip-border"></div>
									<div class="tip"></div>
									<span>Interesting</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Linked Accounts -->
				<div id="linked-accounts">
					<h3>Linked Accounts</h3>
					{% if hasGoogle %}
						<div class="list-item">
							<img class="google-logo" src="https://a0.muscache.com/airbnb/static/signinup/google_icon_2x-745c2280e5004d4c90e3ca4e60e3f677.png">
							<p>Google</p>
						</div>
					{% else %}
						<div class="list-item link">
							<img class="google-logo" src="https://a0.muscache.com/airbnb/static/signinup/google_icon_2x-745c2280e5004d4c90e3ca4e60e3f677.png">
							<a href="signup">Signup with Google</a>
						</div>
					{% endif %}
					{% if hasFacebook %}
						<div class="list-item">
							<i class="fa fa-facebook-official" aria-hidden="true" style="color:#3b5998;"></i><p>Facebook</p>
						</div>
					{% else %}
						<div class="list-item link">
							<i class="fa fa-facebook-official" aria-hidden="true" style="color:#3b5998;"></i>
							<a href="signup">Signup with Facebook</a>
						</div>
					{% endif %}
				</div>

				<!-- NOtifications -->
				<div id="notifications">
					<h3>Notifications</h3>
					{% if notifications %}
						<div class="list-item">
							<i class="fa fa-check" aria-hidden="true" style="color:green;"></i><p>Chrome Notifications enabled</p>
						</div>
					{% else %}
						<div class="list-item">
							<i class="fa fa-times" aria-hidden="true" style="color:#c70f0f;"></i><p>Notifications are not enabled</p>
						</div>
						<div class="list-item link">
							<img src="http://jhu.sem.ly:8000/static/img/chrome.png">
							<a href="notifyme">Enable Chrome Notifications</a>
						</div>
					{% endif %}
				</div>

				<!-- Date Joined -->
				<div id="join-date">
					<p>Joined {{ student.time_created }}</p>
					<div class="fb-like" data-href="https://www.facebook.com/semesterly/" data-width="40px" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
				</div>
			</div>
		</div>
		<footer>
			<div class="grid cf">
				<div class="col-1-1">
					<ul>
						<li><a href="https://www.facebook.com/semesterly/" target="_blank">
							<i class="fa fa-facebook"></i>
							<span>Like us on Facebook</span>
						</a></li>
						<li><a href="mailto:contact@semester.ly">
							<i class="fa fa-at"></i>
							<span>Email us at contact@semester.ly</span>
						</a></li>
					</ul>
				</div>
				<h6>COPYRIGHT © 2017 SEMESTERLY TECHNOLOGIES, LLC.</h6>
			</div>
		</footer>

		<!-- Google Analytics script -->
	    <script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	      ga('create', 'UA-68704308-1', 'auto');
	      ga('send', 'pageview');
	    </script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	    <script type="text/javascript" src="{% static 'js/splash.js'%}"></script>

    </body>
</html>
