{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Facebook thumbnail info -->
    <meta property="og:title" content="Semester.ly - Course Scheduling Made Easy" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Semesterly" />
    <meta property="og:url" content="http://semester.ly" />
    <meta property="og:image" content="http://i.imgur.com/oVPf2un.png" />
    <meta property="og:description" content="Want mornings or evenings free? Fridays off? Just pick your courses and Semester.ly will find the schedule that fits your life best. Share with friends with the click of a button!" />
    <meta property="fb:admins" content="535129063" />

    <title>Semester.ly</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">


    <link href="{% static 'css/layout.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/timetable/drawer.css' %}">

    <link rel="stylesheet" href="{% static 'css/timetable/tutorial.css' %}">

    <link rel="stylesheet" href="{% static 'css/timetable/fullcalendar.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/timetable/new_timetable.css' %}">

    <link rel="stylesheet" href="{% static 'css/timetable/flat-ui.css' %}">
    <link rel="stylesheet" media="screen and (max-width:500px)" href="{% static 'css/timetable/mobile.css' %}">
    <link rel="stylesheet" media="screen and (min-width:500px) and (max-width:699px)" href="{% static 'css/timetable/tablet.css' %}">
    <link rel="stylesheet" media="screen and (min-width:700px)" href="{% static 'css/timetable/mobile.css' %}">


    <!-- Google analytics script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68704308-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
    <body>

      <!-- Top navbar -->
      <nav class="navbar" id="mobile-navbar" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Semesterly</a>
          <form class="navbar-form" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01" id="menu-toggle"></button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <!-- top navbar collapse -->
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav">
            <li><a href="#fakelink">Preferences</a>
              <ul>
                <div class="preference-item">
                  <div class="preference-text"><li> No early classes </li></div>
                  <div class="preference-toggle">
                    <div class="bootstrap-switch-square">
                      <input type="checkbox" checked data-toggle="switch" name="switch-13" data-on-text="<i class='fui-check'></i>" data-off-text="<i class='fui-cross'></i>" id="custom-switch-13" />
                    </div>
                  </div>
                </div>
                <div class="preference-item">
                  <div class="preference-text"><li> No late classes </li></div>
                  <div class="preference-toggle">
                    <div class="bootstrap-switch-square">
                      <input type="checkbox" checked data-toggle="switch" name="switch-13" data-on-text="<i class='fui-check'></i>" data-off-text="<i class='fui-cross'></i>" id="custom-switch-13" />
                    </div>
                  </div>
                </div>
                <div class="preference-item">
                  <div class="preference-text"><li> Allow conflicts </li></div>
                  <div class="preference-toggle">
                    <div class="bootstrap-switch-square">
                      <input type="checkbox" checked data-toggle="switch" name="switch-13" data-on-text="<i class='fui-check'></i>" data-off-text="<i class='fui-cross'></i>" id="custom-switch-13" />
                    </div>
                  </div>
                </div>
              </ul>
            </li>
            <li><a href="#fakelink">Profile</a></li>
              <ul>
                <div class="profile-text"><li>Favorites</li></div>
              </ul>
              <ul>
                <div class="profile-text"><li>Friends</li></div>
              </ul>
              <ul>
                <div class="profile-text"><li>Sign Out</li></div>
              </ul>
          </ul>
        <hr id="collapse-hr">
        </div><!-- /.navbar-collapse -->
      </nav><!-- /top navbar -->

      <!-- content -->
      <div class="container">
        <!-- calendar container -->
        <div class="cal-container">
          <div id="calendar" class="fc fc-ltr fc-unthemed">
            <div class="fc-toolbar">

              <div class="fc-center">
                <h2>Fall 2016</h2>
              </div>
              <div class="fc-clear"></div>
            </div>
            <div class="fc-view-container" style="">
              <div class="fc-view fc-agendaWeek-view fc-agenda-view">
                <table>
                  <thead>
                    <tr>
                      <td class="fc-widget-header">
                        <div class="fc-row fc-widget-header" style="border-right-width: 1px;margin-right:14px;">
                          <table>
                            <thead>
                              <tr>
                                <th class="fc-axis fc-widget-header" style="width: 42px;"></th>
                                <th class="fc-day-header fc-widget-header fc-mon">Mon </th>
                                <th class="fc-day-header fc-widget-header fc-tue">Tue </th>
                                <th class="fc-day-header fc-widget-header fc-wed">Wed </th>
                                <th class="fc-day-header fc-widget-header fc-thu">Thu </th>
                                <th class="fc-day-header fc-widget-header fc-fri">Fri </th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fc-widget-content">
                        <div class="fc-day-grid">
                          
                            <div class="fc-content-skeleton">
                              <table>
                                <tbody>
                                  <tr>
                                    <td class="fc-axis" style="width:42px"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <div class="fc-time-grid-container fc-scroller" id="calendar-inner">
                          <div class="fc-time-grid">
                            <div class="fc-bg">
                              <table>
                                <tbody>
                                  <tr>
                                    <td class="fc-axis fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-day fc-widget-content fc-mon"></td>
                                    <td class="fc-day fc-widget-content fc-tue"></td>
                                    <td class="fc-day fc-widget-content fc-wed"></td>
                                    <td class="fc-day fc-widget-content fc-thu"></td>
                                    <td class="fc-day fc-widget-content fc-fri"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="fc-slats">
                              <table>
                                <tbody>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>8am</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>9am</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>10am</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>11am</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>12pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>1pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>2pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>3pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>4pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>5pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>6pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>7pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>8pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>9pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>10pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr>
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"><span>11pm</span></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                  <tr class="fc-minor">
                                    <td class="fc-axis fc-time fc-widget-content" style="width: 42px;"></td>
                                    <td class="fc-widget-content"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <hr class="fc-widget-header" style="display: none;">
                            <div class="fc-content-skeleton" id="slot-manager">
                             
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer class="footer navbar">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#">Contact us</a></li>
          <li role="presentation"><a href="#">Press</a></li>
        </ul>
      </footer>

      <!-- Libraries -->
      <script type="text/javascript" src="{% static 'js/hashids/hashids.js' %}"></script>

      <script type="text/javascript" src="https://fb.me/react-0.14.3.js"></script>
      <script type="text/javascript" src="https://fb.me/react-dom-0.14.3.js"></script>

      <script type="text/javascript" src="{% static 'js/zeroclipboard/dist/ZeroClipboard.js'%}"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

      <!-- ReactJS compiled files -->
      <script type="text/javascript" src="{% static 'js/gulp/application.js'%}"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{% static 'js/new_timetable/flat-ui.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/new_timetable/application.js' %}"></script>
    </body>
</html>