{
  "presets": ["es2015", "react"],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }],
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-rest-spread"
      ]
    }
  }
}
