[run]
source =
    ./timetable
    ./courses
    ./student

include =
    timetable/views.py
    timetable/serializers.py
    courses/views.py
    courses/serializers.py
    student/views.py
    student/serializers.py
