[run]
source =
    ./timetable
    ./courses
    ./student

branch = True

include =
    timetable/views.py
    timetable/serializers.py
    courses/views.py
    courses/serializers.py
    student/views.py
    student/serializers.py

[report]
show_missing = True
skip_covered = True

[html]
title = htmlReport
