assets/*
backup.sh
client_secret.json
.coverage
deploy.sh
dev_env/
dev_requirements.txt
docs/_build
docs/build/
.DS_Store
env/
github-request-body
.idea/
*.log
*.log
logfile.txt
node_modules
npm-debug.log.*
openssl.cnf
parse_errors.log
parsing/**/data/*.json
parsing/**/logs/*.json
parsing/**/logs/*.log
*.pid
prod_env/
*.pyc
*.recommended.model
recommended.model
scripts/parser_library/ex_school/data/*
sections
semes/
semesterly_backup/
semesterly/local_settings.py
semesterly/secret_key.py
semesterly/secrets.py
semesterly/sensitive.py
semesterly-venv/
sensitive.py
ssl.crt
ssl.key
static/bundles/*
static/css/gulp/*
static/js/gulp/*
static/robots.txt
static/sitemap.txt
*.swp
*/test_failures/
TextbookParserOutput.txt
timetable/courses_json/*.json
*.timetable.features
timetable.features
.vagrant/
Vagrantfile
venv/
.vscode/
webpack-stats.json
workfile.html
cache
stunnel/
staticfiles

*.env
.devcontainer/
