semesterly/local_settings.py
*.pyc
env/
venv/
dev_env/
prod_env/
dev_requirements.txt
*.log
node_modules
deploy.sh
.DS_Store
timetable/courses_json/*.json
TextbookParserOutput.txt
workfile.html
semes/
documentation/build
parse_errors.log
static/js/gulp/*
static/css/gulp/*
logfile.txt
semesterly/sensitive.py
semesterly-venv/
github-request-body
static/robots.txt
static/sitemap.txt
sections
openssl.cnf
ssl.crt
ssl.key
semesterly_backup/
recommended.model
timetable.features
*.recommended.model
*.timetable.features
docs/build/
scripts/parser_library/ex_school/data/*
*.log
scripts/**/data/*.json
scripts/*/data/*.json
scripts/*/logs/*.json
*.swp
.idea/
.coverage
