os: linux
sudo: required
dist: trusty
language: node_js
node_js:
- 7.1.0
env:
  matrix:
  - NODE_ENV=production
branches:
  only:
  - master
  - staging
cache:
  apt: true
  directories:
  - node_modules
  - $HOME/.npm
  - $HOME/.cache/pip
before_install:
- pip install --upgrade pip
install:
- npm -g install webpack
- npm -g install chromedriver
- npm -g install jest babel-jest
- npm install
- pip install --user -r requirements.txt
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
  hosts:
  - jhu.sem.ly
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
script:
- npm run build
- npm run lint
- npm run test
- python manage.py test
- make html -C docs
