.widget-reactions { 
    background-color: lightgray;;
    position: relative;
}

.widget-reactions svg {
    position: absolute;
    opacity: 0.4;
    fill-opacity: 0.4;
    left: 0px;
    top: 0px;
}

.widget-reactions h1, h2 {
    position: relative;
    z-index: 99;
}

.widget-reactions h1 { 
    color: rgba(255, 255, 255, 0.7);
}

.widget-reactions .more-info {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
}

.widget-reactions .domain {
    display: none;
}

