.widget-signups-per-day { 
    background-color: lightgray;
    position: relative;
}

.widget-signups-per-day svg {
    position: absolute;
    opacity: 0.4;
    fill-opacity: 0.4;
    left: 0px;
    top: 0px;
}

.widget-signups-per-day h1, h2 {
    position: relative;
    z-index: 99;
}

.widget-signups-per-day h1 { 
    color: rgba(255, 255, 255, 0.7);
}

.widget-signups-per-day .more-info {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
}

.widget-signups-per-day .domain {
    display: none;
}

