.widget-timetables {
    background-color: #a5bf10;
}

.widget-timetables h1 { 
    color: rgba(255, 255, 255, 0.7);
}

.widget-timetables h2 {
    color: #fff;
}

.widget-timetables .detail {
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}

.widget-timetables .more-info {
    color: rgba(255, 255, 255, 0.7);
}

.widget-timetables .updated-at {
    color: rgba(0, 0, 0, 0.3);
}
