{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Semester.ly Analytics</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css">
  <link rel="stylesheet" href="{% static 'css/analytics/analytics.css' %}">
</head>

<body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

  <div id="analytics-container">
  </div>
  <ul>
    <li>
      <h4>Total number of Timetables: {{total_timetables}}</h4>
    </li>
    <li>
      <h4>Total number of Shared timetables: {{total_shared_timetables}}</h4>
    </li>
    <li>
      <h4>Total number of Personal timetables: {{total_personal_timetables}}</h4>
    </li>
    <li>
      <h4>Total signups: {{total_signups}}</h4>
    </li>
    <li>
      <h4>Total number of calendar exports: {{total_calendar_exports}}</h4>
    </li>
    <li>
      <h4>Number of calendar exports by unique users: {{unique_users_calendar_exports}}</h4>
    </li>
  </ul>



  <!-- Analytics displayed with graphs -->
  <script type="text/javascript">
    var num_users_by_class_year = JSON.parse("{{num_users_by_class_year|escapejs}}");
    var signups_per_hour = JSON.parse("{{signups_per_hour|escapejs}}");
  </script>

  <h4>Number of users by class year:</h4>
  <div id="chart-wrapper">
    <canvas id="num_users_by_class_year"></canvas>
  </div>
  
  <h4>Number of signups per day for the past week:</h4>
  <div id="chart-wrapper">
    <canvas id="signups_chart"></canvas>
  </div>



  <script>
    // Process and get all the data for graphs

    // Colors for each school.
    // TODO: user COLOURS_DATA in constants.jsx.
    var primary_colors = ["#FD7473", "#5CCCF2", "#36DEBB", "#FFD462", "#C585DE", "#53e997", "#D4DBC8", "#E7F76D", "#A3F5F2", "#7499A2",
      "#C8F7C5", "#4c7fd8"];
    var secondary_colors = ["#e36867", "#52b7d9", "#30c7a8", "#e5be58", "#b177c7", "#4ad187", "#B5BFA3", "#C9E20A", "#7CD2CF", "#668B94",
      "#C4D44D", "#6598f1"];
    Chart.defaults.global.responsive = true;

    var num_users_by_class_year_data = {
      labels: Object.keys(num_users_by_class_year),
      datasets: [
        {
          data: Object.keys(num_users_by_class_year).map(function (key) { return num_users_by_class_year[key] }),
          backgroundColor: primary_colors,
          hoverBackgroundColor: secondary_colors
        }]
    };

    var signups_per_hour_data = {
      labels: ["-6", "-5", "-4", "-3", "-2", "-1", "Now"],
      datasets: [
        {
          label: "# Signups",
          fill: false,
          lineTension: 0.1,
          backgroundColor: primary_colors[0],
          borderColor: secondary_colors[0],
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: signups_per_hour,
        }
      ]
    }

    // Display the data in appropriate graphs
    var ytx = document.getElementById("num_users_by_class_year");
    var UsersByYearPieChart = new Chart(ytx, {
      type: 'pie',
      data: num_users_by_class_year_data,
    });

    var utx = document.getElementById("signups_chart");
    var SignupsPieChart = new Chart(utx, {
      type: 'line',
      data: signups_per_hour_data,
    });
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://fb.me/react-0.14.3.js"></script>
  <script type="text/javascript" src="https://fb.me/react-dom-0.14.3.js"></script>
  <!-- <script type="text/javascript" src="{% static 'js/gulp/analytics_application.js' %}"></script> -->
  
</body>

</html>