{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Semester.ly Analytics</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css">

    <link rel="stylesheet" href="{% static 'css/analytics/analytics.css' %}">

   
  </head>
  <body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    <div id="analytics-container">
    </div>
    <h3>Total number of Timetables: {{total_timetables}}</h3>

    <h3>:</h3>  
    {% for num_timetables in timetables_per_hour %}
    <div>
        <p>{{ forloop.counter }}: {{ num_timetables }}</p>
    </div>
    {% endfor %}

    <h3>Total number of timetalbes for Fall semester: {{total_timetables_fall}}</h3>

    <h3>Total number of Timetables for Spring semester: {{total_timetables_spring}}</h3>

    <h3>Total number of JHU Timetables: {{jhu_timetables}}</h3>  
    <h4>Most popular courses in JHU:</h4>  
    {% for course in jhu_most_popular_courses %}
    <div>
        <p>{{ course.name }}</p>
    </div>
    {% endfor %}

    <h3>Total number of UOFT Timetables: {{uoft_timetables}}</h3>
    <h4>Most popular courses in UOFT:</h4>  
    {% for course in uoft_most_popular_courses %}
    <div>
        <p>{{ course.name }}</p>
    </div>
    {% endfor %}
    
    <h3>Total number of UMD Timetables: {{umd_timetables}}</h3>
    <h4>Most popular courses in UMD:</h4>  
    {% for course in umd_most_popular_courses %}
    <div>
        <p>{{ course.name }}</p>
    </div>
    {% endfor %}
    

    <h3>Most popular reaction: {{most_popular_reaction}}</h3>



    <h3>Number of timetalbes created per hour for the past 24 hours:</h3>

    <script type="text/javascript">
      var timetables_per_hour = JSON.parse("{{timetables_per_hour|escapejs}}");
    </script>

    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    var timetables_per_hour_data = {
        labels: ["-23", "-22", "-21", "-20", "-19", "-18", "-17","-16", "-15", "-14", "-13", "-12", "-11", "-10","-9", "-8", "-7", "-6", "-5", "-4", "-3", "-2", "-1", "Now"],
        datasets: [
            {
                label: "# Timetables created",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: timetables_per_hour,
            }
        ]
    };
    var ctx = document.getElementById("myChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: timetables_per_hour_data,
    });
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://fb.me/react-0.14.3.js"></script>
    <script type="text/javascript" src="https://fb.me/react-dom-0.14.3.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/gulp/analytics_application.js' %}"></script>-->

  </body>
</html>
