/**
 * 1.0 Clearings and Grid
 */

.grid {
    display: block;
    width: 100%;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

[class^="col-"] {
    display: block;
    width: 100%;
}

@media (min-width: 767px){
    [class^="col-"] {
        float: left;
    }
    .grid{
        padding: 0 40px;
    }
    .col-1-16 {
      width: 6.25%;
    }
    .col-2-16 {
      width: 12.5%;
    }
    .col-3-16 {
      width: 18.75%;
    }
    .col-4-16 {
      width: 25%;
    }
    .col-5-16 {
      width: 31.25%;
    }
    .col-6-16 {
      width: 37.5%;
    }
    .col-7-16 {
      width: 43.75%;
    }
    .col-8-16 {
      width: 50%;
    }
    .col-9-16 {
      width: 56.25%;
    }
    .col-10-16 {
      width: 62.5%;
    }
    .col-11-16 {
      width: 68.75%;
    }
    .col-12-16 {
      width: 75%;
    }
    .col-13-16 {
      width: 81.25%;
    }
    .col-14-16 {
        width: 87.5%;
    }
    .col-15-16 {
        width: 93.75%;
    }
    .col-16-16 {
        width: 100%;
    }
    /* 1 of 2's */
        .col-1-2 {
          width: 50%;
        }
    /* 1 of 3's */
        .col-1-3 {
            width: 33.33333%;
        }
        .col-2-3 {
            width: 66.66667%;
        }
    /* 1 of 4's */
        .col-1-4 {
            width: 25%;
        }
        .col-2-4 {
            width: 50%;
        }
        .col-3-4 {
            width: 75%;
        }
    /* 1 of 6's */
        .col-1-6 {
            width: 16.66667%;
        }
        .col-2-6 {
            width: 33.33333%;
        }
        .col-3-6 {
            width: 50%;
        }
        .col-4-6 {
            width: 66.66667%;
        }
        .col-5-6 {
            width: 83.33333%;
        }
    /* @group push */
        .push-1 {
          margin-left: 6.25%;
        }
        .push-2 {
          margin-left: 12.5%;
        }
        .push-3 {
          margin-left: 18.75%;
        }
        .push-4 {
          margin-left: 25%;
        }
        .push-5 {
          margin-left: 31.25%;
        }
        .push-6 {
          margin-left: 37.5%;
        }
        .push-7 {
          margin-left: 43.75%;
        }
        .push-8 {
          margin-left: 50%;
        }
        .push-9  {
          margin-left: 56.25%;
        }
        .push-10 {
          margin-left: 62.5%;
        }
        .push-11 {
          margin-left: 68.75%;
        }
        .push-12 {
          margin-left: 75%;
        }
        .push-13 {
          margin-left: 81.25%;
        }
        .push-14 {
            margin-left: 87.5%;
        }
        .push-15 {
            margin-left: 93.75%;
        }
    /* @end */
}

.cf:before,
.cf:after,
.grid:before,
.grid:after {
    content: "";
    display: table;
}

.cf:after,
.grid:after {
    clear: both;
}

.cf,
.grid {
    *zoom: 1;
}

/**
 * 2.0 Typography
 */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
}