body {
	background-color:#222;
}
.semesterly-timer{
	width:75%;
	margin: 100px auto;
	color:#fff;
	display:block;
}


.timer-box {
	background-color:rgb(30, 117, 189);
	width: 23%;
	margin-left:1%;
	height:20%;
	min-height:150px;
	float: left;
	position:relative;
}
.timer-remaining,.timer-label {
/*	background-color:rgba(242,33, 232, 0.2);
*/
	width:100%;
}
.timer-label {
	position:absolute;
	bottom:0;
}
.timer-text, .label-text {
/*	background-color:rgba(10,131, 232, 0.2);
*/	width:50%;
	margin:0 auto;
	text-align:center;

}
.timer-text{
	font-size:80px;
}
.label-text {
	font-size:18px;
	margin-bottom:5px;
}

.timer-header {
	width:100%;
	font-size:60px;
	color:#fff;
	margin-bottom:70px;

	text-align:center;
}
	
.go {
	margin-top:220px;
	width:100% !important;
	height:50px;
	position:absolute;
	text-align:center;
}
.go-arrow{
	font-size:30px;
	margin-left:20px;
}

a {
  background-color: #16A085;
  padding:15px 30px;
  font-size:30px;
  color: #F7D1EC;
  transition:all 0.3s;
}


a:hover {
	background-color:#2ABB9B;
	color: #fff;
	text-decoration: none;
}

