* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	height: 100%;
	background-color: #F3F3F3;
	font-family: "Roboto",Arial,sans-serif;
}

h1, h2, h5 {
	font-family: "Palanquin",Arial,sans-serif;
	font-weight: 500;
}

h5 {
	font-family: "Palanquin",Arial,sans-serif;
	font-weight: 500;
}

/* Header */
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 50px;
	padding: 10px;
	color: #253340;
	background-color: rgba(252, 252, 252, .95);
	border-bottom: 1px solid #DDD;
	transition: background-color .3s, border .3s;
}
header.down {
	background-color: transparent;
	border-bottom: 1px solid transparent;
}
header h1 {
	float: left;
	font-size: 26px;
	line-height: 30px;
	margin: 0 10px 0;
}
#semesterly-logo {
	height: 32px;
	float: left;
}
header nav {
	float: right;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
}

header nav a,
header nav a:link,
header nav a:active,
header nav a:visited {
	margin-right: 10px;
	color: rgb(37, 51, 64);
	text-decoration: none;
	transition: color .2s;
}

header nav a:hover {
	color: #3498DB;
}

/* Page Content */
#page {
	width: 100%;
	padding-top: 50px;
	background-color: #F3F3F3;
}

/* Hero */
#hero {
	width: 100%;
	background-color: #F3F3F3;
	position: relative;
}

#hero h2 {
	color: white;
	font-size: 48px;
	line-height: 55px;
}

#about-image {
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	background-size: cover;
	background-position: top center;
	background-image: url(/static/img/about-us.jpg);
}

.img-circle {
    border-radius: 50%;
}

.circular {
	width: 100%;
	height: auto;
	padding-bottom: 100%;
	border-radius: 50%;
	background-size: cover;
}

.name {
	line-height: 250%;
}

.bubble-wrapper {
	width: 100%;
	height: auto;
	padding: 10%;
}

#hero .member {
	width: 100%;
	height: 180px; 
}

.about-text {
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.about h2 {
	font-size: 42px;
	line-height: 50px;
	font-weight: 300;
	margin: 20px 0 0;
	color: #666;
}
.about h5 {
	font-size: 16px;
	font-weight: 100;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #555;
	padding: 40px;
}

.about .center h4 {
	font-size: 18px;
	font-weight: 400;
	color: #222;
	margin: 10px auto 0;
	max-width: 700px;
	line-height: 24px;
}

#learn {
	position: relative;
	text-align: center;
}

#about {

}

.mission {
	padding: 120px 0;
	font-size: 0;
	border-bottom: 1px solid #ddd;
	position: relative;
}

.row {
	position: relative; 
	width: 100%;
	max-width: 600px; 
	margin:; 0 auto; 
	padding: 20px; 
	text-align: center;
}

#semesterly-logo {
	height: 32px;
	float: left;
}

header nav {
	float: right;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
}

header nav a,
header nav a:link,
header nav a:active,
header nav a:visited {
	margin-right: 10px;
	color: rgb(37, 51, 64);
	text-decoration: none;
	transition: color .2s;
}

header nav a:hover {
	color: #3498DB;
}

footer {
	background-color: #253340;
	padding: 40px 0 10px;
}
footer ul {
	list-style-type: none;
	padding: 0 0 40px 0;
	margin: 0;
}
footer ul li {
	margin: 10px 0;
}
footer ul li a, 
footer ul li a:link, 
footer ul li a:active, 
footer ul li a:visited {
	color: #ddd;
	font-size: 14px;
	text-decoration: none;
}
footer ul li a:hover {
	text-decoration: underline;
}
footer ul li a i {
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 100%;
	margin-right: 5px;
}
footer ul li a i.fa-facebook {
	line-height: 24px;
	background-color: #3b5998;
}
footer ul li a i.fa-at {
	line-height: 24px;
	background-color: #409036;
}
footer h6 {
	text-align: center;
	font-size: 10px;
	color: #777;
	margin: 0;
}