/**
 * 1.0 Clearings and Grid
 */

.grid {
	display: block;
	width: 100%;
	max-width: 1280px;
	padding: 0 10px;
	margin: 0 auto; 
}

[class^="col-"] {
	display: block;
	width: 100%; 
}

@media (min-width: 767px){
	[class^="col-"] {
		float: left;
	}
	.grid{
		padding: 0 40px;
	}
	.col-1-16 {
		width: 6.25%; 
	}
	.col-2-16 {
		width: 12.5%;
	}
	.col-3-16 {
		width: 18.75%;
	}
	.col-4-16 {
		width: 25%;
	}
	.col-5-16 {
		width: 31.25%;
	}
	.col-6-16 {
		width: 37.5%;
	}
	.col-7-16 {
		width: 43.75%;
	}
	.col-8-16 {
		width: 50%;
	}
	.col-9-16 {
		width: 56.25%;
	}
	.col-10-16 {
		width: 62.5%;
	}
	.col-11-16 {
		width: 68.75%;
	}
	.col-12-16 {
		width: 75%;
	}
	.col-13-16 {
		width: 81.25%;
	}
	.col-14-16 {
		width: 87.5%;
	}
	.col-15-16 {
		width: 93.75%;
	}
	.col-16-16 {
		width: 100%;
	}
	/* 1 of 2's */
		.col-1-2 {
			width: 50%;
		}
	/* 1 of 3's */
		.col-1-3 {
			width: 33.33333%;
		}
		.col-2-3 {
			width: 66.66667%;
		}
	/* 1 of 4's */
		.col-1-4 {
			width: 25%;
		}
		.col-2-4 {
			width: 50%;
		}
		.col-3-4 {
			width: 75%;
		}
	/* 1 of 6's */
		.col-1-6 {
			width: 16.66667%;
		}
		.col-2-6 {
			width: 33.33333%;
		}
		.col-3-6 {
			width: 50%;
		}
		.col-4-6 {
			width: 66.66667%;
		}
		.col-5-6 {
			width: 83.33333%;
		}
	/* @group push */
		.push-1 {
			margin-left: 6.25%; 
		}
		.push-2 {
			margin-left: 12.5%;
		}
		.push-3 {
			margin-left: 18.75%;
		}
		.push-4 {
			margin-left: 25%;
		}
		.push-5 {
			margin-left: 31.25%;
		}
		.push-6 {
			margin-left: 37.5%;
		}
		.push-7 {
			margin-left: 43.75%;
		}
		.push-8 {
			margin-left: 50%;
		}
		.push-9  {
			margin-left: 56.25%;
		}
		.push-10 {
			margin-left: 62.5%;
		}
		.push-11 {
			margin-left: 68.75%;
		}
		.push-12 {
			margin-left: 75%;
		}
		.push-13 {
			margin-left: 81.25%;
		}
		.push-14 {
			margin-left: 87.5%;
		}
		.push-15 {
			margin-left: 93.75%;
		}
	/* @end */
}

.cf:before,
.cf:after,
.grid:before,
.grid:after {
	content: "";
	display: table;
}

.cf:after,
.grid:after {
	clear: both;
}

.cf,
.grid {
	*zoom: 1;
}

/**
 * 3.0 Formalities
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	font-family: "Roboto", sans-serif;
}

/**
 * 4.0 Header
 */

header {
 	position: relative;
}
header a,
header a:link,
header a:active,
header a:visited,
header a:hover {
	float: left;
	height: 50px;
	margin-left: 10px;
	text-decoration: none;
	cursor: pointer;
}
header h1 {
	margin: 0;
	color: #34495E;
	font-family: "Palanquin",Arial,sans-serif;
	font-weight: 500;
	display: inline-block;
	font-size: 32px;
	line-height: 50px;
}
#logo {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-top: 9px;
	margin-right: 5px;
	float: left;
	background-image: url(/static/img/logo2.0.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/**
 * 4.1 Social
 */
#social {
    padding: 10px;
    position: relative;
    float: right;
    margin-right: 35px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
#social-pro-pic {
    height: 30px;
    width: 30px;
    background-color: #ddd;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#social h2 {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}
.tip-down {
    display: inline-block;
    border-color: transparent;
    border-top-color: #34495e; 
    border-style: solid dashed dashed;
    border-width: 6.5px 6.5px 0;
    margin-left: 5px;
    z-index: 1;
    height: 0;
    width: 0;
    cursor: pointer;
}
.tip-down.down {
    transform: rotate(180deg);
}

#social-dropdown {
    position: absolute;
    top: 49px;
    right: 10px;
    width: 100%;
    min-width: 105px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 10;
    display: none;
}
#social-dropdown.down {
    display: block;
}
#social-dropdown a,
#social-dropdown a:link,
#social-dropdown a:active,
#social-dropdown a:visited {
    padding: 10px 12px;
    display: block;
    cursor: pointer;
    margin: 0;
    color: #222;
}
#social-dropdown a:hover {
    background-color: #ececec;
}
#social-dropdown a i,
#social-dropdown a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    margin-right: 5px;
}
#social-dropdown a i {
    color: #777;
}

a#social-login,
a#social-login:link,
a#social-login:active,
a#social-login:visited {
    color: #3b5998;
    transition: color .3s;
    padding: 3px 5px;
    position: relative;
}
#social-login h2 {
    font-size: 15px;
    font-weight: 500;
}
#social-login i {
    font-size: 17px;
    margin-left: 3px;
}
a#social-login:hover {
    color: #3b5998;
}
a#social-login:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: rgba(59, 89, 152, 0.5);
    transition: width .3s;
}
a#social-login:hover:before {
    width: 100%;
}

.tip-border {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    z-index: 1;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
}
.tip {
    border-color: transparent;
    border-bottom-color: #fff; 
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    z-index: 1;
    height: 0;
    width: 0;
    position: absolute;
}
#social-dropdown .tip-border {
    top: -8px;
    right: 10px;
}
#social-dropdown .tip {
    top: -7px;
    right: 10px;
}
@media (max-width: 766px) {
    #social-pro-pic {
        margin-right: 5px;
    }
    #social h2 {
        display: none;
    }
}

 /**
 * 5.0 Top
 */

#top-bg {
	height: 500px;
	width: 100%;
	background: #E26A6A; /*red*/
	background: #F7954A; /*orange*/
	background: #3DBB9A; /*green*/
	background: #28A4EA; /*blue*/
	position: absolute;
}
#page {
	padding: 0 0 100px;
}
.card-width {
	float: left;
	width: 80%;
	max-width: 850px;
	padding: 60px 30px 20px;
}
#top h1 {
	float: left;
	margin: 0;
	color: #fff;
	line-height: 26px;
	font-size: 26px;
	position: relative;
	font-family: "Palanquin",Arial,sans-serif;
}

/**
 * 5.1 Content
 */

#content {
	position: relative;
}
#card {
	float: left;
	background-color: #fff;
	padding: 60px 80px;
	width: 80%;
	max-width: 850px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
#content h1 {
	font-size: 36px;
	margin: 0 0 20px;
}
#content h1:after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	margin-top: 15px;
	background-color: #ddd;
}
#credits {
	text-align: center;
	padding-bottom: 10px;
}
#credits h3 {
	margin: 0;
	font-size: 70px;
	color: #34495e;
	font-weight: 100;
}
#credits span {
	padding-left: 10px;
	font-size: 30px;
	color: #aaa;
	font-weight: 300;
}

#avg-rating {
	text-align: center;
	padding-bottom: 10px;
}
#avg-rating h3 {
	margin: 0;
	font-size: 12px;
	color: #555;
}
#avg-rating b {
	color: #777;
}

#description {
	padding-left: 20px;
}
#content p {
	font-size: 14px;
}

/* Course Reviews */
.review-pager {
	float: left;
	width: 33%;
	text-align: center;
	padding: 3px 6px 3px 0;
	font-size: 12px;
}
.review-pager-border {
	border: 1px solid #D4D4D4;
	padding: 2px 0 0 0;
	cursor: pointer;
}
.review-pager-year {
	font-size: 14px;
	margin: 0;
}

.rating-wrapper {
    display: inline-block;
    text-align: center;
}
.star-ratings-sprite {
	background: url(/static/img/star.png) repeat-x;
	font-size: 0;
	height: 18px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 90px;
	margin: 0 auto;
	float: left;
}
.rating {
	background: url(/static/img/rating.png) 0 100% repeat-x;
	float: left;
	height: 18px;
	display: block;
}
.review-pager .numeric-rating {
	font-weight: 500;
	color: #a1a1a1;
}
.numeric-rating {
	float: left;
	text-decoration: none;
	position: relative;
	margin-left: 8px;
	top: 1px;
}

.review {
	width: 100%;
	background-color: #fff;
	padding: 3px 12px 3px 0;
}
.review-header {
	padding: 5px 0;
	text-align: center;
}
.review-border {
	border: 1px solid #D4D4D4;
	padding: 10px;
}
.review-year {
	float: left;
	margin: 0;
	font-size: 14px;
	font-weight: 700;
	color: #34495e;
}
.review-prof {
	display: inline-block;
	font-size: 14px;
	margin: 0 15px;
	font-weight: 700;
	color: #34495e;
}
.review .rating-wrapper {
	float: right;
}
.review-body {
	text-align: left;
}
/* End Course Reviews */


#call-to-action {
	padding: 20px 0 0;
	text-align: center;
}
#call-to-action a,
#call-to-action a:link,
#call-to-action a:visited {
	display: inline-block;
	background-color: #28A4EA;
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	text-decoration: none;
	transition: background-color .3s;
}
#call-to-action svg {
	fill: #fff;
	height: 24px;
	margin-bottom: 2px;
	margin-left: 9.5px;
	vertical-align: middle;
	width: 24px;
}
#call-to-action a:active:hover {
	background-color: #289cde;
}
#call-to-action a:hover {
	background-color: #43b2f1;
}
#sections h3 {
	clear: both;
	margin-top: 40px;
}
.section-group {

}
.section {
	margin: 15px 0;
	width: 33.33%;
	float: left;
}
.section h4 {
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 5px;
	color: #222;
}
.section h5 {
	font-size: 14px;
	line-height: 16px;
	color: #777;
	margin: 0;
}
.section.green h5.enrollment span {
	color: #0AA98A;
}
.section.yellow h5.enrollment span {
	color: #D29842;
}
.section.red h5.enrollment span {
	color: #D21616;
}
#outcard {
	float: left;
	width: 20%;
	padding: 40px 0 0 30px;
}

@media (max-width: 799px) {
	.review-pager {
		width: 50%;
	}
}

@media (max-width: 766px) {
	.card-width {
		width: 100%;
		padding: 40px 30px 20px;
	}
	#card {
		width: 100%;
	}
	#description {
		padding-left: 0px;
	}
	.review-pager {
		width: 33%;
	}
}

@media (max-width: 599px) {
	#top h1 {
		font-size: 20px;
	}
	#card {
		padding: 50px 40px;
	}
	#content h1 {
		font-size: 26px;
	}
	.section {
		width: 50%;
	}
}

@media (max-width: 599px) {
	.review-pager {
		width: 50%;
	}
}

@media (max-width: 420px) {
	#top h1 {
		font-size: 16px;
	}
	#card {
		padding: 30px 20px;
	}
	.card-width {
		padding: 20px;
	}
}