* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	height: 100%;
	background-color: #F3F3F3;
	font-family: "Roboto",Arial,sans-serif;
}

h1, h2, h5 {
	font-family: "Palanquin",Arial,sans-serif;
	font-weight: 500;
}

/* Header */
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 50px;
	padding: 10px;
	color: #253340;
	background-color: rgba(252, 252, 252, .95);
	border-bottom: 1px solid #DDD;
	transition: background-color .3s, border .3s;
}
header.down {
	background-color: transparent;
	border-bottom: 1px solid transparent;
}
header h1 {
	color: #34495E;
	float: left;
	font-size: 26px;
	line-height: 30px;
	margin: 0 10px 0;
}
#semesterly-logo {
	height: 32px;
	float: left;
}
header nav {
	float: right;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
}

header nav a,
header nav a:link,
header nav a:active,
header nav a:visited {
	margin-right: 10px;
	color: rgb(37, 51, 64);
	text-decoration: none;
	transition: color .2s;
}

header nav a:hover {
	color: #3498DB;
}

/* Page Content */
#page {
	width: 100%;
	padding-top: 50px;
	background-color: #F3F3F3;
}

/* Hero */
#hero {
	width: 100%;
	height: 350px;
	background-color: #F3F3F3;
	background-image: url(/static/img/press_img/press-hero.jpg);
	background-size: cover;
	background-position: bottom;
	position: relative;
}
#hero h1 {
	color: #F3F3F3;
	font-size: 48px;
	line-height: 55px;
}
	@media(max-width: 1170px) {#hero h2 {font-size: 40px; line-height: 45px;}}
	@media(max-width: 980px) {#hero h2 {font-size: 30px; line-height: 38px;}}

.about-text {
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
}
.about h2 {
	font-size: 42px;
	line-height: 50px;
	font-weight: 300;
	margin: 20px 0 0;
	color: #666;
}
.about h3 {
	font-size: 18px;
	font-weight: 400;
	color: #222;
	margin: 10px auto 0;
	max-width: 700px;
	line-height: 24px;
}
.about h5 {
	font-size: 16px;
	font-weight: 100;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #555;
	padding: 20px;
}
#learn {
	position: relative;
	text-align: center;
}
.mission {
	padding: 120px 0;
	font-size: 0;
	border-bottom: 1px solid #ddd;
	position: relative;
}

#hero .member {
	width: 100%;
	height: 180px; 
}
.bubble-wrapper {
	width: 100%;
	height: auto;
	padding: 10%;
}
.circular {
	width: 100%;
	height: auto;
	padding-bottom: 100%;
	border-radius: 50%;
	background-size: cover;
}
.name {
	line-height: 250%;
}

/* Authors */
#authors > div {
	padding: 50px 30px 0px 30px;
	text-align: center;
}

.author {
	display: inline-block;
	background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin: 1%;
    height: 50px;
    width: 15.5%;
    filter: grayscale(100%);
}

.author:hover {
	filter: none;
}

#hub {
	width: 7.8%;
}

/* Press */
#press {
	padding-top: 50px;
	padding-bottom: 100px;
}

.row {
	margin-bottom: 40px;
	padding: 0px 20px;
}

/*.row article:first-child {
	padding-right: 20px;
}

.row article:nth-child(2) {
	padding-left: 20px;
}*/
.learn-more {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #111111;
}

.article-overlay {
	background: transparent;
    transition: background-color 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
}

.article:hover .article-overlay {
	background-color: rgba(243, 243, 243, 0.8);
}

.article-link {
	overflow: hidden;
	/*border-left: 20px solid #F3F3F3;
	border-right: 20px solid #F3F3F3;*/
}

.article {
	position: relative;
	padding: 0px 20px;
}

.article:hover .embed-image {
    transform: scale(1.07, 1.07);
    /*-webkit-filter: opacity(0.3);*/
   /* -webkit-transition: width 1.8s ease, height 1.8s ease, -webkit-filter 0.5s ease;
    transition: width 1.8s ease, height 1.8s ease, -webkit-filter 0.5s ease;*/
    transition: transform 1.8s ease;
}

.article .embed-image {
	height: 0;
	padding-bottom: 66.67%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
    max-width: 100%;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
}

/*.embed-image {
	max-width: 100%;
}*/

.row .article-data {
	font-size: 2.3vw;
	text-transform: uppercase;
	font-weight: bold;
    transition: opacity 0.2s ease;
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
    opacity: 0;
}

.article-data {
	text-decoration: none;
	letter-spacing: 2px;
	color: #111111;
}

.article:hover .article-data {
	opacity: 1;
	transition: opacity 0.9s ease;
}

.article-data {
	width: 80%;
    left: 10%;
	position: absolute;
	z-index: 2;
    height: auto;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

footer {
	background-color: #253340;
	padding: 40px 0 10px;
}
footer ul {
	list-style-type: none;
	padding: 0 0 40px 0;
	margin: 0;
}
footer ul li {
	margin: 10px 0;
}
footer ul li a, 
footer ul li a:link, 
footer ul li a:active, 
footer ul li a:visited {
	color: #ddd;
	font-size: 14px;
	text-decoration: none;
}
footer ul li a:hover {
	text-decoration: underline;
}
footer ul li a i {
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 100%;
	margin-right: 5px;
}
footer ul li a i.fa-facebook {
	line-height: 24px;
	background-color: #3b5998;
}
footer ul li a i.fa-at {
	line-height: 24px;
	background-color: #409036;
}
footer ul li a i.fa-bookmark {
	line-height: 24px;
	background-color: #808080;
}
footer ul li a i.fa-lock {
	line-height: 24px;
	background-color: #808080;
}
footer h6 {
	text-align: center;
	font-size: 10px;
	color: #777;
	margin: 0;
}
@media(max-width: 1060px) {
	.author {
	    margin: 2%;
	    width: 20%;
	}
}

@media(max-width: 766px) {
	.article-link {
		max-width: 100%;  
		height: auto;  
	}
	.article {
		padding: 20px 0px;
	}
	.row {
		margin: 0px;
	}
	.learn-more {
		margin: 20px 0px;
	}
	.row .article-data {
		font-size: 5vw;
	}
	.author {
	    width: 30%;
	}
	#hub {
		width: 12%
	}
}

@media(max-width: 776px) {
	#hero h2 {
		font-size: 40px;
	}
	footer li {
		text-align: center;
	}
}

@media(max-width: 580px) {
	#hub {
		width: 34.5%;
	}
	.author {
		width: 34.5%;
		margin: 12px 5%;
		height: 40px;
	}
}

@media(max-width: 445px) {
	header h1 {
		display: none;
	}
	#hub {
		width: 34.5%;
	}
	.author {
		width: 34.5%;
	}
	#authors > div {
	    padding: 30px 30px 0px 30px;
	    text-align: center;
	}
	#press {
		padding-top: 25px;
	}
	#hero {
		height: 200px;
	}
	.row .article-data {
		opacity: 1;
	}
	.article .article-overlay {
		background-color: rgba(243, 243, 243, 0.7);
	}
	.article:hover .article-overlay {
		background-color: rgba(243, 243, 243, 0.7);
	}
	.article:hover .embed-image {
	    transform: scale(1.0, 1.0);
	}
}

@media(max-width: 400px) {
	.author {
		height: 30px;
	}
}