* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	background-color: #fff;
	font-family: Lato,Helvetica,Arial,sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(-100%);
	transition: transform .3s;
}
header.down {
	transform: translateY(0%);
}

#top {
	padding: 200px 0 0;
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#banner-logo {
	float: left;
	margin-right: 20px;
	width: 250px;
	height: 250px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#top h1 {
	color: #23313E;
	margin: 0;
	line-height: 110px;
	font-size: 100px;
}
#top h2 {
	color: #fff;
	margin: 0;
	line-height: 60px;
	font-size: 40px;
}
