* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	height: 100%;
	background-color: #253340;;
	font-family: Lato,Helvetica,Arial,sans-serif;
}

/* Header */
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 50px;
	padding: 10px;
	color: #253340;
	background-color: #fff;
}
header h1 {
	float: left;
	font-family: lato;
	font-weight: 400;
	font-size: 32px;
	line-height: 30px;
	margin: 0 10px 0;
}
#semesterly-logo {
	height: 32px;
	float: left;
}
header nav {
	float: right;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	font-family: lato;
}

header nav a,
header nav a:link,
header nav a:active,
header nav a:visited {
	margin-right: 10px;
	color: rgb(37, 51, 64);
}

header nav a:hover {
	margin-right: 10px;
	color: #3498DB;
	transition: all .1s linear;
}

/* Page Content */
#page {
	width: 100%;
	padding-top: 50px;
	background-color: rgb(37, 51, 64);
}

/* Hero */
#hero {
	height: 500px;
	width: 100%;
	background-color: rgb(253, 116, 115);
	box-shadow: 0 6px 0px 8px #fd5b5a;
	position: relative;
}
#hero-wrapper {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 1280px;
	font-size: 0;
	transform: translate(-50%, -50%);
}
#hero-content-wrapper {
	padding: 0 20px;
}
#hero h2 {
	width: 50%;
	color: white;
	font-size: 86px;
	display: inline-block;
	vertical-align: middle;
}
#hero img {
	width: 50%;
	height: auto;
	vertical-align: middle;
	position: relative;
	top: 70px;
}

/* Schools */
#schools {
    width: 100%;
    padding: 100px 0;
    margin-top: 14px;
    background-color: #253340;
    display: inline-block;
}
.school {
	text-align: center;
	padding: 30px 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: box-shadow .3s linear;
}
.school:hover {
	box-shadow: 3px 6px 6px 4px #1c2630;
}
.school h3 {
	color: #FFFFFF;
	font-size: 30px;
	margin-bottom: 0;
}
.circle {
	height: 120px;
	background-color: #1abc9c;
	text-align: center;
	width: 120px;
	border-radius: 100px;
	color: rgb(37, 51, 64);
	font-size: 50px;
	margin: 0 auto;
	margin-bottom: 16px;
}
.circle i {
	width: 100%;
	line-height: 120px;
}



@media(max-width: 1170px) {
	#hero h2 {
		text-align: center;
		font-size: 66px;
	}
}

@media(max-width: 920px) {
	#hero h2 {
		font-size: 50px;
	}
}

@media(max-width: 766px) {
	#hero-wrapper {
		position: static;
		transform: translate(0%, 0%);
	}
	#hero h2 {
		width: 100%;
		display: inline-block;
	}
	#hero img {
		top: auto;
		width: 60%;
	}
}

@media(max-width: 445px) {
	header h1 {
		display: none;
	}
	#hero h2 {
		font-size: 45px;
	}
	#hero img {
		width: 70%;
	}
}