
/* Navbar */
html, body {
  margin: 0px;
  padding: 0px;
}

hr {
  margin: 0px;
}

/*.navbar-collapse {
  background: rgb(232,232,232) ;
}
*/
.navbar-header {
  display: flex;
  flex-grow: 1;
}

.navbar-brand {
  padding-left: 12px;
  width: 40%;
}

.navbar-form {
  width: 60%;
  margin: 0px 0px 0px 0px;
  padding-right: 12px;
}

#menu-toggle {
  padding-top: inherit;
  margin: 0px;
}

#collapse-hr {
  margin-top:10px;
}

/*Menu*/

.preference-item {
  display: flex;
  float: left;
}

.preference-item li, .profile-text li {
  color: #34495E;
  font-weight: bolder;
  display: inline;
  flex-grow: 1;
}

.preference-text, .profile-text {
  margin: 0px;
  width: 60%;
}

#menu li {

}

.navbar-nav li {
  float: none;
}

.navbar-nav {
  float: none;
  display:inline-block;
}

.navbar-collapse {
    width: 100%;
    text-align: center;
}

.preference-toggle {
  float: right;
  margin: 0px;
  width: 40%;
}

/*Calendar*/
#calendar {
  margin: 0px;
}
/*Footer*/
.footer {
  border-top: 1px solid #D4D4D4;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer .nav-pills {
  float: right;
  position: relative !important; /* overwrite bootstrap fixed footer */
}

@media screen and (max-width: 1478px) { 
  #semesterly-name {
    display:none !important;
  }
}

/* -------------expanded state settings*/
.full-cal {
  width: 100%;
}

.side-deployed {
  left: 82%;
}
/* -------------collapse animations*/
/* ---------------------for sidebar*/
.slide-out {
  animation-duration: 1s;
  animation-name: slideout;
}

@keyframes slideout {
  from {
    left: 82%;
  }
  to {
    left: 100%;
  }
}
/* ---------------------for calendar*/
.squeeze-out {
  animation-duration: 1s;
  animation-name: squeezeout;
}

@keyframes squeezeout {
  from {
    width: 82%;
  }
  to {
    width: 100%
  }
}