
/* Navbar */
html, body {
  margin: 0px;
  padding: 0px;
}

hr {
  margin: 0px;
}

/*.navbar-collapse {
  background: rgb(232,232,232) ;
}
*/
.navbar-header {
  display: flex;
  flex-grow: 1;
}

.navbar-brand {
  padding-left: 12px;
  width: 40%;
}

.navbar-form {
  width: 60%;
  margin: 0px 0px 0px 0px;
  padding-right: 12px;
}

#menu-toggle {
  padding-top: inherit;
  margin: 0px;
}

#collapse-hr {
  margin-top:10px;
}

/*Menu*/

.preference-item {
  display: flex;
  float: left;
}

.preference-item li, .profile-text li {
  color: #34495E;
  font-weight: bolder;
  display: inline;
  flex-grow: 1;
}

.preference-text, .profile-text {
  margin: 0px;
  width: 60%;
}

#menu li {

}

.navbar-nav li {
  float: none;
}

.navbar-nav {
  float: none;
  display:inline-block;
}

.navbar-collapse {
    width: 100%;
    text-align: center;
}

.preference-toggle {
  float: right;
  margin: 0px;
  width: 40%;
}

/*Calendar*/
#calendar {
  margin: 0px;
}
/*Footer*/
.footer {
  border-top: 1px solid #D4D4D4;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}

.footer .nav-pills {
  float: right;
  position: relative !important; /* overwrite bootstrap fixed footer */
}

@media screen and (max-width: 1000px) { 
  #search-input {
    font-size:15px;
  }
  #semesterly-name {
    display:none !important;
  }

  #semesterly-logo {
    display: inline-block;
    height: 46px;
    margin-left: 25px;
    float: left;
    margin-top: 20px;
  }

  #navicon {
    right: 9px;
  }
}


@media (max-width: 766px) {
  #search-input { 
    font-size: 13px;
  }
  .modal-entry .textbook{
    width: 50%;
  }

  .modal-entry .eval-item {
    width: 185px;
  }
  #search-results-container {
    margin-top:-5px;
  }

}

@media (max-width: 999px) {
  .cal-container {
    width: 100%;
  }
  .side-container {
    width: 100%;
    left: 100%;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .cal-container.full-cal {
    width: 100%;
  }
  .side-container.full-cal {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .cal-container.less-cal {
    width: 0%;
  }
  .side-container.less-cal {
    width: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .course-modal {
    width: 90% !important;
  }

}

@media (max-width: 700px) {
  .course-modal {
    width: 100% !important;
  }
}


.fb-like {
    margin-top: 10px;
    margin-left: 10px;
}