body {
    font-family: 'Lato', serif;
    font-weight:200;

}
th, span{
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
  cursor:pointer;
}

input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  padding:10px;
  border:2px solid #ccc;
  transition: all 0.3s;
  background-color:white;
}
input[type="text"]:focus {
  outline:none;
  border:2px solid #285684; /* #3D546B */
    background-color:#fff;
}
.fc-ltr .fc-time-grid .fc-event-container {
  margin-left:0.6%;
  margin-right:0px;
}
.course-roster p {
	text-align: center;
    margin-bottom: 0px;
}


.right {
	float: right;
}

.all-cols-container {
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 124px);
}

.cal-container {
  width: 100%;
  overflow: hidden;
}

.fc-toolbar {
  height: 60px;
    background-color: #FFF;
    border: 1px solid #D4D4D4;
    margin: 0px;
    margin-top: 10px;
}

#semesterly-name {
    font-family: lato;
    font-weight: bold;
    display: inline-block;
    float: left;
    margin-top: 22px;
    font-size: 3vw;
    line-height: 46px;
    height: 46px;
    margin-left: 70px;
}

#semesterly-logo {
	display: none;
}

.fc-time-grid .fc-slats td {
   height: 25px;
   line-height:25px;
   border-bottom: 0;
}
.slot-text-row {
  font-size:11px;
}

/* Navicon */
#navicon {
    position: absolute;
    top: 22px;
    right: 40px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
}
#navicon span {
    height: 3px;
    display: block;
    position: absolute;
    right: 0;
    background-color:#34495E;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}
#navicon span:nth-child(1) {
    top: 25%;
    width: 15px;
}
#navicon span:nth-child(2) {
    top: 50%;
    width: 20px;
}
#navicon span:nth-child(3) {
    top: 75%;
    width: 15px;
}
#navicon:hover span:nth-child(1),
#navicon:hover span:nth-child(3) {
    width: 20px;
}
/* End Navicon */

#calendar {
  height: 100% !important;
  margin-left:40px !important;
  margin-right:40px !important;
  min-width:300px;
  margin-top:25px !important;
}
#calendar-inner {
  /*
    5pm: 520px;
    6pm: ;
  */
  height: 572px;
  overflow-y:hidden;
}
.pure-pusher-container {
  margin-bottom:50px;
}
.fc-event-container {
  left:0px !important;
  width:98%;
}
.slot {
    z-index: 1;
    left: 0px;
    right: 0px;
    float: left;
    margin-left:0px !important;
    padding-left:1%;
    font-size:12.5px;
    transition:all 0.5s;
    overflow-x:hidden;
    cursor:pointer;
}

.slot-inner { 
  position:absolute;
  z-index:2000;
  width:100%;
}

.button-surround {
  font-size:18px;
  color:rgba(52,73,94,0.9);
  margin-bottom:1px;
  padding:1px;
  padding-bottom:0px;
  border-radius:6px;
  z-index:2000;
  float:right;
  margin-top:-5px !important;
  margin-right:5px;
  transition:all 0.3s;
}
.bottom {
  bottom:0px;
}
.button-surround:hover {
  color:#DFE5EC !important;
}

.remove{
  top:0;
  font-size:14px;
  margin-top:-20px !important;
}

/*.fa-thumb-tack {
  color:rgba(52,73,94,0.8);
}
.fa-thumb-tack:hover {
  color:#143454 !important;
}*/
#search-bar-container {
  width:100%;
  height: 80px;
  padding-top:25px;
/*  border: 1px solid #D4D4D4;
*/}
#search-bar {

  
}
.input-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 46px;
}
#search-input { 
  width: 100%;
  font-size: 18px;
  border-radius:0;
  border-top-left-radius: 3px;
}
#search-results-container {
  position:absolute;
  top: 46px;
  background-color:#fefefe;
  color:#222222;
  z-index:1000;
  width:100%;
  border:2px solid #222;
  border-top:0px;
  overflow: hidden;
  max-height:480px;
}

#search-results {
  border-radius:0px;
}
.search-result {
  max-height:78px;
/*  cursor:pointer;
*/
}
.search-result:hover {
  background-color: #3D546B;
  color: #fff;
}
.menu-icon {

}

.mrm {
  margin-right:0px;
}
.todo {
  margin-bottom:0px;
}
.todo li:last-child {
    border-radius: 0 0 0px 0px;
    padding-bottom: 21px;
}
.search-result-action {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -20px;
    background-color: #ddd;
    color:#777;
    border-radius: 50%;
    font-family: "Flat-Ui-Icons";
    text-align: center;
    line-height: 41px;
    font-size: 15px;
    transition: all 0.3s;
}
.search-result-action:hover {
  background-color: #fff;
  color: #222;
}
.todo li:after, .todo li.todo-done:after {
    content:none;
}
.todo-done .search-result-action, .course-action.fui-check {
    background: #1abc9c;
    color: #2c3e50;
}
.todo-done .search-result-action:hover, .course-action.fui-check:hover {
  background-color: #66CCB8;
}

#search-input, #menu-btn {
  height:46px;
}
#menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  border:2px solid #B9BBBB;
  border-left:none;
  background-color:#FFF;
  border-top-right-radius: 3px;
  transition: all 0.3s;
}

#menu-btn:focus {
  outline-width: 0;
}
.input-combine {
  position: relative !important;
  margin-left: auto;
  margin-right:auto;
  width:50%;
  display:block;
  min-width:218px;
}
.fc-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fc-axis {
  width:42px;
  font-size:15px;
}
.fc-day-header {
  font-weight:400;
}
.day-time {
  padding-top:2px;
}
#menu {
  margin: 0 auto;
}

.light {
  font-weight:300;
}

/* Sliders */
#sliders {
  width: 27.5px;
  height: 32px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}
#sliders span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #000;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#sliders span:nth-child(1) {
  top: 25%;
}
#sliders span:nth-child(2) {
  top: 50%;
}
#sliders span:nth-child(3) {
  top: 75%;
}
#sliders .box {
  width: 7px;
  height: 7px;
  border-radius: 2px;
  border: 1px solid #eee;
  background-color: #000;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  transition: left .3s;
}
#sliders span:nth-child(1) .box {
  left: 25%;
}
#sliders span:nth-child(2) .box {
  left: 75%;
}
#sliders span:nth-child(3) .box {
  left: 25%;
}
#menu-btn:hover span:nth-child(1) .box {
  left: 75%;
}
#menu-btn:hover span:nth-child(2) .box {
  left: 25%;
}
#menu-btn:hover span:nth-child(3) .box {
  left: 75%;
}
/* End Sliders */


footer {
  background-color: #F8F6F7;
  border-radius:0 !important;
}
footer a {
  color: #34495E;
}
footer a:hover,footer a:focus {
  color:#8FA8F6 !important;
}

div {
  outline-width:0;
}
#widget-hr {
  display:none;
}
#custom-widget-header {
/*  border-right-width:1px;
  margin-right:14px;*/
}
.course-modal {
  width: 80%;
  max-width: 720px;
  color: black;
}
#modal-content {
  max-height: 90vh;
  position:relative;
  outline-width: 0;
  padding-top:1px;
  overflow-y:scroll;
  font-size: 15px;
}

.semester-display {
  font-size:30px;
  width: 122px;
}

.calendar-function {
	position:static;
	margin-right:5px;
	right:0;
    margin-top:10px;
}

.pagination > ul {
	overflow: hidden;
}


::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #34495e }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #34495e } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #34495e } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #34495e }


@media screen and (max-width: 987px) {
  .fc-event-container {
    width:97.5% !important;
  }
  #menu-btn {
    font-size:1.4vw;
  }

}
@media screen and (max-width: 811px) {
  .fc-event-container {
    width:97% !important;
  }
}

@media screen and (max-width:767px) {
  .simple-modal-header {
    font-size:18px;
  }
  input[type="text"] {
    font-size:10px;
  }
  #menu-btn, #search-input {
    height:41px;
    min-width: 41px;
  }
  .slot {
    font-size:9px;
    margin-right:3px !important;
  }
  .slot-text-row {
    font-size:8px;
  }
  #calendar {
    margin-left:0px !important;
    margin-right:0px !important;
  }
  .pagination {
    position: relative !important;
  }
  .search-result {
    font-size:10px !important;
  }
  .button-surround > .fa {
    font-size:14px;
  }
  .remove {
    margin-right:-1px;
  }
  .copy-content {
    right:0px !important;

  }

}
@media screen and (max-width: 690px) {
  .fc-event-container {
    width:96% !important;
  }
  #menu-btn {
    padding-left:4px;
  }



}
@media screen and (max-width: 540px) {
	.fc-event-container {
		width:95% !important;
	}

	.pagination > ul {
		max-width:320px;
	}
  .fc-event-container {
    width:95% !important;
  }

}
@media screen and (max-width: 488px) {
  .fc-event-container {
    width:94% !important;

  }
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  bottom: 0px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #34495e;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
.fui-check:before, .fui-plus:before {
  margin-left:1px;
}
.close-course-modal, .remove-course-icon {
  cursor:pointer;
  transition: color 0.3s;
}
.close-course-modal:hover {
  color:#999;
}
.close-course-modal{
  color:#555;
  font-size:22px;
}

.remove-course-icon {
  display:inline;
  font-size:20px;
}
.remove-course-icon:hover {
  color:#222;
}

.calendar-function {
  background-color: #D6DBDF;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 0px;
  margin-right:8px;
  margin-top:9px;
  right:0;
  position:static;
  float: right !important;
  transition: background-color 0.2s;
}

.calendar-function:hover {
  background-color: #3A4C5F; /* #34495E */
}
.calendar-function:active {
  background-color:#143B63 !important;
}

.calendar-function span {
  width: 100%;
}

.calendar-function span:before {
  width: 100%;
  line-height: 40px;
  margin: 0 auto;
}
.copy-button {
  position:relative;
}
.copy-arrow-up, .copy-content {
  clear:both;
  display:inline-block;
  z-index:6000;
  position:absolute;
}
.copy-content {
  background-color:#3A4C5F;
  width:300px;
  height:118px;
  font-size:14px;
  padding: 5px 5px 0px 5px;
  top:58px;
  right:-30px;
  border:1px solid #143B63;
  border-radius:3px;
  color:#fff;
}
.copy-text {
  width:250px;
  max-height:38px;
  font-size:13px;
  margin-bottom:0px;
  resize:none;
  margin-top:8px;
  outline-width:3px;
  outline-color:#fff;
  color:#222;
  overflow-x:scroll;
  overflow-y:hidden;
 white-space:nowrap;

}
.copy-arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  right:18px;
  border-bottom: 7px solid #3A4C5F;
  top:51px;
}


/* Modal Styles */
.modal-header {
  background-color: #F8F6F7;
  height: 100px;
  padding-top:5px !important;
}

#modal-content .modal-entry {
  border-bottom: 1px solid #D4D4D4;
}


.modal-entry .textbook{
  width: 33.3%;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

.modal-header #name {
  padding-right: 5px;
  font-size: 30px;
  font-family: lato;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#numSections {
	text-align: center;
  cursor:pointer;
}

.modal-entry {
  line-height: 99.5%;
    padding-bottom: 20px;
    padding-left: 10px;
  padding-right: 10px;
}

.modal-entry h6 {
  font-size:15px;
}

.textbook h6 {
  width: 100%;
  margin-bottom: -1px;
  height: 33px;
  overflow: hidden;
}

.modal-entry .recommendation {
  cursor:pointer;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  padding:3px;
  font-weight:300;
}

.modal-entry .eval-item {
  background-color: #FBFFFD;
  border: 1px solid #D4D4D4;
  width: 192px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  margin: 3px;
  -webkit-transition: width .5s;
  transition: all 0.3s;

}
.nav-item-active .eval-item {
  border: 1px solid #34495E;
}

.spacious-entry {
  padding-bottom:40px;
}
.selected {
  width: 80% !important;
  margin-left: 10% !important;
  margin-bottom:30px;
}

.selected .year {
  text-align: left;
  margin: 10px;
  float:left;
}



.eval-wrapper #prof {
  display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
  text-align: center;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:40%;
}

.selected .rating-wrapper {
  margin :10px;
  text-align: right;
  display: inline-block;
  float:right;
}
.empty-intro {
  padding-top:15px;
}
.eval-item #details {
  margin: 5px;
}

.center-wrapper {
  margin: 3px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color:white !important;
  font-weight: 300;
  border-radius: 8px;
  width: 192px;
  height:70px;
}
#center-wrapper .code {
  margin-top:3px;
  font-weight:500;
}

.modal-header .course-action {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ddd;
  color: #777;
  border-radius: 50%;
  font-family: "Flat-Ui-Icons";
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transition: color .3s, background-color .3s;
  float: right;
  margin-top: 30px;
  cursor: pointer;
}
.course-action.fui-check {
    background: #1abc9c;
    color: #2c3e50;
}
.modal-header .fui-plus:hover {
  background-color: #c4c4c4;
  color: #222;
}

#course-info-wrapper {

}

.rec-wrapper {
  display: inline-block;
}

.modal-entry .recommendation:nth-of-type(1) .center-wrapper {
  background-color: #FD7473;
  transition: all 0.3s;
}

.modal-entry .recommendation:nth-of-type(1) .center-wrapper:hover {
  background-color: #E26A6A;
}

.modal-entry .recommendation:nth-of-type(2) .center-wrapper {
  background-color: #44BBFF;
  transition: all 0.3s;

}

.modal-entry .recommendation:nth-of-type(2) .center-wrapper:hover {
  background-color: #28A4EA;
}

.modal-entry .recommendation:nth-of-type(3) .center-wrapper {
  background-color: #4CD4B0;
  transition: all 0.3s;

}

.modal-entry .recommendation:nth-of-type(3) .center-wrapper:hover {
  background-color: #3DBB9A;
}

.course-roster .rating-wrapper {
    width: 100%;
    margin: 0 auto;
}

.star-ratings-sprite {
  background: url("../../img/star.png") repeat-x;
  font-size: 0;
  height: 24px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 120px;
  margin: 0 auto;
  float:left;
}
.eval-stars {
    margin-right:5px;
}
.rating {
  background: url("../../img/rating.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 24px;
  display:block;
}

.numeric-rating {
  float: left;
  position: relative;
  top: 1px;
}

.rating-wrapper {
  display: inline-block;
  text-align: center;
}


.eval-wrapper {
  margin-bottom: 10px;
}
.eval-mini {
  height:57px;
  background-color: #fff !important;
}
.scroll-nav {
  margin-left:6%;
  width:90%;
  margin-bottom:20px;
}
.nav-item {
  cursor:pointer;
}
#click-intro {
  text-align: center;
}


#control-bar-container {
    background-color: #F8F6F7;
    border-bottom: 1px solid #ccc;
    margin-top: -10px;
}

.course-roster .star-ratings-sprite{
	float: none;
}
#course-description, .eval-item {    
    font-family: Lato;
    line-height: 160%;
    letter-spacing: 0.1px;
}

/* Slot styles ----------------------------*/
#slot-container {
  display: flex !important;
}

.section-wrapper {
  display: inline-block;
  height:auto;
  width:auto;
  margin-right:10px;
  margin-bottom:10px;
  background-color:#44BBFF; /* old: #8870FF */
  border-radius: 6px;
  color: white;
  padding: 10px;
  width: 170px;
  height: 110px;
  vertical-align: middle;
  letter-spacing:.2px;
}



.section-wrapper .sect-prof {
  margin-top:-4px;
	font-weight: bold;
  font-size:14px;
  padding-bottom:5px;
  text-overflow:ellipsis;
  white-space:nowrap;
}


.section-wrapper .profs {
  margin-top:5px;
  margin-bottom:0px;
  max-width:110%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:13.5px;
}
.dt-container {
  clear: both;
  margin-top:-2px;
  font-size:12px;
}

/* Sidebar -----------------------------------*/

.module {
  width: 100%;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;  
}

.course-list {
  min-height: 138px;
}
.textbook {
  color: #222;
}
.textbook:hover {
  color: #0D9278;
}
.textbook-list {
  flex: 1;
  min-height: 0px;
  overflow: auto;
}

.course-roster .textbook{
  width: 123px;
  float: left;
  margin-bottom: 10px;
  margin-right: -1px;
  text-align: center;
}

.course-roster .textbook h6 {
  width: 100%;
  margin-bottom: -1px;
  font-size:15px;
  height: 47px;
}

.course-roster {
  padding: 20px;
}

.course-roster {
  width: 100%;
}

.course-roster .slot-outer {
  width:100%;
  height: 50px;
  margin-bottom: 5px;
  text-align: center;
}

.course-roster .fc-content {
  height:100%;
  width:100%;
}

.course-roster .fc-title {
  height:100%;
  width:100%;
  text-align: center;
    white-space: initial;
    font-size: 15px;
}

.roster-header {
  text-align: center;
  border-bottom: 1px solid #D4D4D4;
}


.cal-container {
  width: calc(100% - 300px);
  overflow: hidden;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s;
}
.side-container {
    background:#fff;
    z-index:100;
    display: flex;
    flex-direction: column;
    position: absolute;
    float: right;
    width: 300px;
    height: 100%;
    border: 0px 0px 0px 2px solid #ccc;
    border-left: 1px solid #ccc;
    left: calc(100% - 300px);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    transition: transform .3s;
}
.cal-container.full-cal {
  width: 100%;
}
.side-container.full-cal {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.cal-container.less-cal {
  width: calc(100% - 300px);
}
.side-container.less-cal {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

/* Footer -----------------------------------*/
.fb-like {
  float: left;
}

.view-tbs {
  background-color: #FFCC66;
  cursor:pointer;
  /* border: #000066; */
  width: 148px;
  border-radius: 6px;
  border: 1px solid #34495E;
  color: #34495E;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 15px;
  /* height: 25px; */
  padding: 3px;
  text-align: center;
  height: 32px;
  font-size: 15px;
  /* vertical-align: middle; */
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  inset: 0px -1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 4px 3px -2px #ccc;
  transition: all 0.3s;
}
.view-tbs:hover {
  background-color:#FFDF66;
}
.view-tbs:focus {
  outline:none;
}

.textbook-list-entry h6 {
  margin: 0px;
}

.textbook-list-entry .addon h6 {
  color:black;
  font-size: 15px;
}

.textbook-list-entry .addon .title {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #48A3C6;
  font-weight: 500;
}

.addon {
    width: 150px;
    text-align: center;
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
}

.addon-wrapper {
  width: 88%;
  margin: 0 auto;
  margin-top: 20px;
}

.addon .price-prime-container {
  clear: both;
}

.addon .price {
  float: left;
}

.addon .prime {
  float: right;
}

.addon .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;  
}
