body {
    font-family: 'Lato', serif;
    font-weight:200;
}
a {
	cursor:pointer;
}
input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  padding:10px;
  border:2px solid #ccc;
  transition: all 0.3s;
  background-color:#F7F6F6;
}
input[type="text"]:focus {
	outline:none;
	border:2px solid #18A98C; /* #3D546B */
    background-color:#fff;
}
.fc-time-grid .fc-slats td {
   height: 25px;
   border-bottom: 0;
}
.slot-text-row {
	font-size:11px;
}

#calendar {
	height: 100% !important;
	margin-left:70px !important;
	margin-right:70px !important;
	min-width:300px;
	margin-top:-7px !important;
}
#calendar-inner {
	height: 835px;
}
.pure-pusher-container {
	margin-bottom:50px;
}
.fc-event-container {
	left:0px !important;
	width:98%;
}
.slot {
    z-index: 1;
    left: 0px;
    right: 0px;
    min-width: 95%!important;
    float: left;
    margin-left:0px !important;
    padding-left:1%;
    font-size:12.5px;
    transition:all 0.5s;
    overflow-x:hidden;
    cursor:pointer;
}

.slot-inner {	
	position:absolute;
	z-index:2000;
	width:100%;
}

.button-surround {
	font-size:18px;
	color:rgba(52,73,94,0.9);
	margin-bottom:1px;
	padding:1px;
	padding-bottom:0px;
	border-radius:6px;
	z-index:2000;
	float:right;
	margin-top:-5px !important;
	margin-right:5px;
	transition:all 0.3s;
}
.bottom {
	bottom:0px;
}
.button-surround:hover {
	color:#DFE5EC !important;
}

.remove{
	top:0;
	font-size:14px;
	margin-top:-20px !important;
}

/*.fa-thumb-tack {
	color:rgba(52,73,94,0.8);
}
.fa-thumb-tack:hover {
	color:#143454 !important;
}*/
#search-bar-container {
	width:100%;
	height:100px;
	padding-top:25px;
}
#search-bar {

	
}
#search-input {	
	width:90%;
	float:left;
	border-radius:0;
	border-top-left-radius: 3px;
}
#search-results-container {
	position:absolute;
	background-color:#fefefe;
	color:#222222;
	z-index:1000;
	width:99%;
	border:2px solid #222;
	border-top:0px;
	overflow: hidden;
	max-height:480px;
}

#search-results {
	border-radius:0px;
}
.search-result {
	max-height:78px;
/*	cursor:pointer;
*/
}
.search-result:hover {
	background-color: #3D546B;
	color: #fff;
}

.mrm {
	margin-right:0px;
}
.todo {
	margin-bottom:0px;
}
.todo li:last-child {
    border-radius: 0 0 0px 0px;
    padding-bottom: 21px;
}
.search-result-action {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -20px;
    background-color: #ddd;
    color:#777;
    border-radius: 50%;
    font-family: "Flat-Ui-Icons";
    text-align: center;
    line-height: 41px;
    font-size: 15px;
    transition: all 0.3s;
}
.search-result-action:hover {
	background-color: #fff;
	color: #222;
}
.todo li:after, .todo li.todo-done:after {
    content:none;
}
.todo-done .search-result-action {
    background: #1abc9c;
    color: #2c3e50;
}
.todo-done .search-result-action:hover {
	background-color: #66CCB8;
}

#search-input, #menu-btn {
	height:46px;
}
#menu-btn {
	border:2px solid #B9BBBB;
	border-left:none;
	background-color:#FFF;
	width:9%;
	border-top-right-radius: 3px;
	transition: all 0.3s;
}
#menu-btn:focus {
	outline-width: 0;
}
.input-combine {
	position: relative !important;
	margin-left: auto;
	margin-right:auto;
	width:50%;
	display:block;
	min-width:218px;
}
.fc-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fc-axis {
	width:42px;
	font-size:15px;
}
.fc-day-header {
	font-weight:400;
}
#menu {
	margin: 0 auto;
}

.light {
	font-weight:300;
}

footer {
	background-color: #2b303b;
	border-radius:0 !important;
}
footer a {
	color:#C94E50;
}
footer a:hover,footer a:focus {
	color:#FFFFFF;
	background-color:#2b303b !important;
}

div {
	outline-width:0;
}
#widget-hr {
	display:none;
}
#custom-widget-header {
	border-right-width:1px;
	margin-right:14px;
}
.course-modal {
	width: 70% !important;
}
#modal-content {
	height:826px;
	outline-width: 0;
	padding-top:1px;
	overflow-y:scroll;
	font-size: 15px;
/*	background-color:#BD5C5C ;
*/}
.semester-display {
	font-size:30px;

}


::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }


@media screen and (max-width: 987px) {
	.fc-event-container {
		width:97.5% !important;
	}
	.fa-bars {
		padding-top:5px;
		font-size:25px;
	}
}
@media screen and (max-width: 787px) {
	.fa-bars {
		padding-top:5px;
		font-size:20px;
	}
}
@media screen and (max-width:767px) {
	input[type="text"] {
		font-size:10px;
	}
	#menu-btn, #search-input {
		height:41px;
	}
	.slot {
		font-size:10px;
	}
	#calendar {
		margin-left:0px !important;
		margin-right:0px !important;
	}
}

@media screen and (max-width: 811px) {
	.fc-event-container {
		width:97% !important;
	}
}
@media screen and (max-width: 690px) {
	.fc-event-container {
		width:96% !important;
	}
	.fa-bars {
		padding-top:5px;
		font-size:15px;
	}

}
@media screen and (max-width: 540px) {
	.fc-event-container {
		width:95% !important;
	}
	.fa-bars {
		padding-top:5px;
		font-size:12px;
	}
}
@media screen and (max-width: 488px) {
	.fc-event-container {
		width:94% !important;

	}
	.fa-bars {
		font-size:8px;
	}

}











.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  bottom: 0px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #1ABC9C;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
.fui-check:before, .fui-plus:before {
	margin-left:1px;
}


/* Modal Styles */
.modal-header {
	background-color: #F8F6F7;
	border: 1px solid #D4D4D4;
	height: 86px;
	padding-top:0px !important;
}

#modal-content .modal-entry {
	border-bottom: 1px solid #D4D4D4;
}

.modal-entry .textbook{
	width: 198px;
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
}

.modal-header #name {
	font-size: 30px;
	font-family: lato;
}

.modal-entry {
	line-height: 99.5%;
    padding-bottom: 10px;
    padding-left: 10px;
	padding-right: 10px;
}

.modal-entry h6 {
	font-size:15px;
}

.textbook h6 {
	display: inline-block;
	margin-bottom: -1px;
}

.modal-entry #recomendation {
	vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding:3px;
}


.modal-entry .eval-item {
	background-color: #F8F6F7;
	border: 1px solid #D4D4D4;
	width: 192px;
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	margin: 3px;
	-webkit-transition: width .5s;
}

.selected {
	width: 100% !important;
}

.selected .year {
	text-align: left;
	margin: 10px;
	float:left;
}

#eval-wrapper {
	height: 40px;
}

#eval-wrapper #prof {
	display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
	text-align: center;
}

.selected .rating-wrapper {
	margin :10px;
	text-align: right;
	display: inline-block;
	float:right;
}

.eval-item #details {
	margin: 5px;
}

#center-wrapper {
	margin: 3px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color:white !important;
	font-weight: bold;
	border-radius: 8px;
	width: 192px;
	height:70px;
}

.modal-header .fui-plus {
	display: block;
    width: 50px;
    height: 50px;
    background-color: #ddd;
    color: #777;
    border-radius: 50%;
    font-family: "Flat-Ui-Icons";
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: all 0.3s;
    float: right;
    margin-top: 15px;
}

.modal-header .fui-plus:hover {
	background-color: #c4c4c4;
	color: #222;
}

#course-info-wrapper {
    float: left;
    display: inline-block;
}

#rec-wrapper {
	display: inline-block;
}


.modal-entry #recomendation:nth-of-type(1) #center-wrapper {
	background-color: #BDAEFF;
}

.modal-entry #recomendation:nth-of-type(2) #center-wrapper {
	background-color: #9AE7D3;
}

.modal-entry #recomendation:nth-of-type(3) #center-wrapper {
	background-color: #FFB0B3;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  float:left;
}

.rating {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display:block;
}

.numeric-rating {
	float: left;
    position: relative;
    top: 5px;
}

.rating-wrapper {
	display: inline-block;
	text-align: center;
}


.eval-wrapper {
	margin-bottom: 10px;
}

#click-intro {
	text-align: center;
}