.sem-pagination {
	margin-left:10px;
	margin-top:7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width:70% !important;
    padding:0;
    position:static;
}
.fc .fc-toolbar>*>* {
	margin-left:0;
	margin-bottom:0;
}
.sem-pages, .sem-pagination-nav {
	background-color:#d6dbdf;
	height:45px;
	line-height:43px;
}
.sem-pages {
	position:relative;
	list-style-type:none;
	display:inline-block;
	padding:0 !important;
	padding-left:15px !important;
	padding-right:10px !important;
	padding-top:5px;
    white-space:nowrap;
    word-wrap:break-word;
    max-width:290px;
}

.sem-page {
	position:relative;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	border-radius:50%;
	color:#fff;
	background-color:#fff;
	width:25px;
	height:25px;
	border:5px solid #d6dbdf;
	text-align:center;
	transition: all 0.3s;
	line-height:15px;
	margin: 0px 4px 4px 0px;

}
.sem-page:hover, .sem-page.active {
	background-color:#8FA8F6;
	border:5px solid #8FA8F6;
}

.sem-pagination-nav {
	position:relative;
	cursor:pointer;
	display:inline-block;
	width:50px;
	text-align:center;
	transition:all 0.3s;
	border:2px solid #fafafa;
	border-top:0px;
	border-bottom:0px;

}
.sem-pagination-nav:hover {
	background-color:#8FA8F6;
}
.nav-double {
	border:none;
	width:40px;
}
.nav-double-prev {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.nav-double-next {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.sem-pagination-icon {
	color:#fff;
}

.sem-pagination-nav:active {
	background-color:#5170D4;
}
.sem-page:active {
	background-color:#5170D4;
	border:5px solid #5170D4;
}




