.ss-left {
	opacity:0.5;
	
	
}
.slider-list {
  margin-top: 10px !important;
}
.slider-decorator-2 {
	margin-bottom: -52px;
}
.slider-decorator-2 > ul > li > button{
	padding:2px !important;
}
.slider-decorator-1 {
	margin-right:-14px !important;
	padding:6px;
	width:8%;
}
.slider-decorator-0 {
	padding:6px;
	margin-left:-6px;
	width:8%;
}
.slider-decorator-0 > button, .slider-decorator-1 > button {
	background-color: #34495E;
	opacity:0.3;
	transition:all 0.3s;
}
.slider-decorator-0 > button:hover, .slider-decorator-1 > button:hover {
	background-color: #34495E;
	opacity:0.8;
}
.slider-decorator-0 > .disabled, .slider-decorator-1 > .disabled {
	opacity:0.2 !important;
}
.scroll-nav {
  margin-left:6%;
  width:90%;
  margin-bottom:5px;
}
.nav-item {
  cursor:pointer;
}
#modal-content {
	overflow-x: hidden;
}
@media screen and (max-width: 1174px) {
	.scroll-nav {
		margin-left:0%;
		width:95%;
	}
}
@media screen and (max-width: 1115px) {
	.scroll-nav {
		width:110%;
	}
}
@media screen and (max-width: 1015px) {
	.scroll-nav {
		margin-left:-3%;
		width:110%;
	}
}
@media screen and (max-width: 1000px) {
	.scroll-nav {
		margin-left:6%;
		width:90%;
	}
}
@media screen and (max-width: 762px) {
	.scroll-nav {
		margin-left:0%;
		width:95%;
	}
}
@media screen and (max-width: 725px) {
	.scroll-nav {
		margin-left:-3%;
		width:110%;
	}
}
@media screen and (max-width: 699px) {
	.scroll-nav {
		margin-left:3%;
		width:95%;
	}
}
@media screen and (max-width: 452px) {
	.scroll-nav {
		margin-left:-3%;
		width:110%;
	}
}
@media screen and (max-width: 600px) {

	.slider-decorator-0 {
 		margin-left:-13px !important;
 	}
	.slider-decorator-1 {
		margin-right:-9px !important;
	}
	.slider-decorator-2 > ul > li > button{
		padding:2px !important;
	}

}


@media screen and (max-width: 467px) {
	.slider-decorator-2 > ul > li > button{
		padding:0px !important;
	}
	.slider-decorator-1 {
		margin-right:1px !important;
	}

}
