.ss-left {
	opacity:0.5;
	
	
}

.slider-decorator-2 {
	margin-bottom: -52px;
}
.slider-decorator-2 > ul > li > button{
	padding:2px !important;
}
.slider-decorator-1 {
	margin-right:-14px !important;
	padding:6px;
	width:8%;
}
.slider-decorator-0 {
	padding:6px;
	margin-left:-1px;
	width:8%;
}

#modal-content {
	overflow-x: hidden;
}


@media screen and (max-width: 600px) {

	.slider-decorator-0 {
 		margin-left:-13px !important;
 	}
	.slider-decorator-1 {
		margin-right:-9px !important;
	}
	.slider-decorator-2 > ul > li > button{
		padding:2px !important;
	}

}


@media screen and (max-width: 467px) {
	.slider-decorator-2 > ul > li > button{
		padding:0px !important;
	}
	.slider-decorator-1 {
		margin-right:1px !important;
	}

}
