.side-bar-section {
  &:last-child {
    padding-bottom: 20px;
  }
}

.as-name {
  margin-bottom: 0px;
  padding: 10px 35px 0px 10px;
  border: 2px solid rgba(128, 128, 128, 0.32);
  position: relative;
}

.course-list-container {
  border: 2px solid rgba(128, 128, 128, 0.32);
  padding: 10px;
}

.as-schedule-name {
  margin-bottom: 10px;
  padding-right: 35px;
  position: relative;
}

.advising-schedule {
  height: 80vh;
  overflow-y: auto;

  input {
    border: 1px solid $gfff;
    border-radius: 25px;
    font-family: $font-body;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    outline: 0;
    padding: 5px 5px 5px 15px;
    transition: border .3s;
    width: 100%;

    &:focus {
      border: 1px solid $blue-alt;
    }

    &:hover {
      border: 1px solid $gddd;
    }
  }

  .unsaved {
    font-style: italic;
  }

  .empty-state {
    margin: 0 auto;
    text-align: center;
    width: 280px;

    img {
      width: 280px;
    }

    h3 {
      color: $ga1a1a1;
      font-size: 12px;
      font-weight: 400;
      margin-top: 8px;
    }

    h4 {
      color: $gbbb;
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
}

.timetable-drop-it-down {
  cursor: pointer;
  height: 37px;
  position: absolute;
  right: 0;
  top: 0;
  width: 37px;

  .tip-down {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &.down {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

.timetable-names-dropdown {
  background-color: $gfff;
  border: 1px solid $ge6e6e6;
  box-shadow: 0 2px 10px $black-transparent-2;
  display: none;
  left: 0;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 100;

  &.down {
    display: block;
  }

  .tip {
    right: 9px;
    top: -7px;
  }

  .tip-border {
    right: 9px;
    top: -8px;
  }

  h4 {
    color: $g777;
    font-size: 12px;
    margin: 0;
    padding: 10px 5px 5px 10px;
  }
}

.tt-name {
  background-color: $gfff;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 5px 5px 20px;
  transition: background-color .3s;

  :hover {
    background-color: $geee;
  }
}

.as-header {
  clear: both;
  color: $g777;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 10px 5px;
  position: relative;

  &::after {
    background-color: $gddd;
    bottom: 5px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.as-header-link {
  float: right;
  transition: color .3s;

  &:hover {
    color: $primary-navy;
    cursor: pointer;
  }
}

.as-credits {
  margin-bottom: 10px;
  text-align: center;

  h3 {
    color: $primary-navy;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    margin: 0;
  }

  h4 {
    color: $g999;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    margin: 0;
  }
}

.sb-master-slots {
  clear: both;
  padding: 5px;
}

.master-slot {
  min-height: 50px;
  background-color: $pink;
  border-radius: 5px;
  color: $gfff;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px 5px 5px 10px;
  position: relative;
  transition: color .3s, background-color .3s;

  &.optional {
    opacity: .5;
  }

  .slot-bar {
    background-color: $red-dark;
    left: 0;
    top: 0;
  }

}

.modal-module {
  .master-slot-actions {
    .fa-share-alt {
      margin-right: 4px;
    }
  }

  .master-slot {
    .tip {
      right: 0;
      top: -7px;
    }

    .tip-border {
      right: 0;
      top: -7px;
    }
  }
}

.master-slot-content {
  h3 {
    color: $g222;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    span {
      float: left;
      line-height: 14px;
    }
  }

  .ms-flag {
    border-radius: 3px;
    color: $white-transparent-9;
    font-size: 9px;
    line-height: 10px;
    margin-left: 5px;
    padding: 2px 3px;
  }
}

.master-slot-credits {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.master-slot-actions {
  position: absolute;
  right: 5px;
  text-align: right;
  top: 5px;

  i {
    color: $g222;
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    margin-left: 5px;
    opacity: .5;
    transition: transform .3s, opacity .3s;
    vertical-align: top;

    &:hover {
      opacity: .9;
      transform: scale(1.2);
    }
  }
}

.master-slot-friends {
  bottom: 5px;
  font-size: 0;
  position: absolute;
  right: 5px;
}

.ms-friend {
  background-color: $black-transparent-3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  color: $gfff;
  float: right;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  margin-left: -5px;
  padding-left: 7px;
  text-align: left;
  width: 22px;

  &:first-child {
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: $black-transparent-5;
    }
  }
}

.final-schedule-link {
  clear: both;
  color: $g777;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 10px 5px;
  position: relative;
  text-align: center;

  i {
    margin-right: 3px;
  }
}
