.slots-comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slots-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
