// Course Modal Styles
.course-modal {
  height: 85%;
  max-height: 900px;
  max-width: 1200px;

  > div {
    // using important to override boron default style
    // can't declare in javascript either, cuz need hover
    background-color: rgba(0,0,0,.8) !important;
    height: 100%;
    outline: none;
    transition: background-color .2s;
    width: 100%;
  }

  + div {
    // using important to override boron default style
    // can't declare in javascript either, cuz need hover
    background-color: rgba(0,0,0,.8) !important;
    transition: background-color .2s;
  }

  &.trans + div,
  &.trans > div {
    // using important to override boron default style
    // can't declare in javascript either, cuz need hover
    background-color: transparent !important;
  }
}

.course-modal.trans .modal-content,
.course-modal.trans .modal-header,
.course-modal.trans .modal-header div,
.course-modal.trans .modal-header h1,
.course-modal.trans .modal-body p,
.course-modal.trans .modal-body p a,
.course-modal.trans .modal-body .credits h4,
.course-modal.trans .modal-body .rating-module h4,
.course-modal.trans .modal-body .modal-module {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.course-modal.trans .modal-close,
.course-modal.trans .modal-share,
.course-modal.trans .modal-save,
.course-modal.trans .modal-add,
.course-modal.trans .modal-body .rating-module,
.course-modal.trans .modal-body .modal-module,
.course-modal.trans .modal-body .modal-module-header,
.trans .reactions-wrapper {
  opacity: 0;
  visibility: hidden;
}

.trans .capacity {
  opacity: 0;
  visibility: hidden;
}

.course-modal .master-slot .slot-bar {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.subtitle {
  display: flex;
  align-items: center;
  margin: 6px;
  >div {
    margin: 3px;
  }
  //&.search {
  //  height: 20px;
  //  margin: 5px;
  //  float: left;
  //}
}

.bubble {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 3px;
  padding: 2px 4px;
  &.area {
    border-radius: 25%;
    //&.search {
    //  font-size: 15px;
    //  height: 20px;
    //  width: 20px;
    //  margin-left: 4px;
    //  margin-top: 0px;
    //  padding: 1px;
    //}
    &.H {
      background: #FD7473;
    }

    &.S {
      background: #408EA9;
    }

    &.N {
      background: #B177C7;
    }

    &.E {
      background: #259B82;
    }

    &.Q {
      background: #FFD462;
    }
  }
  &.writing {
    background: #375994;
    border-radius: 7px;
    //&.search {
    //  font-size: 15px;
    //  height: 18px;
    //  width: 121px;
    //  margin-top: -6px;
    //  margin-bottom: -3px;
    //  padding: 0px 0px 0px 0px;
    //}
  }
}

.course-modal .img-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.course-modal .modal-content .loader {
  height: 90px;
  width: 90px;
}

.friend {
  float: left;
  height: 30px;
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.course-modal .ms-friend {
  float: left;
  height: 30px;
  margin-left: 0;
  margin-right: 4.5px;
  padding: 0;
  width: 30px;
}

// Course Modal Content Styles
.modal-content {
  background-color: $gfff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background-color .2s, color .2s;
  width: 100%;
}

.modal-header {
  background-color: $gf3f3f3;
  border-bottom: 1px solid $gddd;
  padding: 20px 10px 10px;
  position: relative;
  transition: background-color .2s, color .2s;
  z-index: 11;

  h1 {
    color: $primary-navy;
    font-size: 36px;
    margin: 0;
    padding-right: 85px;
    transition: color .2s;
  }

  h2 {
    color: $g777;
    font-family: $font-body;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    padding-right: 15%;
    transition: color .2s;
  }
}
.modal-close,
.modal-share,
.modal-save {
  color: $g777;
  cursor: pointer;
  height: 20px;
  opacity: 1;
  position: absolute;
  top: 5px;
  transition: color .2s, transform .3s, opacity .2s, visibility .2s;
  visibility: visible;
  width: 20px;

  i {
    font-size: 20px;
    line-height: 20px;
  }
}

.modal-close {
  right: 5px;

  &:hover {
    color: #C0392B;
    transform: scale(1.2);
  }
}

.modal-share {
  right: 30px;

  &:hover {
    color: #5B99CE;
    transform: scale(1.2);
  }
}

.modal-header {
  .share-course-link-wrapper {
    top: 27px;
    right: 22px;
  }

  .share-course-link {
    font-size: 14px;
    height: 25px;
    margin-top: 4px;
  }
}

.modal-save {
  right: 55px;

  &:hover {
    color: #5BCE84;
    transform: scale(1.2);
  }
}

// Course Modal Add
.modal-add {
  background-color: $primary-navy;
  border-radius: 100%;
  bottom: -34px;
  cursor: pointer;
  height: 60px;
  opacity: 1;
  position: absolute;
  right: 10%;
  transition: background-color .2s, opacity .2s, visibility .2s;
  visibility: visible;
  width: 60px;
  z-index: 1;

  i {
    color: $gfff;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }

  &:hover {
    background-color: #1858BB;
  }

  &.in-roster {
    &:hover {
      animation: pulsate .8s ease-out infinite;
      background-color: #C0392B;
    }
  }

  &.on-active-timetable {
    background-color: #2DD6B5;

    &:hover {
      background-color: #56ECCF;
    }
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


// Course Modal Body
.modal-body {
  flex: 1;
  overflow-y: auto;
  width: 100%;

  [class^="col-"] {
    padding: 30px 15px;
  }

  p {
    color: $g555;
    font-size: 16px;
    line-height: 22px;
    margin: 7px 0;
    padding: 0 5px;
    transition: color .2s;
    word-wrap: break-word;
  }

  .prerequisites {
    p {
      margin-top: 2px;
    }
  }

  .credits {
    h3 {
      font-size: 60px;
      font-weight: 100;
      line-height: 66px;
      margin: 0;
      text-align: center;
    }

    h4 {
      color: $g999;
      font-size: 30px;
      font-weight: 200;
      line-height: 30px;
      margin: 0 auto 20px;
      text-align: center;
      transition: color .3s;
    }
  }

  .rating-module {
    opacity: 1;
    transition: opacity .2s, visibility .2s;
    visibility: visible;

    h4 {
      color: $g777;
      font-size: 14px;
      font-weight: 400;
      margin: 0 auto 5px;
      text-align: center;
      transition: color .2s;
    }
  }

  .textItem {
    line-height: 20px;
  }

  .course-link {
    &,
    &:link,
    &:visited {
      color: $g555;
      cursor: pointer;
      position: relative;
      text-decoration: underline;
      transition: color .3s;
    }

    &:active,
    &:hover {
      color: #3473c8;

      .course-link-tip {
        opacity: 1;
        visibility: visible;
      }
    }

    .course-link-tip {
      background-color: #FD7473;
      border-radius: 5px;
      color: $g222;
      height: 60px;
      left: -10px;
      line-height: 20px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: -10px;
      transition: opacity .3s, visibility .3s;
      visibility: hidden;
      white-space: nowrap;
      z-index: 1;

      span {
        display: block;
      }
    }

    .course-link-content {
      padding: 10px;
    }
  }
}


.modal-module-header {
  clear: both;
  color: $g777;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 10px 5px;
  position: relative;
  transition: color .2s;

  &::after {
    background-color: $gddd;
    bottom: 5px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: background-color .2s;
    width: 100%;
  }

  small {
    color: $g777;
    font-size: 11px;
  }
}

// Course Modal Sections
.modal-section {
  background-color: rgba(255,255,255,.8);
  cursor: pointer;
  float: left;
  padding: 7px;
  position: relative;
  transition: background-color .2s;
  width: 50%;

  &:hover {
    background-color: $geee;
  }

  &:nth-child(2n+0) {
    clear: both;
  }

  h4 {
    color: $primary-navy;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;

    span {
      display: inline-block;
      margin-right: 3px;
      vertical-align: middle;
    }

    i {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  h5 {
    color: $g777;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
  }

  h6 {
    color: $g777;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;

    .green {
      color: $green;
    }

    .yellow {
      color: $yellow;
    }

    .red {
      color: $red;
    }
  }

  .fa-lock  {
    bottom: 7px;
    color: $primary-navy;
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    position: absolute;
    right: 7px;
    text-align: center;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    width: 20px;
  }
}

.hidden-modal {
  color: rgba(52, 73, 94, 0);
}

.modal-section .fa-calendar-check-o {
  opacity: 0;
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
}

.modal-section.on-active-timetable .fa-calendar-check-o,
.modal-section.locked .fa-lock {
  opacity: 1;
  visibility: visible;
}

.modal-body .friend p {
  font-size: 11px;
  left: 35px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.friends-inner {
  margin: 0 auto;
  position: relative;

  .img-icon {
    float: left;
    margin: 5px;
    position: static;
    transform: none;
  }

  .loader {
    border-width: 5px;
    height: 20px;
    width: 20px;
  }

  .loading {
    p {
      float: left;
      font-size: 11px;
      line-height: 20px;
      margin: 5px;
      padding: 0;
    }
  }

  p {
    &.null {
      color: $gaaa;
      font-size: 11px;
      line-height: 16px;
      margin: 2px 3px;
    }
  }

  .conversion {
    text-align: center;

    p {
      color: $g999;
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 10px;
      text-align: left;
    }
  }
}

.conversion-image {
  background: url("/static/img/get_facebook.png") center no-repeat;
  background-size: contain;
  height: 45px;
  margin: 10px 0;
  width: 100%;
}

.modal-content .conversion a {
  background-color: $facebook;
  color: $gfff;
  cursor: pointer;
  font-size: 11px;
  margin: 10px 0 5px;
  padding: 4px 7px;
}

.modal-content .conversion a i {
  margin-right: 4px;
}

.academic-support {
  li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .integration-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 22px;
    margin-right: 5px;
    width: 22px;
  }

  h4 {
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }

  a {
    float: right;
    font-size: 12px;
    line-height: 22px;
  }

  p {
    clear: both;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0 0;
  }
}

@media (max-width: 766px) {
  .modal-header {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 14px;
    }
  }

  .friends-inner {
    .conversion {
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .course-modal {
    position: static;
  }

  .modal-header {
    padding-bottom: 30px;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 14px;
    }
	}

  .modal-body {
    padding-top: 20px;
	}

  .modal-add,
  .modal-share,
  .modal-save {
    background-color: $primary-navy;
    border-radius: 100%;
    bottom: -34px;
    cursor: pointer;
    height: 60px;
    position: absolute;
    top: auto;
    transform: translateX(-50%);
    transition: background-color .3s;
    width: 60px;
    z-index: 1;

    i {
      color: $gfff;
      font-size: 24px;
      line-height: 60px;
      text-align: center;
      width: 100%;
    }

    &:hover {
      transform: scale(1) translateX(-50%);
    }
	}

  .modal-share {
    left: 25%;

    &:hover {
      background-color: #5b99ce;
    }
	}

  .modal-save {
    left: 50%;

    &:hover {
      background-color: #5bce84;
    }
	}

  .modal-add {
    left: 75%;
	}


}

.capacity {
  text-align: center;
}

.capacity__attention {
  display: inline-block;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;

  > .attention__tag {
    background-color: rgb(177, 81, 80);
    border-radius: 5px;
    color: $gfff;
    float: left;
    padding-right: 10px;

    .slot-bar {
      background-color: rgb(253, 116, 115);
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      float: left;
      height: 25px;
      position: relative;
    }

    .attention__clock-icon {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }

    span {
      display: inline-block;
    }
  }

  .attention__text {
    color: $g555;
    float: left;
    margin-left: 5px;

    .highlight {
      color: rgb(177, 81, 80);
    }
  }
}

// NOTE: 1088px is fluid up to XXXX%
@media (max-width: 1088px) {
  .capacity__attention {
    font-size: 16px;
    margin-top: 15px;

    .attention__tag {
      float: none;
    }

    .attention__text {
      float: none;
      margin: 5px 0 0;
    }
	}

}

@media (max-width: 801px) {
  .capacity__attention {
    font-size: 14px;
	}
}

@media (max-width: 670px) {
  .capacity__attention {
    font-size: 13px;
	}
}

.capacity__tracker-text {
  color: $g777;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 30px;

  span {
    font-weight: 300;
  }
}
