.modal-header {
  padding-left: 2em;
}

.edit-custom-event-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  p {
    padding: 0 2em;
    margin: 0;
    text-align: center;
    color: red;
  }
}

.event-days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 1px;
  }

  .active {
    color: white;
    background-color: #222;
  }

  .inactive {
    background-color: #f3f3f3;
  }
}

.event-form-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1em 2em;
  gap: 1em;
}

.event-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  label {
    display: block;
    margin: 0;
  }
}

.event-text-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 1em;

  input {
    height: 1em;
    width: 100%;
    padding: 15px 5px;
  }
}

.save-button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  span {
    font-size: 1.5em;
  }
}
