.modal-header {
  padding-left: 2em;
}

.edit-custom-event-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  p {
    padding: 0 2em;
    margin: 0;
    text-align: center;
    color: red;
  }
}

.event-days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;

  button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-width: 0px;
    @include theme() {
      border-color: t("modal-border-color");
    }
  }

  .active {
    @include theme() {
      background-color: t("custom-event-active-day-background");
    }
  }

  .inactive {
    @include theme() {
      background-color: t("custom-event-inactive-day-background");
    }
  }
}

.event-form-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1em 2em;
  gap: 1em;
}

.event-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  label {
    display: block;
    margin: 0;
  }
}

.event-text-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 1em;

  input {
    height: 1em;
    width: 100%;
    padding: 15px 5px;
    border-radius: 5px;
  }
}

.event-color-presets {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-color-preset-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;

  button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 0;
  }
}

.event-color-block {
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.event-color-picker .react-colorful {
  position: absolute;
  width: 390px;
  top: 85px;
  left: 13px;
  @media (min-width: 768px) {
    left: 174px;
  }
}

.save-button {
  @include theme() {
    background-color: t("confirm-button-background");
  }
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  span {
    color: white;
    font-size: 1.5em;
  }

  &:hover {
    @include theme() {
      background-color: t("confirm-button-hover");
    }
  }
}
