// Exploration Modal Styles
.exploration-modal {
  height: 85%;
  max-height: 900px;
  max-width: 1200px;

  > div {
    height: 100%;
    outline: none;
    width: 100%;
  }

  + div {
    // using important to override boron default style
    // can't declare in javascript either, cuz need hover
    background-color: $black-transparent-8 !important;
    transition: background-color 0.2s;
  }

  &.trans + div {
    // using important to override boron default style
    // can't declare in javascript either, cuz need hover
    background-color: transparent !important;
  }

  .ms-friend {
    float: left;
    height: 30px;
    margin: 0;
    width: 30px;
  }
}

.exploration-content {
  background: $gfff;
  height: 100%;
  position: relative;
  width: 100%;

  &.loading {
    cursor: wait;
  }
}

@media (max-width: 766px) {
  .exploration-modal,
  .exploration-modal + div {
    display: none;
  }
}

.exploration-modal.trans,
.trans .exploration-content,
.trans .exploration-header,
.trans .exp-title h1,
.trans .exploration-header input,
.trans .exploration-close,
.trans h3.exp-header,
.trans h3.exp-header:after,
.trans h3.exp-header i,
.trans .exploration-body p,
.trans .exp-modal .modal-header,
.trans .exp-modal .modal-header h1,
.trans .exp-modal .modal-header h2,
.trans .exp-modal .modal-header div,
.trans .exp-modal .modal-content,
.trans .modal-body .credits h4,
.trans .exp-modal .modal-share,
.trans .exp-modal .modal-share i,
.trans .exp-modal .modal-add,
.trans .exp-modal .modal-add i,
.trans .exp-modal .modal-save,
.trans .exp-modal .modal-save i,
.trans .modal-module,
.trans h3.modal-module-header,
.trans h3.modal-module-header:after {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.trans .exp-search-results,
.trans .modal-module,
.trans .time-selector,
.trans .modal-body .rating-module,
.trans .modal-body .modal-module-header {
  opacity: 0;
  visibility: hidden;
}

// Exploration Header
.exploration-header {
  background-color: $geee;
  border-bottom: 1px solid $gddd;
  padding: 15px;
  position: absolute;
  width: 100%;
  z-index: 1;

  input {
    border: 1px solid $ge6e6e6;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-right: 7px;
    outline: 0;
    padding: 0 10px;
    width: 90%;

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 30px;
    }

    &::-moz-placeholder {
      font-size: 14px;
      line-height: 30px;
    }

    &:-ms-input-placeholder {
      // IE 10+
      font-size: 14px;
      line-height: 30px;
    }

    &:-moz-placeholder {
      // Firefox 18-
      font-size: 14px;
      line-height: 30px;
    }
  }
}

.exp-title {
  i {
    display: inline-block;
    font-size: 22px;
    line-height: 30px;
    margin-right: 5px;
    vertical-align: middle;
  }

  h1 {
    color: $g777;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    vertical-align: middle;
  }
}

/* Close Exploration Button */
.exploration-close {
  color: $g777;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
  transition: color 0.3s, transform 0.3s;
  width: 20px;

  &:hover {
    color: #ff4523;
    transform: scale(1.2);
  }

  i {
    font-size: 20px;
    line-height: 20px;
  }
}

// Share Button
.exp-modal {
  .share-course-link-wrapper {
    margin-right: 158px;
    margin-top: 118px;

    .tip {
      display: none;
    }

    .tip-border {
      right: 180px;
    }
  }
}

// Exploration Body
.exploration-body {
  height: 100%;
  left: 0;
  padding: 61px 0 0;
  position: absolute;
  top: 0;
  width: 100%;

  p {
    color: $g777;
    font-size: 12px;
  }
  .subtitle div {
    font-size: 12px;
  }
}

.exp-header {
  clear: both;
  color: $g777;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 10px 5px;
  position: relative;

  &::after {
    background-color: $gddd;
    bottom: 5px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  i {
    color: $g999;
    cursor: pointer;
    float: right;
    transition: color 0.3s;

    &:hover {
      color: #7e88dc;
    }
  }
}

// Exploration Filters
.exp-filters {
  height: 100%;
  overflow-y: auto;
  padding: 15px;

  h6 {
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 3px;
    padding: 5px;

    i {
      cursor: pointer;
      font-size: 14px;
      margin-left: -5px;
      margin-right: 3px;
      transition: transform 0.3s, color 0.3s;
    }
  }

  .time-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
    i {
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
      transition: transform 0.3s, color 0.3s;
    }
  }

  i {
    &:hover {
      color: #ff4523;
      transform: scale(1.1);
    }
  }

  .none-selected {
    font-size: 14px;
    margin-left: 0;
  }
}

.exp-filter-section {
  padding: 0 0 20px;
}

// Filter Out Pop
.filter-pop-out {
  background-color: $gfff;
  border: 1px solid $ge6e6e6;
  box-shadow: 0 2px 10px $black-transparent-2;
  display: none;
  left: 25%;
  position: absolute;
  top: 10px;
  width: 200px;
  z-index: 1;

  &.open {
    display: block;
  }

  input {
    border: 0;
    font-size: 16px;
    line-height: 42px;
    outline: 0;
    padding: 0 5px 0 25px;
    width: 100%;
  }
}

.fpo-list {
  max-height: 400px;
  overflow-y: auto;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    background-color: $gfff;
    cursor: pointer;
    list-style-type: none;
    padding: 0 5px 0 45px;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: $geee;
    }

    &.loading {
      cursor: wait;
    }
  }

  i {
    display: inline-block;
    left: 10px;
    line-height: 42px;
    position: absolute;
    vertical-align: middle;
  }

  h6 {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 14px 0;
    vertical-align: middle;
  }
}

// Exploration Search Results
.exp-search-results {
  height: 100%;
  opacity: 1;
  overflow-y: auto;
  padding: 15px;
  visibility: visible;

  p {
    padding-left: 10px;
  }
}

.exp-s-result {
  background-color: $gfff;
  cursor: pointer;
  padding: 10px;
  position: relative;
  transition: background-color 0.3s;

  &:hover {
    background-color: $geee;
  }

  h4 {
    font-size: 14px;
    margin: 0;
  }

  h5 {
    color: $g777;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
  }
}

// Exploration Course Content
.exp-modal {
  height: 100%;

  .modal-content {
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    background-color: $gfff;
    padding: 20px 10px 30px;

    > .subtitle {
      h2 {
        padding: 0;
      }
    }
  }

  h1 {
    font-size: 22px;
    padding: 0;
  }

  h2 {
    font-size: 14px;
    padding: 0 20% 0 0;
  }

  .modal-body {
    padding-top: 20px;
  }

  [class^="col-"] {
    width: 100%;
    padding: 20px 15px 0;
  }

  .modal-share,
  .modal-add,
  .modal-save {
    background-color: $primary-navy;
    border-radius: 100%;
    bottom: -34px;
    cursor: pointer;
    height: 60px;
    position: absolute;
    top: auto;
    transform: translateX(-50%);
    transition: background-color 0.3s;
    width: 60px;
    z-index: 1;

    i {
      color: $gfff;
      font-size: 24px;
      line-height: 60px;
      text-align: center;
      width: 100%;
    }

    &:hover {
      transform: scale(1) translateX(-50%);
    }
  }

  .modal-share {
    left: 25%;

    &:hover {
      background-color: #5b99ce;
    }
  }

  .modal-save {
    left: 50%;

    &:hover {
      background-color: #5bce84;
    }
  }

  .modal-add {
    left: 75%;

    &:hover {
      background-color: #1858bb;
    }

    &.on-active-timetable {
      background-color: #2dd6b5;

      &:hover {
        background-color: #56eccf;
      }
    }
  }
}
