// link in sidebar
.final-schedule-link {
  cursor: pointer;
}

// Overriding Default Modal Styles
.final-exam-modal {
  max-height: 900px;
  max-width: 1200px;

  &.is-mobile {
    height: 75%;
  }

  > div {
    height: 100%;
    outline: none;
    width: 100%;
  }

  .modal-header {
    padding: 10px 10px 3px;
  }

  //  For the Slots in the Modal
  .master-slot {
    cursor: default;

    &.conflict {
      clear: none;
      float: left;
    }
  }

  .peer-card {
    padding: 0;
  }

  .peer-card-wrapper {
    border: hidden;
    box-shadow: none;
  }

  .upsell {
    h4 {
      float: none;
      font-weight: 400;
      text-align: center;
    }

    .disclaimer {
      float: left;
    }

    p {
      color: $g555;
      font-size: 16px;
      line-height: 22px;
      margin: 7px 0;
      margin-bottom: 20px;
      padding: 0 5px;
      transition: color .2s;
      word-wrap: break-word;
    }
  }

  .abnb-btn {
    background-color: $facebook;
    border-color: $facebook;
    color: $gfff;
    margin-top: 30px;
    max-width: 300px;

    ~ .abnb-btn {
      margin-top: 0;
    }

    &.secondary {
      > span {
        color: $gfff;
        font-weight: 300;
      }
    }
  }

  .add-courses-button {
    background-color: $gbbb;
    border-color: $gbbb;
    margin-bottom: 40px;
  }
}


// Style the loader
.modal-content {
  .final-exam__loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .loader {
    height: 90px;
    width: 90px;
  }
}

.final-exam__loader-wrapper {
  height: 350px;
}

// Final Exams Modal
.final-exam-calendar-ctn {
  padding: 30px;
  width: 100%;

  &.mobile {
    padding: 0 10px 20px;
  }
}

.final-exam-main {
  float: left;
  width: 80%;

  &.main-full {
    width: 100%;
  }
}

.final-exam-sidebar {
  float: left;
  padding: 0 0 0 20px;
  width: 20%;

  h3 {
    padding-top: 0;
  }
}

@media (max-width: 766px) {
  .final-exam-modal {
    .modal-header {
      padding: 10px 10px 3px;
    }

    .master-slot-content {
      h3 {
        font-size: 12px;
      }
    }
  }

  .final-exam-calendar-ctn {
    padding: 30px 10px;
	}

  .final-exam-main {
    float: none;
    width: 100%;
	}

  .final-exam-sidebar {
    padding: 20px 0 0;
    width: 100%;
	}
}

// For Each Week
.final-exam-days-ctn {
  display: flex;
}

.final-exam-day {
  border-bottom: 1px solid $gccc;
  border-right: 1px solid $gccc;
  min-height: 100px;
  width: 14.27%;

  &:first-child {
    border-left: 1px solid $gddd;
  }
}

.mobile .final-exam-day { // mobile styles
  border: 0;
  min-height: 0;
  width: 100%;
  min-width: 83px;
}

.final-exam-modal .mobile .master-slot-content h3 {
  font-size: 14px;
}

.final-exam-calender-days {
  h3 {
    border-bottom: 3px solid $gddd;
    border-right: 1px solid $gddd;
    border-top: 1px solid $gddd;
    float: left;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    text-align: center;
    width: 14.27%;

    &:first-child {
      border-left: 1px solid $gddd;
    }

    .day {
      color: $g999;
      display: inline-block;
    }

    .date {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

@media (max-width: 766px) {
  .final-exam-calender-days {
    h3 {
      line-height: 15px;
      padding: 3px 0;

      .day {
        display: block;
      }

      .date {
        display: block;
        margin-left: 0;
      }
    }
  }
}

// Links in Modal
.modal-body {
  .final-exam-disclaimer {
    clear: both;
    color: $gaaa;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0 0;

    i {
      margin-right: 3px;
    }

    a {
      color: $blue;
      display: block;
      text-decoration: underline;
    }
  }

  .mobile {
    .final-exam-disclaimer {
      margin-top: -10px;
      padding: 0;
    }
  }
}

.or-separator {
  margin: 0 auto;
  margin-bottom: 22px;
  max-width: 500px;
}
