.narrow-modal {
    max-width: 500px;
    overflow: auto;
}
#integration-modal {
	padding: 20px 20px;
}
#integration-logo {
	width: 100%;
	max-width: 300px;
	height: 150px;
	margin: 0 auto 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#integration-modal .switch-slide {
	float: right;
	margin: 0;
}
#integration-modal h3 {
	margin: 0;
	float: left;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
}
#integration-modal .button-wrapper {
	padding-top: 20px;
	text-align: center;
}