.news-modal {
  .modal-header {
    padding: 1em 2em;
    h1 {
      font-weight: bold;
    }
  }

  .news-body {
    padding: 1em 2em;

    h1 {
      font-size: 2em;
      margin: 0 0 0.5em 0;
      font-weight: bold;
    }

    h2 {
      font-size: 1.75em;
      margin: 0.5em 0 0.5em 0;
      font-weight: bold;
    }

    h3 {
      font-size: 1.5em;
      margin: 0.5em 0 0.5em 0;
      font-weight: bold;
    }

    h4 {
      font-size: 1.3em;
      margin: 0.5em 0 0.5em 0;
      font-weight: bold;
    }

    h5 {
      font-size: 1.15em;
      margin: 0.5em 0 0.5em 0;
      font-weight: bold;
    }

    h6 {
      font-size: 1em;
      margin: 0.5em 0 0.5em 0;
      font-weight: bold;
    }

    pre {
      @include theme() {
        background-color: t("modal-header-background");
      }
      border: none;
      border-radius: 3px;
      padding: 1em;
      margin: 1em 0;
      overflow: auto;
      font-size: 0.9em;
      line-height: 1.5em;
    }

    p {
      margin: 0;
    }
  }
}
