.peer-modal {
  height: 85%;
  max-height: 900px;
  max-width: 1200px;

  > div {
    height: 100%;
    outline: none;
    width: 100%;
  }

  .img-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #modal-content {
    background-color: #f7f7f7;
    height: 100%;
    position: relative;

    .loader {
      height: 90px;
      width: 90px;
    }
  }
}

#pm-side-bar {
  border-right: 1px solid $gddd;
  height: 100%;
  position: absolute;
  width: 200px;
}

#pm-header {
  clear: both;
  height: 50px;
  width: 100%;
}

#main-modal-wrapper {
  background-color: #f7f7f7;
  height: 100%;
  left: 200px;
  padding: 20px 10px 20px 20px;
  position: absolute;
  right: 0;
}

#split-modal-wrapper {
  background-color: #f7f7f7;
  height: 100%;
  overflow: auto;
  position: relative;
}

#main-modal-wrapper {
  h4 {
    float: left;
    font-weight: 200;
    margin: 0;
    margin-bottom: 16px;
    margin-left: 5px;
    text-align: left;
  }
}

.circle-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $gddd;
  border-radius: 100%;
  height: 80px;
  margin: 20px 60px;
  position: relative;
  width: 80px;
}

.peer-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $gddd;
  border-radius: 100%;
  float: left;
  height: 50px;
  position: relative;
  width: 50px;
}

.peer-card {
  float: left;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 50%;

  .user-info {
    height: 50px;
    margin-left: 70px;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
  }

  .ghost-name {
    background-color: $g222;
    height: 25px;
    margin-bottom: 5px;
    max-width: 200px;
    opacity: .1;
  }

  .card-hat {
    height: 85px;
    padding: 20px;
    width: 100%;
  }

  .shared-courses {
    padding: 0 20px 20px;
  }
}

.peer-card-wrapper {
  background-color: $gfff;
  border: 1px solid $gd4d4d4;
  box-shadow: 0 -1px 0 $ge6e6e6, 0 0 2px $black-transparent-1, 0 2px 4px $black-transparent-1;
}

.view-profile-btn {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  color: $gfff;
  display: block;
  float: left;
  font-size: 11px;
  height: 20px;
  padding: 0 0 0 2px;
  width: 100px;
}

.friend-status {
  font-size: 13px;
  margin: 0 0 0 110px;
  padding: 0;
}

.course-color-circle {
  background-color: #FD7473;
  border-radius: 16px;
  float: left;
  height: 16px;
  text-align: center;
  width: 16px;
}

.peer-card .shared-course p {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $g555;
  padding: 0 5px;
  margin: 7px 0;
  margin-left: 20px;
  -webkit-transition: color .2s;
  transition: color .2s;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ghost-course-title {
	width: 220px;
	height: 16px;
	background-color: $g555;
    line-height: 16px;
    padding: 0 5px;
    margin: 7px 0;
	margin-left: 25px;
	opacity: 0.07;
}

.peer-card .class-only-indicator {
	float: left;
	margin-top: -1px;
	margin-left: 2px;
	font-size: 18px;
	line-height: 18px;;
	color: rgb(83, 233, 151);
}

.ghost button {
	opacity: .4;
}

.ghost .course-color-circle {
	opacity: .5;
}

.pm-side-bar-slot {
	margin: 8px;
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	background-color: #FD7473;
	overflow: hidden;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.pm-side-bar-slot .slot-bar {
	left: 0;
	top: 0;
}

#pm-side-bar p {
	font-weight: 200;
	width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: $g555;
    text-align: center;
    margin-bottom: 30px;
}

.peer-card.upsell {
	width: 100%;
	text-align: center;
}

.peer-card-wrapper.upsell {
	width: 100%;
	padding: 35px 20px;
	text-align: center;
}

#main-modal-wrapper .upsell h4 {
	float: none;
	font-weight: 400;
	text-align: center;
}

#main-modal-wrapper .upsell .disclaimer {
	float: left;

}

#main-modal-wrapper .upsell p {
    font-size: 16px;
    line-height: 22px;
    color: $g555;
    padding: 0 5px;
    margin: 7px 0;
    -webkit-transition: color .2s;
    transition: color .2s;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.peer-card .fa-facebook-square {
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}

#main-modal-wrapper .upsell .lure-accept {
	background: #4AD187;
	border: 1px solid #4AD187;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 900;
	padding: 5px 10px 5px 10px;
	color: white;
	width: 100px;
}

.course-color-circle .fa-check {
	font-size: 12px;
	color: white;
	display: block;
	height: 16px;
	width: 16px;
	line-height: 16px;
}

.key {
	float: right;
}

.key-entry {
	margin-bottom: 3px;
}

.key-entry p {
	font-weight: 300;
	margin: 0px;
	margin-left: 20px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
}

.friend-status {
	color: rgb(58, 163, 105);
}


@media (max-width: 850px) {
	.peer-card {
		width: 100%;
	}
	#main-modal-wrapper h4 {
		font-size: 22px;
	}
	.key {
		margin-bottom: 15px;
	}
}

@media (max-width: 600px) {
	.pm-side-bar {
		display: none;
	}
	#main-modal-wrapper {
		position: absolute;
	    left: 0px
	}
	.peer-card-wrapper.upsell {
		padding: 18px 10px;
	}

	#main-modal-wrapper .upsell p {
		font-size: 12px;
		line-height: 16px;
	}

	#main-modal-wrapper h4 {
		margin-top: 3px;
		font-size: 25px;
	}

	#main-modal-wrapper .upsell h4 {
		font-size: 22px;
	}
}

@media (max-width: 410px) {
	#main-modal-wrapper h4 {
		font-size: 18px;
	}
	.key-entry p {
		font-size: 10px;
	}
}