.pref-modal {
  height: 550px;
  max-width: 600px;
  top: 50px;

  > div {
    outline: none;
  }

  .switch-slide {
    border-radius: 4px;
    margin: 0;

    .switch-label {
      font-family: $font-body;
      font-size: 12px;
      text-transform: none;

      &::after {
        background: $textbook;
      }
    }

    .switch-handle {
      margin: 0;
    }
  }

  .modal-header {
    background-color: $geee;
    border-bottom: 1px solid $gddd;
    padding: 25px;
    position: relative;
  }
}

.switch-yes-no {
  border-radius: 4px;
  margin: 0;

  .switch-handle {
    margin: 0;
  }
}

.conflict-row {
  display: flex;
  padding: 2% 0;
}

.preference-footer {
  display: flex;
  padding-bottom: 10px;
}

// overwrite flat UI select stuff
.select {
  font-size: 18px !important;
  min-width: 0 !important;
  width: 100% !important;
}
.footer-row {
  border-style: dashed;
  cursor: pointer;
  margin-top: 25px;

  &:hover {
    background-color: $primary-navy;
    color: $gfff;
  }
}

@media (max-width: 460px) {
  .select {
    // overwrite flat-ui on mobile
    font-size: 12px !important;
  }
}
