.search-bar {
  left: 260px;
  max-width: 600px;
  position: absolute;
  top: 10px;
  width: 49%;

  input {
    border: 0px;
    margin-left: 0px;
    font-size: 16px;
    border-radius: 0 25px 25px 0;
    @include theme() {
      background-color: t("search-bar-background");
    }
    height: 30px;
    line-height: 30px;
    outline: 0;
    width: 100%;

    &.results {
      border-radius: 0 10px 0 0;
      @include theme() {
        background-color: t("search-bar-focused-background");
      }
    }

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 30px;
    }

    &::-moz-placeholder {
      font-size: 14px;
      line-height: 30px;
    }

    &:-ms-input-placeholder {
      // IE 10+
      font-size: 14px;
      line-height: 30px;
    }

    &:-moz-placeholder {
      // Firefox 18-
      font-size: 14px;
      line-height: 30px;
    }
  }
}

.search-bar__input-wrapper {
  overflow: hidden;
  width: auto;
}

.search-bar__wrapper {
  width: 100%;
  border-radius: 25px;

  &.results {
    border-radius: 10px 10px 0 0;
    @include theme() {
      box-shadow: 0 2px 10px t("search-bar-box-shadow");
      border: 1px solid t("search-border");
    }
  }
}

.search-bar__semester {
  @include theme() {
    background-color: t("search-bar-background");
  }
  color: #757575;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 5px 0 6px 30px;
  border-radius: 25px 0 0 25px;

  > .tip-down {
    left: 1px;
    position: absolute;
    top: 12px;
  }

  > .bar {
    margin: 0 4px 0 5px;
    font-size: 18px;
    font-weight: 200;
  }

  &.results {
    @include theme() {
      background-color: t("search-bar-focused-background");
    }
  }

}

.semester-picker {
  @include theme() {
    background-color: t("search-bar-background");
    border: t("search-bar-semester-picker-border");
    box-shadow: 0 2px 10px t("search-results-box-shadow");
  }
  color: #777777;
  cursor: pointer;
  display: none;
  font-size: 14px;
  max-width: 95px;
  padding-bottom: 7px;
  padding-top: 7px;
  position: absolute;
  top: 30px;
  z-index: 10;

  &.down {
    display: block;
  }

  .tip-border {
    left: 6px;
    top: -9px;
  }

  .tip {
    left: 0;
    top: -7px;
  }
}

.semester-option {
  padding-left: 7px;
  padding-right: 7px;
  @include theme() {
    background-color: t("search-bar-background");
  }

  &:hover {
    @include theme() {
      background-color: t("search-bar-option-background-hover");
    }
  }
}

.search-results {
  @include theme() {
    background-color: t("search-bar-focused-background");
    border: 1px solid t("search-border");
    box-shadow: 0 3px 4px t("search-results-box-shadow");
  }
  border-radius: 0 10px 10px 10px;
  border-top: 0;
  box-shadow: 0 3px 4px $dblue7;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 29px;
  width: 150%;
  z-index: 10;
}

.see-more {
  color: #c3b9b1;
  font-size: 15px;
  height: 180px;
  overflow: hidden;
  text-align: center;
  width: 100%;

  p {
    font-size: 14px;
    margin: 0;
  }

  h4 {
    font-size: 16px;
    margin: 0;
  }
}

.see-more__inner {
  border: 2px dashed $ge6e6e6;
  border-radius: 10px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
}

// List wrapper for each search result course
.search-results__list-container {
  position: absolute;
  width: 66.66%;
  overflow-y: auto;
  height: 100%;
  min-height: 232px;
}

// Each Course that is listed in the Search Results
.search-course {
  cursor: pointer;
  height: 60px;
  list-style-type: none;
  max-width: 600px;
  padding: 10px 110px 10px 5px;
  position: relative;
  transition: background-color 0.2s, color 0.2s;

  &.hovered {
    @include theme() {
      background-color: t("search-results-hover");
     }
  }

  h3 {
    font-size: 14px;
    height: 14px;
    margin: 0;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h4 {
    @include theme() {
      color: t("search-bar-side-text");
    }
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
    min-height: 12px;
    padding-left: 5px;
    transition: all 0.1s linear;
  }

  .search-result-labels {
    margin-top: 5px;
    padding-left: 5px;
  }

  .label {
    float: left;
    line-height: 15px;
    margin: 3px 5px 0 0;
    padding: 0;

    &.hoverAdd {
      @include theme() {
        color: t("search-course-add-hover-text");
       }
    }

    &.hoverSave {
      @include theme() {
        color: t("search-course-save-hover-text");
       }
    }

    &.bubble {
      background-color: $gddd;
      font-size: 10px;
    }

    &.flag {
      color: $red;
      padding-left: 0;
    }
  }

  .search-course-add,
  .search-course-save {
    border-radius: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    width: 40px;
  }

  .search-course-save {
    @include theme() {
      background-color: t("search-course-save-background");
      &.in-roster {
        background-color: t("search-course-save-in-roster");
    
        &:hover {
          background-color: t("search-course-save-in-roster-hover");
        }
      }
    }

    right: 55px;

    &:hover {
      @include theme() {
       background-color: t("search-course-save-hover");
      }
    }
  }

  .search-course-add {
    @include theme() {
      background-color: t("search-course-save-background");
      &.in-roster {
        background-color: t("search-course-add-in-roster");
    
        &:hover {
          background-color: t("search-course-add-in-roster-hover");
        }
      }
    }

    h6 {
      color: #00a1ff;
      font-size: 12px;
      left: 50%;
      margin: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -75%);
      transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
      visibility: hidden;
      width: 56px;
    }

    &:hover {
      @include theme() {
        background-color: t("search-course-add-hover");
       }
    }
  }

  h6 {
    color: $g777;
    font-size: 12px;
    margin: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
  }
}

// If a course has an den integration turned on
.has-den {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 15px;
  margin-right: 5px;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: visible;
  width: 100px;
}

.search-course-add {
  &.in-roster {
    background-color: #2dd6b5;

    &:hover {
      background-color: #56eccf;
    }
  }
}

.search-course-save {
  &.in-roster {
    background-color: #97b0ea;

    &:hover {
      background-color: #aec1ef;
    }
  }
}

// Section Listings per Course
.search-sections {
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: visible;
}

.search-section {
  color: $g777;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  vertical-align: middle;

  &:hover {
    background-color: #ffdbbe;
    color: $navy-transparent-100;
  }
}

.search-course .search-course-add:hover + h6 {
  opacity: 1;
  visibility: visible;
}
.search-course .search-course-add:hover + h6 + .search-sections {
  opacity: 0;
  visibility: hidden;
}

.trans50 {
  // This makes it semi transparent
  background-color: $white-transparent-0;
  border: 1px solid $white-transparent-0;
  border-top-color: transparent;
  box-shadow: none;

  li,
  .search-section,
  .search-course h4 {
    // This makes it semi transparent
    color: $navy-transparent-0;
  }

  .search-section:hover {
    background-color: #ffdbbe;
    color: $navy-transparent-100;
  }

  .search-course,
  .search-course-add,
  .search-course-save,
  .search-bar__side,
  .search-course .label {
    background-color: transparent;
  }

  .see-more__inner {
    border: 1px solid $white-transparent-0;
    color: transparent;
  }

  .search-bar__side-sections {
    @include theme() {
      background-color: t("search-bar-side-trans50");
    }
  }

}

.results-loading-gif {
  background: url("/static/img/search-results-loader.gif") no-repeat;
  background-position: right 5px center;
}

// Side Bar in Search Results
.search-bar__side {
  @include theme() {
    background-color: t("search-bar-side");
  }
  height: 100%;
  min-height: 232px;
  overflow-y: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 33.33%;
}

.search-bar__side-sections {
  font-size: 0;

  h3 {
    font-size: 16px;
    margin: 0 5px 10px 0;
  }

  h4 {
    font-size: 14px;
    margin: 5px 0;
  }

  p {
    @include theme() {
      color: t("search-bar-side-text");
    }
    font-size: 11px;
    line-height: 11px;
    margin: 0 0 5px;
  }
}

.sb-side-sections {
  border: 1px solid $g777;
  border-radius: 3px;
  color: $g777;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: 1px 5px auto auto;
  padding: 5px;
  text-align: center;
  transition: background-color 0.1s;
  width: auto;

  &:hover {
    @include theme() {
      background-color: t("search-bar-side-hover");
    }
  }
}

@media (max-width: 1000px) {
  .search-bar {
    left: 82px;
    width: 55%;
  }
}

@media (max-width: 766px) {
  .search-bar {
    left: 57px;
    right: 107px;
    width: auto;
  }

  .search-results {
    width: 100%;
    height: 240px;
  }

  .search-course {
    width: 100%;
  }

  .search-bar__side {
    display: none;
  }

  .see-more {
    display: none;
  }

  .search-results__list-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .search-bar {
    left: 0;
    width: 100%;
  }

  .search-bar__wrapper {
    left: 50px;
    position: absolute;
    right: 85px;
    width: auto;

    &.results {
      border-radius: 0;
    }
  }

  .search-results {
    top: 39px;
    border: 0;
  }
}

@media (min-width: 767px) {
  .search-results {
    height: 360px;
  }

  .search-bar__wrapper {
    left: 50px;
    right: 85px;
  }
}

.theme-toggle-container {
  float: right;
  padding: 10px 2px;
  height: 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 1.25em;
}
