.terms-of-service-modal {
  text-align: center;

  h1 {
    font-size: 25px;
    margin: 8px auto 33px;
  }

  h3 {
    @include theme() {
      color: t("text-color-thin");
    }
    font-size: 14px;
    margin: 20px 10px;
  }

  .legal-links {
    color: $blue;
    display: block;
    font-size: 15px;
    margin: 3px 20px;

    i {
      font-size: 13px;
      margin-left: 3px;
    }
  }
}

.tos-modal-container {
  padding: 30px 20px;
}

.accept-tos-btn {
  @include theme() {
    background-color: t("confirm-button-background");
  }
  border: 0;
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px 20px;

  span {
    color: $gfff;
  }

  i {
    margin-right: 10px;
  }

  &:hover {
    @include theme() {
      background-color: t("confirm-button-hover");
    }
  }
}
