.user-acquisition-modal {
  height: 495px;
  max-width: 450px;
  overflow: auto;

  #save-calendar-container {
    padding: 30px;
  }
}

.abnb-btn {
  &.fb-btn {
    background-color: $facebook;
    border-color: $facebook;
    color: $gfff;
  }
}


.btn.six-px-top {
	margin-top: 6px;
}

.btn.eight-px-top {
	margin-top: 8px;
}

.abnb-modal h3 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-weight: 300;
    font-size: 17px;
    color: #484848;
}

.abnb-btn.disabled, .abnb-btn[disabled], fieldset[disabled] .abnb-btn{
    opacity: .25;
}
