html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
input,
textarea,
th,
tr,
thead {
  @include theme() {
    color: t("text-color");
  }
}

h1,
h2 {
  font-family: $font-primary;
  font-weight: 500;
}

h3,
h4,
h5,
h6,
p,
a,
span,
input,
textarea {
  font-family: $font-body;
  font-weight: 400;
}

.print {
  display: none;
}

.page {
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

@mixin side-bar {
  @include theme() {
    background-color: t("sidebar-background");
    color-scheme: t("color-scheme-type");
  }
  bottom: auto;
  height: 100%;
  left: calc(100% - 300px);
  overflow-y: auto;
  padding: 20px 10px 70px 0;
  position: absolute;
  top: 0;
  transform: translateX(0);
  transition: transform 0.3s;
  width: 300px;
  z-index: 9;

  &.full-cal {
    transform: translateX(100%);
  }

  &.less-cal {
    transform: translateX(0%);
  }
}

.side-bar {
  @include side-bar;
}

.side-bar-compare-timetable {
  @include side-bar;
  left: calc(100% - 600px);
  width: 600px;
}

@mixin main-bar {
  float: left;
  height: 100%;
  opacity: 1;
  overflow-y: auto;
  padding: 0 20px;
  transition: width 0.3s, opacity 0.3s, visibility 0.3s;
  visibility: visible;
  width: calc(100% - 300px);
  @include theme() {
    background-color: t("main-bar-background");
    color-scheme: t("color-scheme-type");
  }

  &.full-cal {
    width: 100%;
  }

  &.less-cal {
    width: calc(100% - 300px);
  }
}

.main-bar {
  @include main-bar;
}

.main-bar-compare-timetable {
  @include main-bar;
  width: calc(100% - 600px);
  &.less-cal {
    width: calc(100% - 600px);
  }
}

.all-cols {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  width: 100%;
}

.top-bar {
  @include theme() {
    background-color: t("top-bar-background");
    border-bottom: t("top-bar-border-bottom");
  }
  box-shadow: 0 0 12px $black-transparent-1, 0 0 1px $black-transparent-15;
  min-height: 50px;
  position: relative;
  z-index: 10;
}

.la-ball-clip-rotate-multiple {
  float: right;
  margin-right: 0;
}

.show-advanced-search {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -95px;
  top: 0;
  transition: transform 0.3s;
  user-select: none;
  width: 85px;

  i {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    font-family: $font-body;
    font-size: 12px;
    line-height: 12px;
    margin-left: 4px;
    padding: 3px 0;
    text-align: left;
    vertical-align: middle;
    width: 60px;
  }
}

@media (max-width: 999px) {
  .main-bar {
    width: 100%;

    &.full-cal {
      width: 100%;
    }

    &.less-cal {
      opacity: 0;
      visibility: visible;
      width: 0%;
    }
  }

  .side-bar {
    bottom: 0;
    left: 100%;
    overflow-y: auto;
    padding: 10px 10px 100px;
    position: fixed;
    top: 50px;
    transform: translateX(0%);
    width: 100%;

    &.full-cal {
      transform: translateX(0%);
    }

    &.less-cal {
      transform: translateX(-100%);
      width: 100%;
    }
  }
}

@media (max-width: 766px) {
  .main-bar {
    padding: 10px;
  }

  .show-advanced-search {
    display: none;
  }
}

@media (max-width: 500px) {
  .main-bar {
    padding: 0;
  }
}

// Logo & name
.semesterly-name {
  display: inline-block;
  float: left;
  font-family: $font-primary;
  font-size: 32px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  user-select: none;
}

.semesterly-logo {
  display: inline-block;
  float: left;
  height: 32px;
  margin-left: 35px;
  margin-top: 9px;
  user-select: none;
}

@media (max-width: 1000px) {
  .fc-ltr {
    .fc-time-grid {
      .fc-event-container {
        margin-left: 0.5%;
      }
    }
  }

  .semesterly-name {
    display: none;
  }

  .navicon {
    right: 9px;
  }
}
@media (max-width: 766px) {
  .semesterly-logo {
    margin-left: 10px;
  }
}
// end Logo & name

// Navicon
.navicon {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  z-index: 3;

  span {
    @include theme() {
      background-color: t("navicon-hamburger-background");
    }
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    transition: width 0.3s;

    &:nth-child(1) {
      top: 25%;
      width: 15px;
    }

    &:nth-child(2) {
      top: 50%;
      width: 20px;
    }

    &:nth-child(3) {
      top: 75%;
      width: 15px;
    }
  }

  &:hover {
    span {
      &:nth-child(1),
      &:nth-child(3) {
        width: 20px;
      }
    }
  }
}
// End Navicon

li {
  &.footer-button {
    line-height: 22px;

    > a {
      cursor: pointer;
      padding: 0 5px;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    .footer-button--github {
      font-size: 13px;
      color: $g333;
      background-color: $geee;
      border-radius: 3px;
      &:hover {
        text-decoration: none;
        background-color: $gddd;
      }
      i {
        margin: 0 3px;
      }
    }

    div {
      line-height: 20px;
    }
  }
}

.footer-button--facebook {
  line-height: 22px;
  background-color: transparent;
}

footer {
  background-color: transparent;

  .nav {
    margin: 5px 0;
  }

  ul {
    float: right;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 5px;

    a {
      color: $gaaa;
      font-size: 12px;
      font-weight: 400;

      &:hover {
        color: $gaaa;
        text-decoration: underline;
      }
    }
  }
}

.data-last-updated {
  color: $primary-navy;
  float: left;
  font-size: 12px;
  line-height: 22px;
  margin: 5px 0;
}

@media (max-width: 710px) {
  .data-last-updated {
    float: none;
    text-align: center;
  }

  footer {
    ul {
      float: none;
      text-align: center;
    }
  }

  .nav > li.footer-button {
    float: none;
    display: inline-block;
  }
}

@media (max-width: 450px) {
  footer {
    margin-top: 5px;
  }
}
