/* Course Modal Styles */
.course-modal {
	max-width: 1200px;
	height: 85%;
	max-height: 900px;
}
.course-modal > div {
	outline: none;
	width: 100%;
	height: 100%;
}
.course-modal + div {
	/* using important to override boron default style */
	/* can't declare in javascript either, cuz need hover */
	background-color: rgba(0,0,0,.8) !important;
	transition: background-color .2s;
}
.course-modal.trans + div {
	/* using important to override boron default style */
	/* can't declare in javascript either, cuz need hover */
	background-color: transparent !important;
}
.course-modal>div {
	/* using important to override boron default style */
	/* can't declare in javascript either, cuz need hover */
	background-color: rgba(0,0,0,.8) !important;
	transition: background-color .2s;
}
.course-modal.trans>div {
	/* using important to override boron default style */
	/* can't declare in javascript either, cuz need hover */
	background-color: transparent !important;
}
.course-modal.trans #modal-content,
.course-modal.trans #modal-header,
.course-modal.trans #modal-header h1,
.course-modal.trans #modal-header h2,
.course-modal.trans #modal-body p,
.course-modal.trans #modal-body p a,
.course-modal.trans #modal-body .credits h4,
.course-modal.trans #modal-body .rating-module h4,
.course-modal.trans #modal-body .modal-module {
	background-color: transparent;
	color: transparent;
	border-color: transparent;
}
.course-modal.trans #modal-close,
.course-modal.trans #modal-share,
.course-modal.trans #modal-save,
.course-modal.trans #modal-add,
.course-modal.trans #modal-body .rating-module,
.course-modal.trans #modal-body .modal-module,
.course-modal.trans #modal-body .modal-module-header,
.trans #reactions-wrapper {
	opacity: 0;
	visibility: hidden;
}
.trans .capacity-tracker-wrapper {
	opacity: 0;
	visibility: hidden;
}
.course-modal .master-slot .slot-bar {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.course-modal .img-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.course-modal #modal-content .loader {
	width: 90px;
	height: 90px;
}

.friend {
    height: 30px;
    overflow: hidden;
    margin-bottom: 3px;
    float: left;
    position: relative;
    width: 100%;
}

.course-modal .ms-friend {
    float: left;
    margin-left: 0px;
    padding: 0;
    height: 30px;
    width: 30px;
    margin-right: 4.5px;
}


/* Course Modal Content Styles */
#modal-content {
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: background-color .2s, color .2s;
	display: flex;
	flex-direction: column;
}
#modal-header {
	z-index: 11;
	position: relative;
	padding: 20px 10px 10px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #ddd;
	transition: background-color .2s, color .2s;
}
#modal-header h1 {
	margin: 0;
	font-size: 36px;
	padding-right: 85px;
	color: #34495E;
	transition: color .2s;
}
#modal-header h2 {
	margin: 10px 0;
	font-size: 16px;
	color: #777;
	font-weight: 400;
	padding-right: 15%;
	transition: color .2s;
	font-family: "Roboto",Arial,sans-serif;
}

/* Course Modal Corner Actions */
#modal-close,
#modal-share,
#modal-save {
	position: absolute;
	top: 5px;
	width: 20px;
	height: 20px;
	color: #777;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	transition: color .2s, transform .3s, opacity .2s, visibility .2s;
}
#modal-close i,
#modal-share i,
#modal-save i {
	line-height: 20px;
	font-size: 20px;
}
#modal-close {
	right: 5px;
}
#modal-share {
	right: 30px;
}
#modal-header #share-course-link-wrapper {
    position:absolute;
    top:35px;
    right:5px;
    height:33px;
    padding:0px 5px;
    background-color:#D6D6D6;
    border-radius:2px;
}
#modal-header #share-course-link {
	font-size:14px;
    height:25px;
    margin-top:4px;
}
#modal-header #share-course-link-wrapper .tip {
    top:-7px;
    right:28px;
    border:1px solid #ccc;
}
#modal-header #share-course-link-wrapper .tip-border {
    top:-7px;
    right:28px;
}
#modal-save {
	right: 55px;
}
#modal-close:hover {
	color: #C0392B;
	transform: scale(1.2);
}
#modal-share:hover {
	color: #5B99CE;
	transform: scale(1.2);
}
#modal-save:hover {
	color: #5BCE84;
	transform: scale(1.2);
}

/* Course Modal Add */
#modal-add {
	position: absolute;
	bottom: -34px;
	right: 10%;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-color: #34495E;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	transition: background-color .2s, opacity .2s, visibility .2s;
	z-index: 1;
}
#modal-add i {
	text-align: center;
	width: 100%;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
#modal-add:hover {
	background-color: #1858BB;
}
@keyframes pulsate {
0% { opacity: 1; transform: scale(1); }
50% { opacity: 1; transform: scale(1.5); }
100% { opacity: 1; transform: scale(1); }
}
#modal-add.in-roster:hover {
	background-color: #C0392B;
	animation: pulsate 0.8s ease-out infinite;
}
#modal-add.on-active-timetable{
	background-color: #2DD6B5;
}
#modal-add.on-active-timetable:hover{
	background-color: #56ECCF;
}

/* Course Modal Body */
#modal-body {
	overflow-y: auto;
	flex: 1;
	width: 100%;
}
#modal-body [class^="col-"] {
	padding: 30px 15px;
}

h3.modal-module-header {
	font-size: 14px;
	padding: 10px 5px;
	margin: 0;
	color: #777;
	font-weight: 300;
	clear: both;
	position: relative;
	transition: color .2s;
}
h3.modal-module-header:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	transition: background-color .2s;
}
h3.modal-module-header small {
	font-size:11px;
	color:#777;
}

#modal-body p {
	font-size: 16px;
	line-height: 22px;
	color: #555;
	padding: 0 5px;
	margin: 7px 0;
	transition: color .2s;
	word-wrap:break-word;
}
#modal-body .prerequisites p {
	margin-top:2px;
}
#modal-body .credits h3 {
	text-align: center;
	font-weight: 100;
	margin: 0;
	font-size: 60px;
	line-height: 66px;
}
#modal-body .credits h4 {
	text-align: center;
	color: #999;
	margin: 0 auto 20px;
	line-height: 30px;
	font-size: 30px;
	font-weight: 200;
	transition: color .3s;
}
#modal-body .rating-module {
	opacity: 1;
	visibility: visible;
	transition: opacity .2s, visibility .2s;
}
#modal-body .rating-module h4 {
	color: #777;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	margin: 0 auto 5px;
	transition: color .2s;
}
#modal-body .textItem {
	line-height: 20px;
}
#modal-body a.course-link,
#modal-body a.course-link:link,
#modal-body a.course-link:visited {
	color: #555;
	text-decoration: underline;
	cursor: pointer;
	position: relative;
	transition: color .3s;
}
#modal-body a.course-link:active,
#modal-body a.course-link:hover {
	color: #3473c8;
}
#modal-body a.course-link .course-link-tip {
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
	white-space: nowrap;
	position: absolute;
	top: -10px;
	left: -10px;
	height: 60px;
	background-color: #FD7473;
	color: #222;
	border-radius: 5px;
	line-height: 20px;
	z-index: 1;
	overflow: hidden;
}
#modal-body a.course-link .course-link-content {
	padding: 10px;
}
#modal-body a.course-link .course-link-tip span {
	display: block;
}
#modal-body a.course-link:hover .course-link-tip {
	opacity: 1;
	visibility: visible;
}

/* Course Modal Sections */
.modal-section {
	padding: 7px;
	width: 50%;
	float: left;
	cursor: pointer;
	position: relative;
	background-color: rgba(255,255,255,.8);
	transition: background-color .2s;
}
.modal-section:hover {
	background-color: #eee;
}
.modal-section h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	color: #34495E;
}
.modal-section h4 span {
	margin-right: 3px;
	display: inline-block;
	vertical-align: middle;
}
.modal-section h4 i {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
}
.modal-section h5 {
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	line-height: 16px;
	color: #777;
}
.modal-section h6 {
	font-size: 10px;
	font-weight: 400;
	margin: 0;
	line-height: 14px;
	color: #777;
}
.modal-section h6 .green {
	color: #0AA98A;
}
.modal-section h6 .yellow {
	color: #D29842;
}
.modal-section h6 .red {
	color: #D21616;
}
.hidden-modal{
	color: rgba(52, 73, 94, 0);
}
.modal-section .fa-calendar-check-o {
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
}
.modal-section.on-active-timetable .fa-calendar-check-o,
.modal-section.locked .fa-lock {
	opacity: 1;
	visibility: visible;
}
.modal-section .fa-lock  {
	position: absolute;
	bottom: 7px;
	right: 7px;
	font-size: 14px;
	line-height: 20px;
	width: 20px;
	text-align: center;
	color: #34495E;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
}
#modal-body .friend p {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 35px;
    right: 0px;
}

#friends-inner {
	margin: 0 auto;
}

.academic-support li {
	list-style-type: none;
	padding-top: 5px;
}
.academic-support .integration-image {
	width: 22px;
	height: 22px;
	float: left;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
}
.academic-support h4 {
	margin: 0;
	font-size: 14px;
	float: left;
	line-height: 22px;
}
#modal-body .academic-support a {
	float: right;
	font-size: 12px;
}
#modal-body .academic-support p {
	clear: both;
	font-size: 12px;
	line-height: 14px;
	padding: 5px 0 0;
}

@media (max-width: 766px) {
	#modal-header h1 {
		font-size: 32px;
	}
	#modal-header h2 {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	.course-modal {
		position: static;
	}
	#modal-header {
		padding-bottom: 30px;
	}
	#modal-header h1 {
		font-size: 20px;
	}
	#modal-header h2 {
		font-size: 14px;
	}
	#modal-body {
		padding-top: 20px;
	}
	#modal-add,
	#modal-share,
	#modal-save {
		position: absolute;
		top: auto;
		bottom: -34px;
		border-radius: 100%;
		width: 60px;
		height: 60px;
		background-color: #34495E;
		cursor: pointer;
		transition: background-color .3s;
		z-index: 1;
		transform: translateX(-50%);
	}
	#modal-add i,
	#modal-share i,
	#modal-save i {
		text-align: center;
		width: 100%;
		line-height: 60px;
		color: #fff;
		font-size: 24px;
	}
	#modal-share {
		left: 25%;
	}
	#modal-save {
		left: 50%;
	}
	#modal-add {
		left: 75%;
	}
	#modal-add:hover,
	#modal-share:hover,
	#modal-save:hover {
		transform: scale(1) translateX(-50%);
	}
	#modal-share:hover {
		background-color: #5B99CE;
	}
	#modal-save:hover {
		background-color: #5BCE84;
	}
}

.capacity-tracker-wrapper {
	text-align: center;
}

#capacity-attention-wrapper {
	line-height: 25px;
	height: 25px;
	font-size: 16px;
	display: inline-block;
	margin-bottom: 10px;
}

#capacity-attention-wrapper > div#attention-tag {
	float:left;
	background-color: rgb(177, 81, 80);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	padding-right: 10px; 
}

#capacity-attention-wrapper > div#attention-tag div.slot-bar {
	float:left;
	position: relative;
	background-color: rgb(253, 116, 115);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	height: 25px;
}

#capacity-attention-wrapper > div#attention-tag div#clock-icon {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

#capacity-attention-wrapper > div#attention-tag span {
	display: inline-block;
}


#capacity-attention-wrapper #attention-text {
	float: left;
	margin-left: 5px;
	color: #555;
}

#capacity-attention-wrapper #attention-text .highlight {
	color: rgb(177, 81, 80);
}

/* NOTE: 1088px is fluid up to XXXX% */
@media (max-width: 1088px) {
	#capacity-attention-wrapper > div#attention-tag {
		float: none;
	}

	#capacity-attention-wrapper #attention-text {
		float: none;
		margin: 5px 0 0 0;
	}
	#capacity-attention-wrapper {
		font-size: 16px;
		margin-top: 15px;
	}
}

@media (max-width: 801px) {
	#capacity-attention-wrapper {
		font-size: 14px;
	}
}

@media (max-width: 670px) {
	#capacity-attention-wrapper {
		font-size: 13px;
	}
}

#capacity-tracker-text {
	color: #777;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 5px;
}

#capacity-tracker-text span {
	font-weight: 300;
}