/* Course Modal Styles */
.course-modal {
	max-width: 1200px;
	height: 85%;
	max-height: 900px;
}
.course-modal > div {
	outline: none;
	width: 100%;
	height: 100%;
}
.course-modal + div {
	/* using important to override boron default style */
	/* can't declare in javascript either, cuz need hover */
	background-color: rgba(0,0,0,.8) !important;
	transition: background-color .2s;
}
.course-modal.trans + div {
	/* using important to override boron default style */
	/* can't declare in javascript either, cuz need hover */
	background-color: transparent !important;	
}
.course-modal.trans #modal-content,
.course-modal.trans #modal-header,
.course-modal.trans #modal-header h1,
.course-modal.trans #modal-header h2,
.course-modal.trans h3.modal-module-header,
.course-modal.trans h3.modal-module-header:after,
.course-modal.trans #modal-body p,
.course-modal.trans #modal-body .credits h4,
.course-modal.trans #modal-body .rating-module h4 {
	background-color: transparent;
	color: transparent;
	border-color: transparent;
}
.course-modal.trans #modal-close,
.course-modal.trans #modal-share,
.course-modal.trans #modal-save,
.course-modal.trans #modal-add,
.course-modal.trans #modal-body .rating-module {
	opacity: 0;
	visibility: hidden;
}

/* Course Modal Content Styles */
#modal-content {
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: background-color .2s, color .2s;
}
#modal-header {
	position: relative;
	padding: 20px 10px 10px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #B6D2FD;
	transition: background-color .2s, color .2s;
}
#modal-header h1 {
	margin: 0;
	font-size: 36px;
	padding-right: 85px;
	color: #34495E;
	transition: color .2s;
}
#modal-header h2 {
	margin: 10px 0;
	font-size: 16px;
	color: #777;
	font-weight: 400;
	padding-right: 15%;
	transition: color .2s;
}

/* Course Modal Corner Actions */
#modal-close,
#modal-share,
#modal-save {
	position: absolute;
	top: 5px;
	width: 20px;
	height: 20px;
	color: #777;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	transition: color .2s, transform .3s, opacity .2s, visibility .2s;
}
#modal-close i,
#modal-share i,
#modal-save i {
	line-height: 20px;
	font-size: 20px;
}
#modal-close {
	right: 5px;
}
#modal-share {
	right: 30px;
}
#modal-save {
	right: 55px;
}
#modal-close:hover {
	color: #ff4523;
	transform: scale(1.2);
}
#modal-share:hover {
	color: #5B99CE;
	transform: scale(1.2);
}
#modal-save:hover {
	color: #5BCE84;
	transform: scale(1.2);
}

/* Course Modal Add */
#modal-add {
	position: absolute;
	bottom: -34px;
	right: 10%;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-color: #34495E;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	transition: background-color .2s, opacity .2s, visibility .2s;
	z-index: 1;
}
#modal-add i {
	text-align: center;
	width: 100%;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
#modal-add:hover {
	background-color: #1858BB;
}
#modal-add.in-roster{
	background-color: #2DD6B5;
}
#modal-add.in-roster:hover{
	background-color: #56ECCF;
}

/* Course Modal Body */
#modal-body {
	overflow-y: auto;
	position: absolute;
	top: 107px;
	bottom: 0;
	left: 0;
	width: 100%;
}
#modal-body [class^="col-"] {
	padding: 30px 15px;
}
h3.modal-module-header {
	font-size: 14px;
	padding: 10px 5px;
	margin: 0;
	color: #777;
	font-weight: 200;
	clear: both;
	position: relative;
	transition: color .2s;
}
h3.modal-module-header:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	transition: background-color .2s;
}
#modal-body p {
	font-size: 16px;
	line-height: 22px;
	color: #555;
	padding: 0 5px;
	margin: 7px 0;
	transition: color .2s;
}
#modal-body .credits h3 {
	text-align: center;
	font-weight: 200;
	margin: 0;
	font-size: 60px;
	line-height: 66px;
}
#modal-body .credits h4 {
	text-align: center;
	color: #D4D4D4;
	margin: 0 auto 20px;
	line-height: 30px;
	font-size: 30px;
	font-weight: 200;
	transition: color .3s;
}
#modal-body .rating-module {
	opacity: 1;
	visibility: visible;
	transition: opacity .2s, visibility .2s;
}
#modal-body .rating-module h4 {
	color: #777;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	margin: 0 auto 5px;
	transition: color .2s;
}

/* Course Modal Sections */
.modal-section {
	padding: 7px;
	width: 50%;
	float: left;
	cursor: pointer;
	position: relative;
	background-color: rgba(255,255,255,.8);
	transition: background-color .2s;
}
.modal-section:hover {
	background-color: #eee;
}
.modal-section h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	color: #34495E;
}
.modal-section h5 {
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	line-height: 16px;
	color: #777;
}
.modal-section h6 {
	font-size: 10px;
	font-weight: 400;
	margin: 0;
	line-height: 14px;
	color: #777;
}
.modal-section h6 .green {
	color: #0AA98A;
}
.modal-section h6 .yellow {
	color: #D29842;
}
.modal-section h6 .red {
	color: #D21616;
}
.hidden-modal{
	color: rgba(52, 73, 94, 0);
}
@media (max-width: 766px) {
	#modal-header h1 {
		font-size: 32px;
	}
	#modal-header h2 {
		font-size: 14px;
	}
}

@media (max-width: 500px) { 
	.course-modal {
		position: static;
	}
	#modal-header {
		padding-bottom: 30px;
	}
	#modal-header h1 {
		font-size: 20px;
	}
	#modal-header h2 {
		font-size: 14px;
	}
	#modal-body {
		padding-top: 20px;
	}
	#modal-add,
	#modal-share,
	#modal-save {
		position: absolute;
		top: auto;
		bottom: -34px;
		border-radius: 100%;
		width: 60px;
		height: 60px;
		background-color: #34495E;
		cursor: pointer;
		transition: background-color .3s;
		z-index: 1;
		transform: translateX(-50%);
	}
	#modal-add i,
	#modal-share i,
	#modal-save i {
		text-align: center;
		width: 100%;
		line-height: 60px;
		color: #fff;
		font-size: 24px;
	}
	#modal-share {
		left: 25%;
	}
	#modal-save {
		left: 50%;
	}
	#modal-add {
		left: 75%;
	}
	#modal-add:hover,
	#modal-share:hover,
	#modal-save:hover {
		transform: scale(1) translateX(-50%);
	}
	#modal-share:hover {
		background-color: #5B99CE;
	}
	#modal-save:hover {
		background-color: #5BCE84;
	}
}