@media screen and (max-device-width: 767px) {
    #calendar .fc-toolbar {
        border-color: transparent;
        border-bottom: 0;
        padding: 5px;
        margin-top: 0px
    } 
}

@media screen and (max-device-width: 767px) and (max-aspect-ratio: 14/9) {
    .day-pill {
        width: 20%;
        float: left;
        font-size: 12px;
        line-height: 20px;
        color: #777;
    }

    #day-pills {
        width: 100%;
        padding: 0 5px 0 5px;
        margin-top: 3px;
        font-size: 0px;
        text-align: center;
    }

    .day-circle.selected {
        height: 20px;
        width: 20px;
        margin: 0 auto;
        color: white;
        background-color: rgb(253, 116, 115);
        border-radius: 20px;
    }

    #day-pills-wrapper {
        width: 100%;
    }

    #nudgespotInappContainer {
        display: none;
    }   

    #calendar .fc-toolbar {
        border-color: transparent;
        border-bottom: 0;
        background-color: #F7F7F7;
        padding: 5px;
        margin-top: 0px
    } 

    .fc-right button.save-to-ical .fc-right button.save-timetable {
        background-color: transparent;
        border: none;
    }

    .fc .fc-toolbar>*>:first-child {
        margin-left: 8px;
    }

    .sem-pages, .sem-pagination-nav {
        background-color: transparent;
    }  

    .sem-pagination .sem-pages {
        padding: 0 0 0 5px;
        white-space: nowrap;
        border: 1px solid transparent;
        margin-right: 0px;
        background-color: transparent;
    }

    .sem-pages .sem-page {
        border: 5px solid #F7F7F7;
    }

    .sem-pagination .sem-pagination-nav {
        width: 5px;
        margin-left: 3px;
        border: none;
        background-color: transparent;
    }
}

#calendar .up.fc-toolbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 20px;
    border-bottom: 2px solid #ddd;
}

#calendar.up {
    margin-top: 65px;
}

#calendar .fc-timeline:before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgb(253, 116, 115);
    z-index: 1000;
    position: absolute;
    bottom: -4px;
}

#calendar .fc-timeline {
    background-color: rgb(253, 116, 115);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 300px;
    z-index: 1000;
}