.pure-overlay{
	z-index:123123;
	display:none; /* remove to janky-fade the background upon menu click */
}

.pure-drawer{
	left:225px;
	background-color:#222222;
}

.pure-drawer[data-position='top'] {
  height: 100%;
  width: 100%; }
  @media only screen and (min-width: 40.063em) {
    .pure-drawer[data-position='top'] {
      height: 89px; } }
  @media only screen and (min-width: 64.063em) {
    .pure-drawer[data-position='top'] {
      height: 89px; } }  /* height of menu */


.pure-toggle-label {
cursor: pointer;
display: inline-block;
position: absolute;
z-index: 200;
color: #5d809d;
width: 50px;
height: 50px;
transition: all 400ms ease-in-out;
border: 2px solid #5d809d;
border-radius: 50%;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-tap-highlight-color: transparent; }
.pure-toggle-label:hover {
  border-color: #4a647e;
  color: #4a647e; }
  .pure-toggle-label:hover .pure-toggle-icon,
  .pure-toggle-label:hover .pure-toggle-icon:before,
  .pure-toggle-label:hover .pure-toggle-icon:after {
    background-color: #4a647e; }
.pure-toggle-label:active {
  -webkit-tap-highlight-color: transparent; }
.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:before,
.pure-toggle-label .pure-toggle-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 15px;
  cursor: pointer;
  background: #5d809d;
  display: block;
  content: '';
  transition: all 500ms ease-in-out; }
.pure-toggle-label .pure-toggle-icon {
  transform: translate3d(-50%, -4px, 0);
  -webkit-transform: translate3d(-50%, -4px, 0); }
.pure-toggle-label .pure-toggle-icon:before {
  transform: translate3d(-50%, -14px, 0);
  -webkit-transform: translate3d(-50%, -14px, 0); }
.pure-toggle-label .pure-toggle-icon:after {
  transform: translate3d(-50%, 10px, 0);
  -webkit-transform: translate3d(-50%, 10px, 0); }

.menu-option {
	width:60px;
	height:45px;
	color:#222222;
	background-color:#4a647e;
}

@media screen and (max-width: 767px) {
  .menu-option {
    width:45px !important;
  }
}

.menu-option:visited, .menu-option:focus{
	border:none;
	outline:none;
}

.menu-option-wrapper{
  display:inline-block;
}

