.dtm.shade #top-bar {
	z-index: 0;
}
.dtm #main-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
.dtm #side-bar {
	position: fixed;
	top: 50px;
	bottom: 0;
	background-color: transparent;
}
/* Footer */
.dtm footer {
	margin: 0;
	height: auto;
	min-height: auto;
	position: absolute;
	bottom: 10px;
}
.dtm footer li {
	margin: 0 3px;
}
.dtm footer .nav > li > a {
	padding: 0 5px;
}
/* Share Calendar */
.share-dtm {
	position: absolute;
	background-color: #4986e7;
	color: #fff;
	font-size: 16px;
	padding: 4px 20px;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}