/* Exploration Modal Styles */
.exploration-modal {
	max-width: 1200px;
	height: 85%;
	max-height: 900px;
}
.exploration-modal > div {
	outline: none;
	width: 100%;
	height: 100%;
}
.exploration-modal.trans {
	color: transparent;
	background-color: transparent;
}
#exploration-content {
	width: 100%;
	height: 100%;
	position: relative;
	background: #fff;
}

@media (max-width: 766px) {
	.exploration-modal,
	.exploration-modal + div {
		display: none;
	}
}

/* Exploration Header */
#exploration-header {
	background-color: #eee;
	padding: 15px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
#exp-title i {
	font-size: 22px;
	line-height: 30px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
#exp-title h1 {
	font-size: 18px;
	margin: 0;
	color: #777;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
}
#exploration-header input {
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 16px;
	border: 1px solid #E8E8E8;
	outline: 0;
}
/* Close Exploration Button */
#exploration-close {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: #777;
	transition: color .3s, transform .3s;
}
#exploration-close:hover {
	color: #ff4523;
	transform: scale(1.2);
}
#exploration-close i {
	line-height: 20px;
	font-size: 20px;
}

/* Exploration Body */
#exploration-body {
	position: absolute;
	top: 61px;
	left: 0;
	width: 100%;
	bottom: 0;
}
h3.exp-header {
	font-size: 14px;
	padding: 10px 5px;
	margin: 0;
	color: #777;
	font-weight: 200;
	clear: both;
	position: relative;
}
h3.exp-header:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ddd;
}
#exploration-body p {
	color: #777;
	font-size: 12px;
}

/* Exploration Filters */
#exp-filters {
	width: 25%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}
.exp-filter-section {
	padding: 0 0 20px;
}
h3.exp-header {
	font-size: 14px;
}
h3.exp-header i {
	float: right;
	cursor: pointer;
	color: #999;
	transition: color .3s;
}
h3.exp-header i:hover {
	color: #7E88DC;
}
#exp-filters h6 {
	font-size: 16px;
	padding: 5px;
	margin: 0 5px 3px;
	border-radius: 3px;
	font-weight: 400;
	/*background-color: #eee;*/
}
#exp-filters h6 i {
	margin-right: 5px;
	cursor: pointer;
	transition: transform .3s, color .3s;
}
#exp-filters h6 i:hover {
	color: #ff4523;
	transform: scale(1.1);
}

/* Filter Out Pop */
.filter-pop-out {
	position: absolute;
	top: 10px;
	width: 200px;
	left: 25%;
	background-color: #fff;
	border: 1px solid #E8E8E8;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 1;
    display: none;
}
.filter-pop-out.open {
	display: block;
}
.filter-pop-out input {
	border: none;
	outline: 0;
	padding: 0 5px 0 25px;
	font-size: 16px;
	width: 100%;
	line-height: 42px;
}
.fpo-list {
	padding: 0;
	max-height: 400px;
	overflow-y: auto;
}
.fpo-list ul {
	padding: 0;
	margin: 0;
}
.fpo-list li {
	position: relative;
	padding: 0 5px 0 45px;
	list-style-type: none;
	cursor: pointer;
	background-color: #fff;
	transition: background-color .3s
}
.fpo-list li:hover {
	background-color: #eee;
}
.fpo-list i {
	display: inline-block;
	position: absolute;
	left: 10px;
	line-height: 42px;
	vertical-align: middle;
}
.fpo-list h6 {
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 14px 0;
	line-height: 14px;
	vertical-align: middle;
}

/* Exploration Search Results */
#exp-search-results {
	padding: 15px;
	position: absolute;
	width: 37.5%;
	left: 25%;
	height: 100%;
	overflow-y: auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
#exp-search-results p {
	padding-left: 10px;
}
#exp-search-list {
	width: 100%;
	height: 100%;
}
.exp-s-result {
	padding: 10px 110px 10px 10px;
	background-color: #fff;
	transition: background-color .3s;
}
.exp-s-result:hover {
	background-color: #eee;
}
.exp-s-result h4 {
	font-size: 14px;
	margin: 0;
}
.exp-s-result h5 {
	font-size: 12px;
	font-weight: 400;
	color: #777;
	margin: 5px 0;
}

/* Exploration Course Content */
#exp-modal {
	width: 37.5%;
	height: 100%;
	position: absolute;
	left: 62.5%;
	top: 0;
	overflow-y: auto;
}
#exp-modal #modal-header {
	background-color: #fff;
	padding: 20px 10px 20px;
}
#exp-modal h1 {
	font-size: 22px;
	padding: 0;
}
#exp-modal h2 {
	font-size: 14px;
	padding: 0 20% 0 0;
}
#exp-modal #modal-share {
	top: auto;
	position: absolute;
	bottom: -34px;
	right: 10%;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-color: #B6D2FD;
	cursor: pointer;
	transition: background-color .3s;
	z-index: 1;
}
#exp-modal #modal-share i {
	text-align: center;
	width: 100%;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
#exp-modal #modal-share:hover {
	background-color: #1858BB;
	transform: scale(1);
}
#exp-modal [class^="col-"] {
	width: 100%;
}