.calendar-li h4 {
	font-size: 15px;
	margin: 0px;
	float: left;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-left: 25px;
}

.calendar-li .check {
	position: absolute;
	height: 15px;
	width: 15px;
	float:left;
	margin-right: 5px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
}

.calendar-li {
	position: relative;
	clear: both;
	height: 15px;
	margin-top: 10px;
}

#gcal-list {
	max-height: 250px;
	overflow: auto;
	padding: 5px;
	border: 1px solid #DDDDDD;
}