// Base
@import "base/colors";
@import "base/fonts";
@import "base/themes.scss";

// Vendor
@import "vendor/react-select";
@import "vendor/react_input_range";
@import "vendor/full-calendar";

// Framework
@import "framework/grid";
@import "framework/page_layout";

// Modules
@import "modules/alert";
@import "modules/evaluation";
@import "modules/load";
@import "modules/pagination";
@import "modules/reactions";
@import "modules/share_link";
@import "modules/slot";
@import "modules/tgl";
@import "modules/tooltip";

// Partials
@import "partials/course_modal";
@import "partials/custom_event_modal.scss";
@import "partials/day_calendar";
@import "partials/exploration_modal";
@import "partials/integration-modal";
@import "partials/peer_modal";
@import "partials/preference-modal";
@import "partials/print_layout";
@import "partials/save_calendar_modal";
@import "partials/search_bar";
@import "partials/side_bar";
@import "partials/side_scroller";
@import "partials/signup-modal";
@import "partials/social";
@import "partials/timetable";
@import "partials/tos-banner";
@import "partials/tos-modal";
@import "partials/tut-modal";
@import "partials/news_modal.scss";
@import "partials/user_acquisition_modal";
@import "partials/user_settings_modal";
