body {
    font-family: 'Lato', serif;
    font-weight:200;
}
.fc-time-grid .fc-slats td {
   height: 30px;
   border-bottom: 0;
}
#calendar {
	height: 100% !important;
	margin-left:100px;
	margin-right:100px;
}
#calendar-inner {
	height: 995px;
}
.pure-pusher-container {
	margin-bottom:50px;
}
.fc-event-container {
	left:0px !important;
	width:98%;
}
.slot {
    z-index: 1;
    left: 0px;
    right: 0px;
    min-width: 95%!important;
    float: left;
    margin-left:0px !important;
    padding-left:1%;
}

.fc-axis {
	width:42px;
}
@media screen and (max-width: 987px) {
	.fc-event-container {
		width:97.5% !important;

	}
}
@media screen and (max-width: 811px) {
	.fc-event-container {
		width:97% !important;

	}
}
@media screen and (max-width: 690px) {
	.fc-event-container {
		width:96% !important;

	}
}
@media screen and (max-width: 540px) {
	.fc-event-container {
		width:95% !important;

	}
}
@media screen and (max-width: 488px) {
	.fc-event-container {
		width:94% !important;

	}
}
