body {
    font-family: 'Lato', serif;
    font-weight:200;
}
input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  padding:10px;
  border:2px solid #ccc;
  transition: all 0.3s;
  background-color:#F7F6F6;
}
input[type="text"]:focus {
	outline:none;
	border:2px solid #18A98C; /* #3D546B */
    background-color:#fff;
}
.fc-time-grid .fc-slats td {
   height: 30px;
   border-bottom: 0;
}


#calendar {
	height: 100% !important;
	margin-left:70px !important;
	margin-right:70px !important;
	min-width:300px;
}
#calendar-inner {
	height: 995px;
}
.pure-pusher-container {
	margin-bottom:50px;
}
.fc-event-container {
	left:0px !important;
	width:98%;
}
.slot {
    z-index: 1;
    left: 0px;
    right: 0px;
    min-width: 95%!important;
    float: left;
    margin-left:0px !important;
    padding-left:1%;
    font-size:12.5px;
    transition:all 0.5s;
    overflow-x:hidden;
    cursor:pointer;
}

.slot-inner {	
	position:absolute;
	bottom:0px;
	z-index:2000;

}
.button-surround {
	font-size:18px;
	color:#ecf0f1;
	background-color:rgba(52,73,94,0.9);
	margin-bottom:1px;
	padding:4px;
	border-radius:6px;
	z-index:2000;
	border:1px solid #222;

}
.button-surround:hover {
	color:#fff !important;
	background-color:#1A3552;
}
#search-bar-container {
	width:100%;
	height:100px;
	padding-top:25px;
}
#search-bar {

	
}
#search-input {	
	width:90%;
	float:left;
	border-radius:0;
	border-top-left-radius: 3px;
}
#search-results-container {
	position:absolute;
	background-color:#fefefe;
	color:#222222;
	z-index:1000;
	width:99%;
	border:2px solid #222;
	border-top:0px;
	overflow: hidden;
	max-height:487px;
}

#search-results {
	border-radius:0px;
}
.search-result {
/*	cursor:pointer;
*/
}
.search-result:hover {
	background-color: #3D546B;
}
.mrm {
	margin-right:0px;
}
.todo {
	margin-bottom:0px;
}
.todo li:last-child {
    border-radius: 0 0 0px 0px;
    padding-bottom: 21px;
}
.search-result-action {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -20px;
    background-color: #ddd;
    border-radius: 50%;
    font-family: "Flat-Ui-Icons";
    text-align: center;
    line-height: 41px;
    font-size: 15px;
    transition: all 0.3s;
}
.search-result-action:hover {
	background-color: #fff;
	color: #222;
}
.todo li:after, .todo li.todo-done:after {
    content:none;
}
.todo-done .search-result-action {
    background: #1abc9c;
    color: #2c3e50;
}
.todo-done .search-result-action:hover {
	background-color: #66CCB8;
}


#menu-btn {
	border:2px solid #B9BBBB;
	border-left:none;
	background-color:#FFF;
	height:46px;
	width:9%;
	border-top-right-radius: 3px;
}
#menu-btn:focus {
	outline-width: 0;
}
.input-combine {
	position: relative !important;
	margin-left: auto;
	margin-right:auto;
	width:50%;
	display:block;
	min-width:218px;
}
.fc-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fc-axis {
	width:42px;
	font-size:15px;
}
.fc-day-header {
	font-weight:400;
}
#menu {
	margin: 0 auto;
}

.light {
	font-weight:300;
}


footer {
	background-color: #2b303b;
	border-radius:0 !important;
}
footer a {
	color:#C94E50;
}
footer a:hover,footer a:focus {
	color:#FFFFFF;
	background-color:#2b303b !important;
}

div {
	outline-width:0;
}
#widget-hr {
	display:none;
}
#custom-widget-header {
	border-right-width: 1px;
	margin-right:14px;
}
.course-modal {
	
}
#modal-content {
	height:500px;
	outline-width: 0;
}
::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }


@media screen and (max-width: 987px) {
	.fc-event-container {
		width:97.5% !important;
	}
	.fa-bars {
		padding-top:5px;
		font-size:25px;
	}
}
@media screen and (max-width: 787px) {
	.fa-bars {
		padding-top:5px;
		font-size:20px;
	}
}

@media screen and (max-width: 811px) {
	.fc-event-container {
		width:97% !important;
	}
}
@media screen and (max-width: 690px) {
	.fc-event-container {
		width:96% !important;
	}
	.fa-bars {
		padding-top:5px;
		font-size:15px;
	}
	input[type="text"] {
		font-size:10px;
	}
	#menu-btn {
		height:41px;
	}
	.slot {
		font-size:10px;
	}
}
@media screen and (max-width: 540px) {
	.fc-event-container {
		width:95% !important;
	}
	.fa-bars {
		padding-top:5px;
		font-size:12px;
	}
}
@media screen and (max-width: 488px) {
	.fc-event-container {
		width:94% !important;

	}
	.fa-bars {
		font-size:8px;
	}

}




.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  bottom: 0px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #1ABC9C;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
.fui-check:before, .fui-plus:before {
	margin-left:1px;
}
