.sem-pagination {
	margin: 0;
    padding: 0;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fc .fc-toolbar>*>* {
	margin-left:0;
	margin-bottom:0;
}
.sem-pages, .sem-pagination-nav {
	background-color: #eee;
	height: 30px;
	line-height: 30px;
}
.sem-pages {
	list-style-type: none;
	display: inline-block;
	padding: 0 6px 0 10px;
    white-spac e: nowrap;
    word-wrap:break-word;
    max-width: 317px;
    margin-bottom: 0;
}

.sem-page {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	border-radius: 50%;
	color: transparent;
	background-color:#aaa;
	width: 20px;
	height: 20px;
	border: 5px solid #eee;
	text-align: center;
	transition: all .3s;
	line-height: 10px;
	margin: 0px 4px 0 0;
	position: relative;

}
.sem-page > a{
	color: #fff;
}
.sem-page:hover,
.sem-page:active,
.sem-page.active {
	color: #fff;
	background-color: #143B63;
	border:5px solid #143B63;
}

.sem-page span {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.sem-pagination-nav {
	cursor: pointer;
	display: inline-block;
	width: 34px;
	text-align: center;
	transition: all  .3s;
	border: 2px solid #fafafa;
	border-top: 0px;
	border-bottom: 0px;
}
.sem-pagination-nav:hover {
	background-color: #ddd;
}
.sem-pagination-nav:active {
	background-color: #ccc;
}
.nav-double {
	border:none;
	width:40px;
}
.nav-double-prev {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.nav-double-next {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.sem-pagination-icon {
	color: #777;
}
