.peer-modal {
	max-width: 1200px;
	height: 85%;
	max-height: 900px;
}

.peer-modal > div {
	outline: none;
	width: 100%;
	height: 100%;
}

.peer-modal .img-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.peer-modal #modal-content .loader {
	width: 90px;
	height: 90px;
}

#pm-side-bar {
	position: absolute;
	width: 200px;
	height: 100%;
	border-right: 1px solid #ddd;
}

#pm-header {
    width: 100%;
    clear: both;
    height: 50px;
}

#main-modal-wrapper {
    position: absolute;
    left: 200px;
    right: 0;
    height: 100%;
    padding: 20px 10px 20px 20px;
    background-color: #f7f7f7;
}

#split-modal-wrapper {
	position: relative;
    height: 100%;
    overflow: auto;
    background-color: #f7f7f7;
}

#main-modal-wrapper h4 {
    text-align: left;
    margin: 0px;
    margin-left: 5px;
    font-weight: 200;
    margin-bottom: 16px;
    float: left;
}

.peer-modal #modal-content {
	position: relative;
	height: 100%;
    background-color: #f7f7f7;
}

.circle-pic {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
    background-size: cover;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid #ddd;
}

.peer-pic {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid #ddd;
    float: left;
}

.peer-card {
	width: 50%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.peer-card-wrapper {
	border: 1px solid #D4D4D4;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
    background-color: white;
}

.peer-card .user-info {
	height: 50px;
	margin-left: 70px;
}

.peer-card h3 {
	margin: 0px;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.peer-card .ghost-name {
	height: 25px;
	margin-bottom: 5px;
	max-width: 200px;
	background-color: black;
	opacity: .1;
}


.view-profile-btn {
	background: #4080ff;
	border: 1px solid #4080ff;
	border-radius: 3px;
	font-size: 11px;
	height: 20px;
	padding: 0 0 0 2px;
	color: white;
	width: 100px;
	display: block;
	float: left;
}

.friend-status {
	margin: 0px;
	margin-left: 110px;
	font-size: 13px;
	padding: 0px;
}

.peer-card .card-hat {
	width: 100%;
	height: 85px;
	padding: 20px;
}

.peer-card .shared-courses {
	padding: 0px 20px 20px 20px;
}

.course-color-circle {
	background-color: #FD7473;
	height: 16px;
	width: 16px;
	border-radius: 16px;
	float: left;
	text-align: center;
}

.peer-card .shared-course p {
	font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #555;
    padding: 0 5px;
    margin: 7px 0;
	margin-left: 20px;
    -webkit-transition: color .2s;
    transition: color .2s;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ghost-course-title {
	width: 220px;
	height: 16px;
	background-color: #555;
    line-height: 16px;
    padding: 0 5px;
    margin: 7px 0;
	margin-left: 25px;
	opacity: 0.07;
}

.peer-card .class-only-indicator {
	float: left;
	margin-top: -1px;
	margin-left: 2px;
	font-size: 18px;
	line-height: 18px;;
	color: rgb(83, 233, 151);
}

.ghost button {
	opacity: .4;
}

.ghost .course-color-circle {
	opacity: .5;
}

.pm-side-bar-slot {
	margin: 8px;
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	background-color: #FD7473;
	overflow: hidden;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.pm-side-bar-slot .slot-bar {
	left: 0;
	top: 0;
}

#pm-side-bar p {
	font-weight: 200;
	width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

.peer-card.upsell {
	width: 100%;
	text-align: center;
}

.peer-card-wrapper.upsell {
	width: 100%;
	padding: 35px 20px;
	text-align: center;
}

#main-modal-wrapper .upsell h4 {
	float: none;
	font-weight: 400;
	text-align: center;
}

#main-modal-wrapper .upsell .disclaimer {
	float: left;

}

#main-modal-wrapper .upsell p {
    font-size: 16px;
    line-height: 22px;
    color: #555;
    padding: 0 5px;
    margin: 7px 0;
    -webkit-transition: color .2s;
    transition: color .2s;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.peer-card .fa-facebook-square {
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}

#main-modal-wrapper .upsell .lure-accept {
	background: #4AD187;
	border: 1px solid #4AD187;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 900;
	padding: 5px 10px 5px 10px;
	color: white;
	width: 100px;
}

.course-color-circle .fa-check {
	font-size: 12px;
	color: white;
	display: block;
	height: 16px;
	width: 16px;
	line-height: 16px;
}

.key {
	float: right;
}

.key-entry {
	margin-bottom: 3px;
}

.key-entry p {
	font-weight: 300;
	margin: 0px;
	margin-left: 20px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
}

.friend-status {
	color: rgb(58, 163, 105);
}


@media (max-width: 850px) {
	.peer-card {
		width: 100%;
	}
	#main-modal-wrapper h4 {
		font-size: 22px;
	}
	.key {
		margin-bottom: 15px;
	}
}

@media (max-width: 600px) {
	.pm-side-bar {
		display: none;
	}
	#main-modal-wrapper {
		position: absolute;
	    left: 0px
	}
	.peer-card-wrapper.upsell {
		padding: 18px 10px;
	}

	#main-modal-wrapper .upsell p {
		font-size: 12px;
		line-height: 16px;
	}

	#main-modal-wrapper h4 {
		margin-top: 3px;
		font-size: 25px;
	}

	#main-modal-wrapper .upsell h4 {
		font-size: 22px;
	}
}

@media (max-width: 410px) {
	#main-modal-wrapper h4 {
		font-size: 18px;
	}
	.key-entry p {
		font-size: 10px;
	}
}