.pref-modal {
  max-width: 600px;
  height: 550px;
}

.pref-modal .switch-slide .switch-label:after {
   background: #1abc9c;
   margin: 0px;
   border-radius: 5px;
}

.pref-modal #modal-header {
  background-color: #eee;
  padding: 25px 25px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.conflict-row {
  display: flex;
  padding: 2% 0;
}

.sort-menu {
  display: block;
}

.preference-footer {
  display: flex;
}

/* overwrite flat UI select stuff */
.select {
  min-width: 0 !important; 
  width: 100% !important;
  font-size: 18px !important;
}

.sort-row {
  width: 80%;
  height: 50px;
  display: flex;
  border-width: 2px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.sort-text {
  padding: 2% 0;
  width: 20%;
}

.sort-order-dropdown {
  padding: 2%;
  width: 25%;
}

.sort-metric-dropdown {
  padding: 2%;
  width: 45%;
}

.sort-close {
  padding: 2% 0;
  width: 10%;
}

.metric-row {
  border-style: solid;
}

.footer-row {
  border-style: dashed;
  cursor: pointer;
}

@media (max-width: 460px) {
  .sort-menu {
    font-size: 12px;
  }
  .select {
    font-size: 12px !important; /* overwrite flat-ui on mobile */
  }
}