.pref-modal {
  max-width: 600px;
  height: 550px;
}
.pref-modal > div {
  outline:none;
}

.pref-modal .switch-slide .switch-label:after {
   background: #1abc9c;
}

.pref-modal .switch-slide .switch-label {
    font-family: lato;
    font-size: 12px;
    text-transform: none;
}

.pref-modal .switch-slide .switch-handle, .switch-yes-no .switch-handle {
    margin: 0px;
  }

  .pref-modal .switch-slide, .switch-yes-no {
    margin: 0px;
    border-radius: 4px;
}

.pref-modal #modal-header {
  background-color: #eee;
  padding: 25px 25px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.conflict-row {
  display: flex;
  padding: 2% 0;
}

.sort-menu {
  display: block;
}

.preference-footer {
  display: flex;
}

/* overwrite flat UI select stuff */
.select {
  min-width: 0 !important; 
  width: 100% !important;
  font-size: 18px !important;
}

.sort-row {
  width: 80%;
  height: 50px;
  display: flex;
  border-width: 2px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
}
.sort-row select {
  cursor:pointer;
}
.sort-close .fa-times {
  cursor:pointer;
  transition: all .3s;
}
.sort-close .fa-times:hover {
  color:#ff4523;
  transform: scale(1.2);
}

.sort-text {
  padding: 2% 0;
  width: 20%;
}

.sort-order-dropdown {
  padding: 2%;
  width: 22%;
}

.sort-metric-dropdown {
  padding: 2%;
  width: 48%;
}

.sort-close {
  padding: 2% 0;
  width: 10%;
}

.metric-row {
  border-style: solid;
}

.footer-row {
  border-style: dashed;
  cursor: pointer;
}

.footer-row:hover {
  background-color: #2c3e50;
  color: white;
}

@media (max-width: 460px) {
  .sort-menu {
    font-size: 12px;
  }
  .select {
    font-size: 12px !important; /* overwrite flat-ui on mobile */
  }
}