.conflict-row {
  display: flex;
  padding: 2% 0;
}

.sort-menu {
  display: block;
}

.preference-footer {
  display: flex;
}

/* overwrite flat UI select stuff */
.select {
  min-width: 0 !important; 
  width: 100% !important;
}

.sort-row {
  width: 80%;
  height: 50px;
  display: flex;
  border-width: 2px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.sort-text {
  padding: 2% 0;
  width: 20%;
}

.sort-order-dropdown {
  padding: 3%;
  width: 20%;
}

.sort-metric-dropdown {
  padding: 3%;
  width: 50%;
}

.sort-close {
  padding: 2% 0;
  width: 10%;
}

.metric-row {
  border-style: solid;
}

.footer-row {
  border-style: dashed;
}