#semesterly-logo.print {
        display: none;
    }
#semesterly-name.print {
    display: none;
}
.pro-pic.print {
    display: none;
}

@media print
{
		html, body
		{
		  height: 80% !important;
		}
		@page {
			size: landscape;
			margin: 1mm 2mm 5mm 1mm;
			}
		#calendar {
			position:fixed;
			display:block;
			top: 0.3in;
			transform: scale(0.7);
			min-width: 139.5% !important;
			margin: 0 auto;
			z-index: 100;
			-webkit-transform-origin-x: 0;
		}
    .no-print, .no-print *
    {
        display: none;
    }
    .print
    {
    	display: inline-block;
    }
    #top-bar {
    	border-bottom: none;
    	margin-top: 20px;
    }
    #semesterly-name {
    	display: inline-block;
    	-webkit-print-color-adjust: exact;
    }
    #print-content{
    	display: block;
    	clear: both;
        margin-top: 26px;
    }
    #print-name, #print-major {
    	display: block;
    	color: black;
    	margin-left: 20px;
    }
    #semesterly-logo {
        display: none;
    }
    #semesterly-name {
        display: none;
    }
    #semesterly-name.print, #semesterly-logo.print {
        display: block;
        float: right;
    }
    #semesterly-name {
        margin-right: 30px;
        color: #5C5C5C !important;
    }
    .usr-pic.print {
        height: 100px;
        width: 100px;
        background-size: cover;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #ddd;
        float: left;
        margin-left: 30px;
    }
/*    #print-name-major {
        margin-top: 25px;
    }*/
    #print-name {
        font-family: Palanquin,Arial,sans-serif;
        font-weight: 500;
        font-size: 45px;
        color: #5C5C5C !important;
    }

    #print-major {
        font-family: Roboto,Arial,sans-serif;
        color: #777 !important;
    }
    #name-logo {
        margin-top: 25px;
        display: block;
        float: right;
    }


    body
    {
      margin: 0 auto;
      width: 100% !important;
      height: 100% !important;
      -webkit-print-color-adjust: exact;
    }
    .fc-time-grid-event {
    	-webkit-print-color-adjust: exact;
      /*border: 1px solid black;*/
      /*box-shadow: inset 0 0 0 1000px white !important;*/
    }
}