#reactions .reaction {
	text-align: center;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 62px;
	width: 40px;
	margin: 0 2px;
   -moz-transition: -webkit-transform .3s ease-out;
	-webkit-transition: -moz-transform .3s ease-out;
   -o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
}

#reactions .reaction:hover {
	moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	o-transform: scale(1.2);
	ransform: scale(1.2);
	cursor: pointer;
}

.reaction .emoji {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#reactions {
	display: inline-block;
	background-color: #f3f3f3;
	border-radius: 60px;
	padding: 0px 10px 0px 10px;
	border: 1px solid #dedede;
}

#reactions-wrapper {
	width: 100%;
	text-align: center;
}

.emoji-count {
	position: absolute;
	bottom: 10px;
	right: 0px;
	height: 15px;
	padding: 0px 2px 0px 2px;
	border-radius: 30%;
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #a1a1a1;
	opacity: .7;
	visibility: visible;
	transition: visibility 0s linear 0ms, opacity 300ms;
}

.emoji-action {
	position: absolute;
	bottom: 10px;
	right: 0px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	font-size: 14px;
	color: white;
	background-color: #1abc9c;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.reaction:hover .emoji-action {
	opacity: 1;
	visibility: visible;
	transition: visibility 0s linear 0ms, opacity 300ms;
}

.reaction:hover .emoji-count {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.emoji-check {
	position: absolute;
	bottom: 10px;
	right: 0px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	font-size: 14px;
	color: white;
	background-color: #1abc9c;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.selected .emoji-check {
	opacity: 1;
	visibility: visible;
	transition: visibility 0s linear 0ms, opacity 300ms;
}

.selected .emoji-count {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

#reaction-dropdown {
	position: absolute;
	top: 56px;
	font-size: 10px;
	width: 60px;
	left: -15%;
	border-radius: 8px;
	background-color: #a1a1a1;
	opacity: 0;
	visibility: hidden;
	color: white;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

#reaction-dropdown .tip-border {
	top: -4px;
	left: 20px;
	border-color: transparent transparent #a1a1a1;
	border-bottom-color: rgba(0,0,0,.2);
}

#reaction-dropdown .tip {
   top: -4px;
	left: 20px;
	border-color: transparent transparent #a1a1a1;
}
.reaction:hover #reaction-dropdown {
	opacity: .8;
	visibility: visible;
	transition: visibility 0s linear 0ms, opacity 300ms;
}