.save-calendar-modal {
	max-width: 450px;
	height: 588px;
	overflow: auto;
}
.save-calendar-modal > div {
	outline:none;
}

.save-calendar-modal #modal-header {
	background-color: #eee;
	padding: 25px 25px;
	position: relative;
	border-bottom: 1px solid #ddd;
}

#save-calendar-container {
    padding: 50px 30px 30px 30px;
}

.header-pic {
	height: 80px;
	width: 80px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 10%;
	bottom: -30px;
}

.img-icon > img {
    width: 22px;
    float: left;
    height: 22px;
}

.img-icon > i {
	font-size: 22px;
    float: left;
}

.abnb-btn {
    width: 100%;
    background: white;
    color: #484848;
    border-radius: 4px;
    border: 1px solid;
    border-color: #c4c4c4;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
}

.abnb-btn.secondary > span{
	font-weight: 300;
	color: #484848;
}

.abnb-btn:hover, .abnb-btn:focus {
    border-color: #aaa;
    color: #484848;
}

.or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
    margin-bottom: 22px;
}

.or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px 8px 0px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #767676;
}

.or-separator hr {
    margin: -16px auto 10px;
    width: 100%;
}

.method-details {
    text-align: center;
    margin-top: 4px;
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 2px;
    color: #767676;
}

#cal-name {
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    border: 1px solid #E8E8E8;
    outline: 0;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    color: #aaa;
    font-weight: 300;
}

@media(max-width: 776px) {
	
	.save-calendar-modal {
       max-width: 500px;
	   max-width: 1200px;
	   height: 85%;
	   max-height: 900px;
	}

	.header-pic {
       display: none;
	}

 	.signup-modal #features{
       padding: 0px 10px 10px 10px;
       width: 100%;
       font-size: 17px;
	}
}