#search-bar {
    top: 10px;
    left: 260px;
    position: absolute;
    max-width: 600px;
    width: 49%;
}
#search-bar-wrapper {
	width: 100%;
	background-color: #fff;
}
#search-bar-semester {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #777;
	line-height: 18px;
	padding: 5px 10px;
	border: 1px solid #E8E8E8;
	border-right: none;
	background-color: #fff;
	cursor:pointer;
}
#search-bar-input-wrapper {
	width: auto;
	overflow: hidden;
}
#search-bar input {
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 16px;
	border: 1px solid #E8E8E8;
	outline: 0;
}
#search-bar input:focus {
	border: 1px solid #0095FF;
}
#semester-picker {
    position: absolute;
    top: 37px;
    max-width: 100px;
    background-color: #fff;
    color:#777;
    border: 1px solid #E8E8E8;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 100;
    font-size:14px;
    padding-top: 7px;
    padding-bottom:7px;
    cursor:pointer;
	display: none;
}
#semester-picker.down {
	display: block;
}

#semester-picker .tip-border {
    top: -8px;
    left: 0px;
}
#semester-picker .tip {
    top: -7px;
    left: 0px;
}
.semester-option {
	padding-left:7px;
	padding-right:7px;
}
.semester-option:hover{
	background-color:#F1EEEE;
}
.search-results {
/*	background-color:#ffe3e1;*/
	width: 150%;
	position: absolute;
	top: 29px;
	z-index: 100;
	border: 1px solid #E8E8E8;
	background-color: white;
	padding: 0;
	margin: 0;
	z-index: 100;
	overflow: hidden;
	border: 1px solid #E8E8E8;
    border-top-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#see-more h4 {
	font-size: 16px;
	margin: 0px;
}

#see-more p {
	margin: 0px;
	font-size: 14px;
}

#see-more {
	width: 66.667%;
	text-align: center;
	color: #C3B9B1;
	font-size: 15px;
	height: 180px;
	overflow: hidden;
}

#see-more-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 2px dashed #E8E8E8;
	border-radius: 10px;
	padding: 4px;
	width: 75%;
	margin: 0 auto;
}

/* Each Course that is listed in the Search Results */
.search-course {
	width: 66.66%;
	max-width: 600px;
	position: relative;
	cursor: pointer;
	list-style-type: none;
	padding: 10px 110px 10px 5px;
	transition: background-color .2s, color .2s;
}
.search-course.hovered {
	background-color: #f3f3f3;
}
.search-course:hover {
	background-color: #f3f3f3;
}
.search-course h3 {
	font-size: 14px;
	margin: 0;
	padding-left: 5px;
}
.search-course h4 {
	font-size: 12px;
	font-weight: 400;
	color: #777;
	padding-left: 5px;
	margin: 5px 0;
	min-height: 12px;
}
.search-course .search-course-add,
.search-course .search-course-save {
	position: absolute;
	top: 50%;
	right: 10px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #d7d7d7;
	text-align: center;
	transform: translateY(-50%);
	transition: background-color .2s;
}
.search-course .search-course-save {
	right: 55px;
}

.search-course .search-course-add h6 {
	margin: 0;
    font-size: 12px;
    color: #00A1FF;
    text-align: center;
    width: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -75%);
    transition: transform .3s, opacity .3s, visibility .3s;
}
.search-course .search-course-add:hover {
	background-color: #A6DEFF;
}
.search-course .search-course-save:hover {
	background-color: #7BE68D;
}
.search-course-add.in-roster{
	background-color: #2DD6B5;
}
.search-course-add.in-roster:hover{
	background-color: #56ECCF;
}
.search-course-save.in-roster {
	background-color: #97B0EA;
}
.search-course-save.in-roster:hover {
	background-color: #AEC1EF;
}
/*.search-course .search-course-add:hover .fa-plus {
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -25%);
}
.search-course .search-course-add:hover h6 {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
}*/

/* Section Listings per Course */
.search-course h6 {
	font-size: 12px;
	position: absolute;
	margin: 0;
	padding: 5px;
	color: #777;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
}
.search-sections {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s, visibility .3s;
}
.search-section {
	cursor: pointer;
	font-size: 12px;
	padding: 2px 5px;
	vertical-align: middle;
	color: #777;
}
.search-section:hover {
	background-color: #FFDBBE;
	color: rgba(52, 73, 94, 1);
}
.search-course .search-course-add:hover + h6 {
	visibility: visible;
	opacity: 1;
}
.search-course .search-course-add:hover + h6 + .search-sections {
	opacity: 0;
	visibility: hidden;
}

.trans50 {
	/* This makes it semi transparent */
	/*background-color: rgba(255, 255, 255, 0.25);*/
	/*This makes is fully transparent*/
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgba(255,255,255,0);
	border-top-color: transparent;
    box-shadow: none;
}
.trans50 li,
.trans50 .search-section,
.trans50 .search-course h4 {
	/* This makes it semi transparent */
	/*color: rgba(52, 73, 94, .25);*/
	/*This makes is fully transparent*/
	color: rgba(52, 73, 94, 0);
}
.trans50 .search-section:hover {
	background-color: #FFDBBE;
	color: rgba(52, 73, 94, 1);
}
.trans50 .search-course,
.trans50 .search-course-add,
.trans50 .search-course-save,
.trans50 #search-bar-side {
	background-color: transparent;
}
.trans50 #see-more-inner {
	border: 1px solid rgba(255,255,255,0);
	color: transparent;
}
.trans50 #search-bar-side-sections {
	background-color: rgba(255, 255, 255,.9);
}

.results-loading-gif {
 	background: url('/static/img/search-results-loader.gif') no-repeat;
 	background-position: right 5px center;
}

/* Side Bar in Search Results */
#search-bar-side {
	height: 100%;
	min-height: 232px;
	width: 33.33%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #F3F3F3;
	overflow-y: auto;
	padding: 5px;
}
#search-bar-side-sections {
	font-size: 0;
}
#search-bar-side-sections h3 {
	font-size: 16px;
	margin: 0px 5px 10px 0px;
}
#search-bar-side-sections h4 {
	font-size: 14px;
	margin: 5px 0;
}
.sb-side-sections {
	width: auto;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	margin: 0;
	padding: 5px;
	font-weight: 400;
	color: #777;
	cursor: pointer;
	transition: background-color .1s;
}
.sb-side-sections:hover {
	background-color: #A5D5FF;
}
@media (max-width: 1000px) {
	#search-bar {
		left: 82px;
		width: 55%;
	}
	.sb-side-sections {
		width: 25%;
	}
}
@media (max-width: 766px) {
	#search-bar {
		width: auto;
		left: 57px;
		right: 107px;
	}
	.search-results {
		width: 100%;
	}
	.search-course {
		width: 100%;
	}
	#search-bar-side {
		display: none;
	}
	#see-more {
		display: none;
	}
}
@media (max-width: 500px) {
	#search-bar {
		left: 0;
		width: 100%;
	}
	#search-bar-wrapper {
		width: auto;
	    left: 57px;
	    right: 107px;
	    position: absolute;
	}
	.search-results {
		top: 39px;
	}
}
@media (min-width: 767px) {
	.search-results {
		height: 240px;
	}
}