.search-course {
	cursor:pointer;
}
.fa-plus:hover{
	background-color:#3ee3f3;
}
.search-section {
	cursor:pointer;
	margin-right:10px;
}
.search-section:hover {
	background-color:#FFDBBE;
}
.search-results {
/*	background-color:#ffe3e1;
*/}
