#wrapper {
	padding: 50px;
}
/*.slot,
.master-slot {
	float: left;
	position: relative;
	background-color: #fd7473;
	font-size: 12px;
	color: #fff;
	padding: 5px;
	width: 25%;
	border-radius: 5px;
}*/
.slot {
	cursor:pointer;
	background-color: #C8F7C5;
	color:#222;
	font-size:13px;
	transition:all 0.3s;
	border-radius:3px;
}
.slot:hover {
	color:#222;
}
.slot-content h3 {
	margin: 0;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.slot-friends h3 {
	margin: 0;
	float: left;
	line-height: 15px;
}
/*.slot i {
	color:#fff;
}*/
.slot-friends i {
	margin-left: 5px;
	line-height: 15px;
}
.slot i.fa-times {
	position: absolute;
	top: 1px;
	right: 3.5px;
	cursor: pointer;
	opacity: .75;
	transition: transform .2s, opacity .2s;
	z-index:9999;
}

.slot i.fa-times:hover,
.slot i.fa-lock:hover,
.slot i.fa-unlock:hover {
	transform: scale(1.4);
	opacity: 1;
	z-index:9999;
}
.slot i.fa-lock, .slot i.fa-unlock {
	position: absolute;
	bottom: 5px;
	right: 5px;
	opacity: .75;
	transition: transform .2s, opacity .2s;
	z-index:9999;
}



