#social {
    padding: 10px;
    position: relative;
    float: right;
    margin-right: 35px;
}
#social-pro-pic {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: #ddd;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#social h2 {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
.tip-down {
    display: inline-block;
    border-color: transparent;
    border-top-color: #34495e; 
    border-style: dashed dashed solid;
    border-width: 6.5px 6.5px 0;
    margin-left: 5px;
    z-index: 1;
    height: 0;
    width: 0;
}
.tip-down.down {
    transform: rotate(180deg);
}

#social-dropdown {
    position: absolute;
    top: 49px;
    right: 10px;
    width: 100%;
    min-width: 100px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 100;
    display: none;
}
#social-dropdown.down {
    display: block;
}
#social-dropdown a,
#social-dropdown a:link,
#social-dropdown a:active,
#social-dropdown a:visited {
    padding: 10px 12px;
    display: block;
    cursor: pointer;
    margin: 0;
    color: #222;
}
#social-dropdown a i,
#social-dropdown a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    margin-right: 5px;
}
#social-dropdown a i {
    color: #777;
}

a#social-login,
a#social-login:link,
a#social-login:active,
a#social-login:visited {
    color: #3b5998;
    transition: color .3s;
    padding: 3px 5px;
    position: relative;
}
#social-login h2 {
    font-size: 15px;
    font-weight: 500;
}
#social-login i {
    font-size: 17px;
    margin-left: 3px;
}
a#social-login:hover {
    color: #3b5998;
}
a#social-login:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: rgba(59, 89, 152, 0.5);
    transition: width .3s;
}
a#social-login:hover:before {
    width: 100%;
}

.tip-border {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    z-index: 1;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
}
.tip {
    border-color: transparent;
    border-bottom-color: #fff; 
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    z-index: 1;
    height: 0;
    width: 0;
    position: absolute;
}
#social-dropdown .tip-border {
    top: -8px;
    right: 10px;
}
#social-dropdown .tip {
    top: -7px;
    right: 10px;
}