.abnb-modal.textbook-modal {
    max-width: 600px;
    height:85%;
    overflow: auto;
}

.abnb-modal.textbook-modal > div {
    height: 100%;
}

.abnb-modal.textbook-modal form {
    height: 100%;
    position: relative;
}

.textbook-modal #tb-list-container {
    padding: 10px 30px 75px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 66px;
    overflow: scroll;
}

.abnb-modal h3.modal-module-header {
    font-size: 14px;
    padding: 10px 5px;
    margin: 0;
    color: #777;
    font-weight: 300;
    clear: both;
    position: relative;
    transition: color .2s;
}

.textbook-modal .tb-image-wrapper {
    height: 100px;
}

.textbook-modal .textbook img {
    width: 75px;
}

#add-to-cart {
    background-color: #FF9900;
    position: absolute;
    bottom: 12px;
    right: 25px;
    height: 40px;
    width: 140px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

#add-to-cart .button-label i {
    margin-right: 5px;
}

.textbook-modal .modal-footer {
    z-index: 11;
    height: 66px;
    width: 100%;
    border: 1px solid #ddd;
    position: absolute;
    bottom: 0px;
    background-color: #eee;
}

.textbook-modal .modal-footer p {
    font-size: 12px;
    color: #777;
    text-align: left;
    font-weight: 300;
    padding-right: 162px;
    line-height: 16px;
}

.textbook-modal #modal-header {
    padding: 20px 20px;
}

.textbook-modal #modal-header h1 {
    font-size: 30px
}

.loader-container p {
    font-size: 15px;
    margin-top: 15px;
}

.loader-container {
    text-align: center;
    top: -50%;
    transform: translateY(50%);
    position: relative;
}

.spinner-container {
    width: 100%;
}

.spinner-container i {
    font-size: 80px;
}

.textbook-modal .loader {
    margin: 0 auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    border-top: 10px solid #3498db; /* Blue */
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.tb-list-entry .no-tbs {
    text-align: center;
    font-weight: 300;
    margin-top: 15px;
}

@media(max-width: 776px) {

    .signup-modal #features{
       padding: 0px 10px 10px 10px;
       width: 100%;
       font-size: 17px;
    }

    .textbook-modal #modal-header h1 {
        font-size: 20px;
    }

    .textbook-modal #tb-list-container {
        position: absolute;
        top: 0;
        bottom: 66px;
    }

    .textbook-modal .modal-footer p {
        display: none;
    }

    .abnb-modal.textbook-modal {
        max-width: 600px;
        height:100%;
        overflow: auto;
    }
}