body {
	background-color:#ffffff;
	line-height:1.4;
}
#calendar {
	margin-bottom:50px;
	max-width:90%;
	margin-left:5%;
}
.cal-row {
	width: 49px;
	font-size: 14px;
}
/* Half hour height within calendar (HALF_HOUR_HEIGHT) */
.fc-time-grid .fc-slats td {
	height:25px;
}
.slot-bar {
    width: 5px !important;
    height: 100%;
    z-index: 0;
    position:absolute;
}
.fc-content {
	margin-left: 8px;
	margin-top: 2px;
}
.slot {
	cursor:pointer;
	background-color: #C8F7C5;
	color:#222;
	font-size:13px;
}
.slot:hover {
	color:#222;
}
