body {
	/* this css disallows highlighting by the user. 
	used because they might click the corresponding div often, causing 
	unnecessary highlighting */
	-webkit-user-select: none; /* Chrome/Safari */        
	   -moz-user-select: none; /* Firefox */
	   -ms-user-select: none; /* IE10+ */

	   /* Not implemented yet */
	   -o-user-select: none;
	   user-select: none; 
}

.help{
	height: 30px;
	width: 30px;
	font-size: 30px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 10px;
	z-index: 100000;
}

.btn-conflict {
	margin: 5px;
	font-size: 11px !important;
	height:28px;
}


.tt-logo {
	width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	margin-top: 5%;
}
.tt-wrapper {
	min-width: 300px;
	width: 95%;
	margin-top: -20px;

}
.tt-greeting {
	margin-top: -50px;
	background-color: #4a647e;
	border-color:#3D556C;
	color: #FFF;
}

.timetable-container {
	height: 100%;
}
.tt-greeting {
	min-width: 300px;
	width: 100%;
}
.conflict-msg {
	min-width: 93.8%;
	width: 98.4%;
	padding: 6px !important;
	text-align: center;
}
.day-col {
	resize: none;
	min-width:19%;
	max-width:19% !important;
	width: 19%;
}
.conflict-msg{
	margin-top:90px;
	margin-bottom:-75px;
	display:block;
}
.load {
	margin-left: 100px;
}
.tt-loader{
	font-size:1.5em;
	padding:0px;
	margin:0px;
}
.load{
	color: #3a87ad;
}
.tt-loader{
	color:#4a647e;
}

.create-tt{
	margin-left:10px;
}

.btn-primary{
	color: #fff;
	background-color: #428bca !important;
	border-color: #357ebd !important;
}
.course-display {
	margin-left:17px;
	width:100%;
	font-weight:200;
	color:#223760;
	font-size:larger;
	margin-bottom:8px;
}

.course-code{
	width:150px;
	font-weight:200;
}

.search-header{
	margin-left:42px;
	margin-top: 30px;
	max-width:400px;
	font-weight:200;
	font-size:20px;
}

.searchInput, #id_q {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
    margin-left:15px;
	width: 200px;
	height:30px;
	margin-top: 15px;
	margin-right:4px;
	margin-bottom: 3%;
	color: #606468;
	padding: 0 10px;
	background-color: #e6e6e6;
	border:1px solid #CBCBCB;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
    outline:none;

}


.searchInput:focus, #id_q:focus {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
  background-color: #FFFFFF;
  color: #606468;
  outline: none;
  border:1px solid #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-backface-visibility: hidden;
   box-shadow: 0 0 5px rgba(153, 204, 255, 1);
   -webkit-box-shadow: 0 0 5px rgba(153, 204, 255, 1);
   -moz-box-shadow: 0 0 5px rgba(153, 204, 255, 1);
}

.separation {
	margin-left:15px;
	margin-top:-10px;
}
.remove-user-course{
	float: right;
	margin-top:3px;
	margin-left:10px;
	color: #b94a48;
}
.course-top-space{
	margin:3px 3px 3px 3px;
}
.nsp{
	margin-right:10px;
}

.course-desc {
  margin-left:12px;
  width:91.5%;
  margin-bottom:8px;
  color: #E0E0E0;
  border: 1px solid rgba(255,255,255,0.6);
  opacity: 1;
    transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.ceanim-enter {
  opacity: 0.01;
}

.ceanim-enter.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.course-desc-title {
	color: #F2F2F2;
}

::-webkit-input-placeholder {
	font-size:12px;
	font-weight:200;
}

:-moz-placeholder { /* Firefox 18- */
	font-size:12px;
	font-weight:200;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size:12px;
	font-weight:200;
}

:-ms-input-placeholder { 
	font-size:12px;
	font-weight:200;
}


.side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 0px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: visible;
}

.mobile-nav{
	width: 100%;
	background: #222222;
	height:80px;
	display: none;
}

.mobile-nav-sidebar {
	height: 100%;
}

.side-nav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.7); 
}
.first-col{
	resize: none;
	min-width:50px !important;
	max-width:50px !important;
	width:50px;
}


.no-rs{
	resize:none;
}

.prel {
	position:relative;
}

.before-courses {
	position:absolute;
	z-index:8;
	top:0;
	left:0;
}

.before-before-courses {
	position:relative;
	width:100%;
	overflow:hidden;
}
.before-before-courses2 {
	position: absolute; 
	z-index: 2; 
	left: 0px; 
	width: 100%; 
	top: 20px;
}
.tt-scroll {
	position: absolute; 
	width: 100%; 
	overflow-x: hidden; 
	overflow-y: auto; 
	/*height: 600px;*/
}
.tt-time{
	width:50px;
}
.after-time{
	height:24px;
}
.full-width{
	width:100%;
}
.gutter1{
	width:1px;
}
.box-height{
	height: 712px;
}
.in-roster {
}
.search-results {
	height: 58%;
	overflow-y: auto !important;
	overflow-x: hidden;
	z-index:9999999;
}

@media (max-height: 860px) {
	.search-results {
		height: 50% !important;
	}
}

@media (max-height: 700px) {
	.search-results {
		height: 70% !important;
	}
}

@media (max-height: 615px) {
	.search-results {
		height: 50% !important;
	}
}


.course-search-container, .side-menu-container{
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
.sem-label {
	margin-left:25px;
}
.sem-button{
	margin-left:3px;
	height:25px;
	padding-top:2px;
	width:95px;
	margin-bottom: 3em;
}
.fall-button{
    margin-left:15px;
}
.clear-both{
	clear: both;
}

.greyed{
	color: #717171 !important;
	border-color: #dadada;
	border-bottom-color: #ccc;
	-webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
	box-shadow: 0 1px 1px rgba(90,90,90,0.1);
	background-color:#2222222 !important;
}

.course-info-divider{
	margin-top: 6px;
	margin-bottom:6px;
}

.calendar-ban {
	color:#AD0000;
}

.tt-page-footer{
	margin-left:16px;
	margin-bottom:5px;
	font-size:10px;
}
.slot-link{
	color:#FFFFFF;
}
.slot-link:hover {
	color:#FFFFFF;
}
.show-pref-button {
	float: right !important;
	margin-right:5px;
	cursor:pointer;
}

.copy-url-button{
	cursor:pointer;
	color:#FFFFFF;
	float: right;
	margin-left: 1%;
}

}
.copy-url-button:focus, button.close:focus{
	outline:none;
}
/*.show-pref-button:hover, .copy-url-button:hover{
	background-color:#F4F4F4;
}*/

.pref-save{
	background-color: #4a647e;
	color: #E9E9E9;
}
.pref-exit{
	background-color: #fb6b5b;
	color: #E9E9E9;
}
.pref-save:hover, .pref-exit:hover{
	color:#FFFFFF;
}
.tooltip-inner{
       max-width:180px;
       width:180px;
}
.popover{
	background-color:#4a647e;	
}
.popover-title {
    background-color: #4a647e;
    border-color:#3D556C;
    color:#FFFFFF;
    font-size: 12px;
}
.popover-content{
	background-color: #4a647e;
	font-size:11px;
	color:#FFFFFF;
	
}
.switch-tt{
	background-color: #4a647e;
	margin-bottom:6px;
	margin-top:-5px;
	padding-bottom:-5px;
}
.switch-tt:hover{
	background-color:#2e3e4e;
}

.top-slot{
	width:110px;
}
.section-locked {
	margin-right:5px;
	background-color:#5cb85c;
}
.section-locked {
	margin-right:5px;
	background-color:#5cb85c;
}
.section-unlocked {
	margin-right:5px;
	background-color:#4cc0c1;
}
.section-unlocked:hover {
	background-color:#3fb4b5;
}
.slot-unlocked, .slot-locked, .section-locked, .section-unlocked:hover {
	cursor:pointer;
}
.slot-locked, .slot-unlocked{
	border-radius:3px;
}
.slot-locked:hover, .slot-unlocked:hover{
	background-color:#2e3e4e;
}

.school_logo {
	width:200px;
	cursor: pointer;
	margin-left:50px;
}
#copy_tt_url {
	margin-top:24px;
	color:white;
	float:left;
	margin-left:95px;
}
.menu-button-checkbox {
	display:none;
	cursor:pointer;
}
.hide-extra-text {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.pure-drawer .popover{
	background-color:#4a647e;

}
.pure-drawer .popover-content, .pure-drawer .popover-title{
	background-color:#4a647e;
	color:#FFFFFF;

}

.popover-content {
	background-color: #ecf0f1;
	color:#2c3e50;
}

#switch-sidebar-icon {
	color: #7f8c8d;
	cursor:pointer;
	margin-left:92px !important;
}
#switch-sidebar-icon:hover {
	color:#99A6A7;
}
.menu-option-wrapper {
	width:95px;
}
.menu-option {
	float:left;
	margin-top:20px;
	margin-left:35px;
}

.preferences-container, .preferences-row {
	display:block !important;
}

.preferences-text{
	margin-left: 35px;
	margin-top: 1px;
	color: #ffffff;
	text-align:justify !important;
	text-justify:inter-word;
}
.disabled-arrow {
	background-color:#848484;
	color:#fff;
	border:1px solid #656464;
}
.disabled-arrow:hover {
	background-color:#848484;
	border:1px solid #656464;

	color:#fff;
}

@media screen and (max-width: 1087px) {

	.tt-greeting{
		margin-top:0px;
		min-width: 300px;
	}
	.tt-wrapper {
		/**noah changes**/
		margin-top: -10px;
		min-width: 300px;
		overflow-y:visible;
		width: 100% !important; 
	}
	.conflict-msg{
		margin-top:80px;
		min-width: 300px;
	}
	.top-slot{
		margin-top:-14px;
		font-size:10px;
		width:87px;
		max-width:87px;


	}
	.vbox{
		font-size:10px;
		line-height:15px;
		margin: 0px;
	}
	#page-wrapper {
		padding: 0px;
	}
	.wrapper{
		padding: 0px;
	}

}
@media screen and (max-width: 1128px) {
.pure-drawer-school-logo{
		opacity:0 !important;
	}

}

@media screen and (max-width: 595px) {
	.conflict-msg{
		margin-top:30px;
	}
	.top-slot {
		margin-top:3px;
	}
	.slot-link {
		display:none;
	}
	.offering-location {
		display:inline-block;
		float:left !important;
	}

}

@media screen and (max-width: 767px) {
	.help {
		display: none;
	}
	
	.menu-option-wrapper {
		width:45px;
		margin-left: 15px;
	}

	.collapse {
		display:block !important;
		width: 100% !important;
		background: #222222 !important;
		height:80px !important;
		z-index: 100 !important;
	}

	.side-nav {
		display:block !important;
		width: 100% !important;
		background: #222222 !important;
		height:80px !important;
		z-index: 100 !important;
		margin-top:0px !important;
	}

	.timetable-container {
		margin-top: -55px;
		margin-left: -65px;
	}

	/* preferences sidebar stuff */
	.side-menu-container {
		width: 100% !important;
		height: 80px !important;
		margin-top: -63px !important;
	}

	.preferences-container {
		height: 80px;
	}

	#top-row {
		margin-left: 100px !important;
		margin-top: 5px !important;
		max-width: 125px !important;
		max-height: 80px !important;
	}

	#bottom-row {
		margin-top: -75px !important;
		margin-left: 220px !important;
	}

	#copy_tt_url {
		margin-left: 355px !important;
		margin-top: -55px !important;
		display: inline !important;
		font-size: 30px !important;
	}

	.popover.url-share-popover {
		display: inline !important;
	}

	.btn-xs.menu-option {
		max-width: 30px !important;
		max-height: 25px !important;
/*		height: auto !important;
		width: auto !important;*/
		margin-left: 10px !important;
	}

	.preferences-text {
		margin-left: 10px !important;
		font-size: 8px;
	}

	#switch-sidebar-icon {
		margin-left: 75px !important;
		margin-top: 5px !important;
		max-height: 25px !important;
		max-width: 25px !important;
		font-size: 30px !important;
	}

	.fa-hotel,
	.fa-moon-o,
	.fa-glass,
	.fa-exclamation {
		font-size: 18px !important;
	}
	/* end preferences sidebar stuff */

	.vbox{
		margin-top: 10px !important;
	}

	.tt-logo {
		max-height: 80px !important;
		max-width: 60px !important;
		margin-top: 5px !important;
		margin-left: -100px !important;
	}

	.course-search-container {
		/*max-width: 46%;*/
		position:relative !important;
		top:-7px !important;
		float:right !important;
		z-index: 100 !important;
		max-height: 600px !important;
	}

	.mobile-nav-sidebar {
		max-height: 600px !important;
		position: fixed !important;
		top: 0px !important;
		right: -40px !important;
		z-index: 100 !important;
	}

	.mobile-nav-sidebar.collapsed {
		height: 80px !important;
	}

	.mobile-nav-sidebar.expanded {
		max-height: 600px !important;
	}
	
	.course-search-container {
		position:relative !important;
		left: -48px !important;
		max-height:600px;

	}
	.searchInput {
		width:200px !important;
		left:80px !important;
	}
	.sem-button {
		width:96px !important;
		left:50px !important;

	}
	.search-results {

		margin-top:-25px !important;
		background-color:#222222;
	}
	.course {
		margin-top:5px;
		margin-left:5px !important;
		width:158px !important;
	}
	.course-code{
		width:119px !important;
	}
	.btn-info, .btn-success {
		width:40px !important;
	}
	.conflict-msg{
		margin-top: 30px;
		margin-bottom: 20px !important;
	}
	.top-slot {
		position:fixed !important;
		margin-top:3px;
	}
	.fa-refresh, .load {
		display: none !important;
	}
	.popover {
		display:none !important;
	}
}

@media screen and (max-width: 370px) {
	.searchInput {
		width:150px !important;
		left:80px !important;
		margin-left:60px !important;
	}
	.sem-button {
		width:70px !important;
		left:46px !important;
		position:relative;
	}

}

