body {
	background-color:#ffffff;
	line-height:1.4;
	overflow-x: hidden;
}
#calendar {
	width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently */
}

#calendar th {
    font-family: "Palanquin",Arial,sans-serif;
}

.cal-btn-wrapper {
    font-size: 0;
}

button.save-timetable {
    border: none;
    outline: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #777;
    position: relative;
    transition: background-color .3s;
}
button.save-timetable i {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 30px;
    font-size: 18px;
}
button.save-timetable:hover {
    color: #143B63;
}
button.save-timetable:active {
    color: #143B63;
}
button.save-timetable.add-button {
    margin-right: 2px;
}
button.row-button {
    margin-right: 2px;
    float: right;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: all .3s;
}
button.row-button:hover {
    background-color: #ddd;
}
.cal-row {
	width: 49px;
	font-size: 14px;
}
/* Half hour height within calendar (HALF_HOUR_HEIGHT) */
.fc-time-grid .fc-slats td {
	height:25px;
}
.slot-bar {
    width: 5px !important;
    height: 100%;
    z-index: 0;
    position:absolute;
}
.fc-content {
	margin-left: 8px;
	margin-top: 2px;
}
.fc-time {
    white-space: nowrap;
}
.fc-time-name-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    width: calc(100% - 20px);
}
.fc-toolbar {
    border-bottom: 0px;
    padding: 5px;
    margin-top: 20px;
}

.cal-cell {
    flex-grow: 1;
}

.week-col {
    display: flex;
    width: 100%;
    height: 100%;
}
.fc-right #share-course-link-wrapper {
    position:absolute;
    margin-top:36px;
    margin-left:-140px !important;
    height:38px;
    padding:0px 5px;
    background-color:#eee;
    border-radius:2px; 
    z-index: 1000;
}
.fc-right #share-course-link-wrapper #share-course-link {
    color: #222;
    font-size:14px;
    font-weight:400;
    margin-top:7px;
    width:auto;
    height:25px;
}
.fc-right #share-course-link-wrapper .tip {
    display:none;
}
.fc-right #share-course-link-wrapper .tip-border {
    display:none;
}
.data-last-updated {
    margin: 5px 0 0;
    font-size:12px;
    line-height: 22px;
}

@media(max-width: 514px) {
    .data-last-updated {
        font-size: 9px;
        margin: 5px 5px 0;
    }
}

.save-timetable img {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 4px;
    left: 7px;
    line-height: 30px;
    font-size: 18px;
    height: 18px;
    width: 18px;
}