.terms-of-service-banner-modal {
    max-width: 450px;
    text-align: center;
    position:absolute;
    bottom:0;
}
#tos-banner-container {
    width:100%;
    height:50px;
    text-align:center;
    font-size:40px;
    padding: 30px 20px;
}