.welcome-modal {
	max-width: 500px;
	max-height: 700px;
}
.welcome-modal > div {
	outline:none;
	height: 100%;
}
.welcome-modal #modal-header {
	background-color: #eee;
	padding: 25px 25px;
	position: relative;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

.welcome-modal .pro-pic {
	border: 2px solid #ddd;
	box-shadow: 0px 2px 2px rgba(188, 188, 188, 0.4);
	z-index: 1;
}

.welcome-modal #modal-content {
	text-align: center;
}
.welcome-modal #modal-body {
	padding: 42px 0 20px;
}

.welcome-modal #modal-body p {
	color: #aaa;
	margin-bottom: 15px;
	font-size: 16px;
}

.welcome-modal #modal-content form {
	text-align: left;
}

.welcome-modal #modal-body h3 {
	text-align: left;
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.welcome-modal #modal-body .Select {
	margin-bottom: 20px;
	margin-top: 10px;
}

.welcome-modal #modal-body .disclaimer {
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: left;
}

.welcome-modal #modal-body .switch-slide .switch-label:after {
    background: rgb(90, 200, 251);
}

.welcome-modal #modal-body .preference {
	padding: 0 20px 15px;
}
.welcome-modal #modal-body .preference-attn {
	border-top: 1px solid #dee2ff;
    border-bottom: 1px solid #dee2ff;
	background-color: rgba(90, 200, 251, 0.14);
}
.welcome-modal #modal-body .notifications.preference-attn-yellow {
	background-color: rgba(251, 247, 43, 0.26);
	color: rgb(101, 71, 42);
	border-top: 1px solid rgba(101, 71, 42, 0.17);
    border-bottom: 1px solid rgba(101, 71, 42, 0.17);
}
.welcome-modal #modal-body .notifications.preference-attn h4 {
	color: #34495e;
}

.welcome-modal #modal-body .switch-slide {
	float: right;
	margin-left: 15px;
}

.welcome-modal #modal-body .notifications {
	padding-top: 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.welcome-modal #modal-body .notifications h4 {
	float: left;
	font-size: 16px;
	color: #aaa;
	margin: 0;
	line-height: 20px;
}
.welcome-modal #modal-body .notifications a h3 {
	margin: 0 20px 0 0;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}
.welcome-modal .notifications a,
.welcome-modal .notifications a:link,
.welcome-modal .notifications a:visited {
	float: right;
	color: #5ac8fb;
	cursor: pointer;
}
.welcome-modal .notifications a:hover {
	color: #1888bc;
}
.welcome-modal .notifications a:active {
	color: #51a9d2;
}

@media (max-width: 766px) {
	.welcome-modal #modal-body {
		padding: 22px 0 20px;
	}
	.welcome-modal #modal-body p {
		font-size: 14px;
	}
}
@media (max-width: 499px) {
	.welcome-modal #modal-body p {
		font-size: 12px;
	}
}