.abnb-modal.user-acquisition-modal {
	max-width: 450px;
	height:495px;
	overflow: auto;
}

.abnb-btn.fb-btn {
	color: white;
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
}

.user-acquisition-modal #save-calendar-container {
	padding: 30px 30px 30px 30px;
}

.btn.six-px-top {
	margin-top: 6px;
}

.btn.eight-px-top {
	margin-top: 8px;
}

.abnb-modal h3 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-weight: 300;
    font-size: 17px;
    color: #484848;
}

.abnb-btn.disabled, .abnb-btn[disabled], fieldset[disabled] .abnb-btn{
    opacity: .25;
}