#calendar.seven-days .fc-toolbar {
	margin-top: 10px;
	padding-left: 0;
}
/* Calendar Header */
#calendar-header {
	position: fixed;
	top: 50px;
	left: 0;
	padding: 0 20px;
	background-color: #fff;
	z-index: 100;
	opacity: 1;
	visibility: visible;
	transition: width .3s, opacity .3s, visibility .3s;
}
#calendar.seven-days h2 {
	font-size: 20px;
	font-weight: 400;
}
#calendar.seven-days h2 span {
	font-weight: 100;
}
#calendar.seven-days #header-days {
	font-size: 0;
	border-bottom: 3px solid #ddd;
}
#calendar.seven-days #header-days h4#current-week-number {
	display: inline-block;
	width: 57px;
	font-size: 14px;
	color: #aaa;
	margin: 0;
	padding: 0 4px;
}
#calendar.seven-days #header-days h4#current-week-number.future {
	color: #fd7473;
}
#calendar.seven-days #header-days h4 {
	font-weight: 400;
	height: 25px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	width: calc((100% - 58px)/7);
	margin: 0;
	text-align: center;
	line-height: 25px;
}
#calendar.seven-days #header-days h4 span {
	margin-left: 2px;
	display: inline-block;
	width: 22px;
	height: 22px;
}
#calendar.seven-days #header-days h4 span.active {
	background-color: #fd7473;
	color: #fff;
	border-radius: 100%;
}
/* Calendar Table Styles */
.dtm #calendar.seven-days {
	position: absolute;
	top: 73px;
	bottom: 0;
	width: auto;
	left: 20px;
	right: 20px;
	overflow-y: auto;
}
.dtm #calendar-body {
	margin: 10px 0 20px 0;
	position: relative;
}
.dtm .fc .fc-body > tr:first-child > td.fc-widget-content {
	border-top-width: 0px;
}
.dtm .fc .fc-slats tr:first-child .week-col {
	border-top: 1px solid #ddd;
}
.dtm .fc td {
	border-left-width: 0px;
	height: 20px;
}
.dtm .fc td.fc-axis {
	border-top-width: 0px;
}
.dtm .fc td.fc-axis span {
	position: relative;
	top: -10px;
	height: 19px;
	display: block;
	padding-right: 5px;
	transition: height .3s;
}
.dtm .fc td.fc-axis span:after {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	right: -8px;
	height: 1px;
	width: 10px;
	background-color: #ddd;
	transition: top .3s;
}
.dtm .fc .fc-slats tr:first-child span:after {
	top: 10px;
}
/* The FAKE MODAL, WOOMF MODAL */
#calendar.seven-days.fake-modal {
	position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index: 1001;
    background-color: rgba(0,0,0,.8);
    overflow-y: hidden;
}
#calendar.seven-days.fake-modal #share-availability-header{
	position: absolute;
	top: 7%;
	width: 100%;
	background-color: #F3F3F3;
	border-bottom: 1px solid #ddd;
	padding: 20px 20px 10px
}
#calendar.seven-days.fake-modal #share-availability-header h1 {
	margin: 0;
    font-size: 36px;
    color: #34495E;
}
#calendar.seven-days.fake-modal #share-availability-header p {
	margin: 10px 0;
    font-size: 16px;
    color: #777;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
}
#calendar.seven-days.fake-modal #calendar-header {
	position: absolute;
	top: calc(7% + 117px);
	width: 100%;
}
#calendar.seven-days.fake-modal #calendar-body {
	margin: 0;
	position: absolute;
	top: calc(7% + 190px);
	bottom: 7%;
	width: 100%;
	background-color: #fff;
	overflow-y: auto;
	padding: 0 20px;
}
#calendar.seven-days.fake-modal #calendar-body td,
#calendar.seven-days.fake-modal #calendar-body td.fc-axis span {
	height: 10px;
}
#calendar.seven-days.fake-modal #calendar-body td.fc-axis span:after {
	top: 10px;
}
/* End The FAKE MODAL, WOOMF MODAL */