#calendar.seven-days .fc-toolbar {
	margin-top: 10px;
}
#calendar.seven-days .current-week-number {
	font-size: 14px;
	color: #aaa;
	margin-right: 2px;
	width: auto;
}
#calendar.seven-days .current-week-number.future {
	color: #fd7473;
}
#calendar.seven-days h2 {
	font-size: 20px;
	font-weight: 400;
}
#calendar.seven-days h2 span {
	font-weight: 100;
}
#calendar.seven-days th {
	font-weight: 400;
	height: 25px;
	font-size: 15px;
	vertical-align: middle;
}
#calendar.seven-days th span {
	margin-left: 2px;
	display: inline-block;
	width: 22px;
	height: 22px;
}
#calendar.seven-days th span.active {
	background-color: #fd7473;
	color: #fff;
	border-radius: 100%;
}