#calendar.seven-days .fc-toolbar {
	margin-top: 10px;
	padding-left: 0;
}
/* Calendar Layout */
.dtm #calendar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	transition: padding .3s, width .3s, top .3s .3s, transform .3s, left .3s;
	padding: 0;
}
#calendar-shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	background-color: rgba(0,0,0,.8);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
}
.dtm #calendar-body {
	padding: 10px 20px 20px;
	position: absolute;
	top: 73px;
	bottom: 0;
	background-color: #fff;
	overflow-y: auto;
}
/* Calendar Header */
#calendar-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 20px;
	background-color: #fff;
	z-index: 100;
	opacity: 1;
	visibility: visible;
	transition: width .3s, opacity .3s, visibility .3s, top .3s;
}
#calendar.seven-days h2 {
	font-size: 20px;
	font-weight: 400;
}
#calendar.seven-days h2 span {
	font-weight: 100;
}
#calendar.seven-days #header-days {
	font-size: 0;
	border-bottom: 3px solid #ddd;
}
#calendar.seven-days #header-days h4#current-week-number {
	display: inline-block;
	width: 57px;
	font-size: 14px;
	color: #aaa;
	margin: 0;
	padding: 0 4px;
}
#calendar.seven-days #header-days h4#current-week-number.future {
	color: #fd7473;
}
#calendar.seven-days #header-days h4 {
	font-weight: 400;
	height: 25px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	width: calc((100% - 58px)/7);
	margin: 0;
	text-align: center;
	line-height: 25px;
}
#calendar.seven-days #header-days h4 span {
	margin-left: 2px;
	display: inline-block;
	width: 22px;
	height: 22px;
}
#calendar.seven-days #header-days h4 span.active {
	background-color: #fd7473;
	color: #fff;
	border-radius: 100%;
}
/* Calendar Table Styles */
.dtm .fc .fc-body > tr:first-child > td.fc-widget-content {
	border-top-width: 0px;
}
.dtm .fc .fc-slats tr:first-child .week-col {
	border-top: 1px solid #ddd;
}
.dtm .fc td {
	font-size: 14px;
	border-left-width: 0px;
	height: 20px;
	transition: height .3s;
}
.dtm .fc td.fc-axis {
	border-top-width: 0px;
}
.dtm .fc td.fc-axis span {
	position: relative;
	top: -10px;
	height: 19px;
	display: block;
	padding-right: 5px;
	transition: height .3s, font-size .3s;
}
.dtm .fc td.fc-axis span:after {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	right: -8px;
	height: 1px;
	width: 10px;
	background-color: #ddd;
	transition: top .3s;
}
.dtm .fc .fc-slats tr:first-child span:after {
	top: 10px;
}
/* The FAKE MODAL, WOOMF MODAL */
.dtm #calendar.fake-modal {
    z-index: 1002;
    width: 1200px;
    padding: 0;
    bottom: 50px;
    top: 167px;
}
@media (max-width: 1200px) {
	.dtm #calendar.fake-modal {
	    width: 100%;
	}
}
@media (min-width: 1201px) {
	.dtm #calendar.fake-modal {
		left: 50%;
		transform: translateX(-50%);
	}
}
.shade #calendar-shade {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s .3s, visibility .3s .3s;
}
#calendar #share-availability-header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #F3F3F3;
	border-bottom: 1px solid #ddd;
	padding: 20px 20px 10px;
	height: 0px;
	visibility: hidden;
	opacity: 0;
    text-align: center;
	transform: translateY(0%);
	transition: transform .3s .6s;
}
#calendar.fake-modal #share-availability-header {
	height: 117px;
	visibility: visible;
	opacity: 1;
	transform: translateY(-100%);
}
#calendar #share-availability-header span {
    font-size: 30px;
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    border: 1px solid #e8e8e8;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.72);
    color: #34495E;
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
#calendar #share-availability-header p {
	margin: 5px 0 0;
    font-size: 16px;
    color: #777;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
}
.dtm #calendar.fake-modal #calendar-body td,
.dtm #calendar.fake-modal #calendar-body td.fc-axis span {
	font-size: 12px;
	color: rgba(52, 73, 94, 0.79);
	border-color: #f1f1f1;
	height: 10px;
}
.dtm #calendar.fake-modal #calendar-body td.fc-axis span:after {
	top: 10px;
}
/* End The FAKE MODAL, WOOMF MODAL */