$primary-navy: #34495e;
$navy-light: #375b80;
$navy-transparent-20: rgba(63, 81, 181, .2);

$red: #d21616;
$yellow: #d29842;
$green: #0aa98a;
$green-light: #27ae60;
$blue-light: #52b7d9;

// greys
$g555: #555;
$g777: #777;
$g999: #999;
$gaaa: #aaa;
$gccc: #ccc;
$gddd: #ddd;
$geee: #eee;
$white-screen: #f3f3f3;
$gfff: #fff;
