$primary-navy: #34495e;

$red: #D21616;
$yellow: #D29842;
$green: #0AA98A;
$green-light: #27ae60;
$blue-light: #52B7D9;

$grey-dark: #555;
$grey-medium: #777;
$grey-medium-light: #999;
$grey-light: #ddd;
$white-screen: #f3f3f3;
$white: #fff;
