/*
    Variables to change color of components that have the same color.
    This is created for convenience, as multiple components may have same colors.
     */

// Light mode shared variables
$light__base-component-bg: $gfff;

// Dark mode shared variables
$dark__base-component-bg: $g333;

/*
    Change the variables in the $theme below to change the themes.

    To change the colors by theme, use this function:

    @include theme() {
        background-color: t('key');
        // or other css...
    }

    Try to be as descriptive as possible when naming variables, ex) instead of sidebar, name it as sidebar-background.
*/

$themes : (
    // Light mode
    light: (
        text-color: $primary-navy,

        background: $g808080,                               // Not sure what this is for, but was referenced in grid_layout.scss
        main-bar-background: $light__base-component-bg,
        top-bar-background: $light__base-component-bg,
        main-calendar-border-color: #ddd,

        sidebar-background: $light__base-component-bg,

        sidebar-input-background: #ddd,
        sidebar-input-border: 1px solid $gfff,
        sidebar-input-border_hover: 1px solid $gddd,
        sidebar-input-border_foucs: 1px solid $blue-alt
    ),
    // Dark Mode
    dark: (
        text-color: white,

        background: $g808080,
        sidebar-background: $dark__base-component-bg,
        main-bar-background: $dark__base-component-bg,
        top-bar-background: $dark__base-component-bg,
        main-calendar-border-color: #ddd,
    )
);


// Function for using the themes


@mixin theme() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
            $value: map-get(map-get($themes, $theme), '#{$key}');
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
        }
    }
}
  
@function t($key) {
    @return map-get($theme-map, $key);
}