/*
    Change the variables in the $theme below to change the themes.

    To change the colors by theme, use this function:

    @include theme() {
        background-color: t('key');
    }
*/

$themes : (
    // Light mode
    light: (
        background: $g808080,
        sidebar: $gfff,
    )
);

// Function for using the themes

@mixin theme() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
            $value: map-get(map-get($themes, $theme), '#{$key}');
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
        }
    }
}
  
@function t($key) {
    @return map-get($theme-map, $key);
}