{% extends "pilot/base.html" %}
{% block content %}
<div class="content-section">
	<h3>Select a PILOT section below </h3>
	<p class="text-muted">Take a look at the Course and PILOT sections below and select the PILOT section you would like to register for. <b> Note that some sections are specific to the course section you are enrolled in.</b></p>

	<form method="post">
		{% csrf_token %}
		<div class="form-group">
			{%for course, sections in courses.items%}
			<b>{{ course.name }}</b>
				<br>
				{%for section, offerings in sections.items%}
					<p class="text-muted"><b>{{ section.instructors }}, {{section.meeting_section}}</b></p>
					{%for offering in offerings%}
						<input type="radio" class="form-control" name="{{course.id}}" value="{{section.id}}" id="sect_id">
						<label for="sect_id">{{offering.day}}, {{offering.time_start}}-{{offering.time_end}}</label>
						<br>
					{%endfor%}
					<br>
				{%endfor%}
				<br>
			{%endfor%}
		</div>
		<input class="green-button" type="submit" value="Submit" onclick="return validateAndSend()">
		<p id="select_text" class="errorlist">

		</p>
	</form>
	<script>
		function validateAndSend() {
			if ($('input[type=radio]').is(":checked")) {
				return true;
			} else {
				$("#select_text").text("Select a Section");
				return false;
			}
		}
	</script>
</div>
{% endblock content %}