{% extends "pilot/base.html" %}
{% block content %}
<div class="content-section">
	<form method="post">
		{% csrf_token %}
		<fieldset>
			<h3>
				Welcome to PILOT Registration!
			</h3>
			<p class="text-muted">As you know, the PILOT program is very popular. Please be patient during this registration process as sections fill up. <br> With this in mind, we recommend you have the following information handy: </p>
				<p class="text-muted"> --> Your JHED and HOPID<br>
				--> The courses you are interested in registering for <br>
				--> The section number you are enrolled in <br>
			    --> Your weekly schedule </p>
		</fieldset>
		<div>
			<button type="submit" class="green-button">Begin Registration!</button>
		</div>
	</form>
</div>
{% endblock content %}