name: Backend Linter

on:
  push:
    branches:
      - prod
      - develop
      - feature/add-saturday-sunday
  pull_request:
    branches:
      - prod
      - develop
      - feature/add-saturday-sunday

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
          version: 22.1.0
